/* Base */
* {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  font-smoothing: antialiased;
}

*[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
}

address,
em {
  font-style: normal;
}

img,
a img,
fieldset {
  border: none;
}

legend,
caption {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

caption {
  position: static;
  color: transparent;
}

.ie7Only caption {
  display: none;
}

table {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
  /* IE7 */
}

audio,
button,
canvas,
input,
label,
iframe,
img,
select,
svg,
video {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #000;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #aaa !important;
}

:-ms-input-placeholder {
  color: #aaa !important;
}

::-moz-placeholder {
  color: #aaa !important;
}

:-moz-placeholder {
  color: #aaa !important;
}

::placeholder {
  color: #aaa !important;
}

.placeholderTxt {
  color: #aaa !important;
}

/* Selection */
::-moz-selection {
  text-shadow: none;
  background: #ddd;
}

::selection {
  text-shadow: none;
  background: #ddd;
}
