/* Common */
* {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
*[hidden] {
  display: none !important;
}
a {
  text-decoration: none;
}
img,
a img,
fieldset {
  border: none;
}
legend,
caption {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
caption {
  position: static;
  color: transparent;
}
table {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  resize: vertical;
}
[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}
[type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
audio,
button,
canvas,
input,
label,
iframe,
img,
select,
svg,
video {
  vertical-align: middle;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #000;
}
* {
  font-family: 'Noto Sans KR Light', 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 700;
}
html {
  overflow-y: scroll;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
body {
  color: #808080;
  font-size: 16px;
  word-break: break-all;
  word-spacing: -.5px;
  letter-spacing: -.9px;
  background-color: #fff;
}
a {
  color: #666;
}
a[href*=tel] {
  color: inherit;
}
table td {
  word-break: break-all;
}
i,
em,
address {
  font-style: normal;
}
html {
  visibility: hidden;
}
.activeJS {
  visibility: visible;
}
img {
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
}
strong {
  font-family: 'Noto Sans KR Bold', 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
  font-weight: 700;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-track {
  background: #d9d9d9;
}
/* Placeholder */
::-webkit-input-placeholder {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.8px;
}
:-ms-input-placeholder {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.8px;
}
::-moz-placeholder {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.8px;
}
:-moz-placeholder {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.8px;
}
::placeholder {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.8px;
}

@media only screen and (max-width: 767px) {
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
  }
  :-moz-placeholder {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
}
/* Clear Fix */
.clearFix:before,
.clearFix:after {
  content: '';
  display: table;
}
.clearFix:after {
  clear: both;
}
/* skip */
.skipToContent {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  z-index: 1000;
  min-width: 320px;
  height: 60px;
  color: #666;
  font-size: 30px;
  text-align: center;
  letter-spacing: -1.5px;
  line-height: 60px;
  background-color: #12b8ba;
  background-color: rgba(25, 145, 205, 0.8);
  transition: .1s ease-in-out;
}
.skipToContent:focus, .skipToContent:hover {
  top: 0;
  color: #fff;
  text-decoration: none;
}
/* Disable outline */
.disableOutline * {
  outline: 0 !important;
}
/* layout */
#wrap {
  overflow: hidden;
  /* min-width: 360px; */
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  /* min-width: 360px; */
  height: 128px;
}
.header .headerTop {
  background-color:#000;
}
.header .headerTop > .inner {
  position: relative;
  width: 1280px;
  height:64px;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (max-width:767px) {
  .header {
    height: 64px;
  }
  .header .headerTop > .inner {
    width: 100%;
  }
}
.header .logo {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1;
}
.header .topMenu {
  width: 483px;
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 10;
}
.header .topMenu:after {
  content: '';
  display: table;
}
.header .topMenu .topSearch {
   float: left;
}
.header .topMenu ul > li {
  float: left;
  position: relative;
  margin-left: 34px;
}
.header .topMenu ul > li:first-child {
  margin-left: 45px;
}
.header .topMenu ul > li > a {
  display: inline-block;
  color: #f2f2f2;
  font-size: 17px;
}
.header .topMenu .cart {
  float:left;
  width: 31px;
  height: 28px;
  margin-left: 20px;
  background: url(../img/common/icon_cart.png) no-repeat 0 0;
  position: relative;
}
.header .topMenu .cart span {
  width: 20px;
  height:20px;
  line-height: 20px;
  font-size: 15px;
  color:#f2f2f2;
  border-radius: 80px;
  background-color: #e30385;
  text-align: center;
  position:absolute;
  top:13px;
  right: -15px;
}
/* gnb */
.gnb {
  position: relative;
  height: 64px;
  background-color: #fff;
}
.gnb .inner {
  position: relative;
  width: 1280px;
}
@media only screen and (max-width:767px) {
  .header .topMenu,
  .gnb {
    display: none;
  }
  .gnb .inner {
    width: 100%;
  }
}
.gnbList {
  text-align: center;
}
.gnbList > li {
  display: inline-block;
  margin: 17px 200px 0 0;
}
.gnbList > li > a {
  color: #222;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
}
/* footer */
.footer {
  padding:44px 15px 0;
  height: 463px;
  background-color: #090103;
  box-sizing: border-box;
}
.footerLogo {
  float:left;
}
.footerMenu {
  float:right;
  width: 659px;
}
.footerMenu > li {
  float:left;
  width: 33.3%;
  font-size:24px;
}
.footerMenu > li > a {
  display: block;
  margin-bottom: 20px;
  color:#fff;
}
.footerMenu > li ul li {
  font-size:18px;
  margin-bottom: 15px;
  color:#fff;
}
/* footerLink */
.footerLink {
  clear: both;
  float:right;
  width: 810px;
  margin:80px 0 20px 0;
}
.footerLink li {
  float:left;
  width: 25%;
}
.footerLink li a {
  display: block;
  text-align: center;
  font-size: 20px;
  color:#fff;
}
/* footerInfo */
.footerInfo {
  clear: both;
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid #6b6768;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer {
    height: 100%;
    padding:25px 10px;
  }
  .footerLogo {
    display: none;
  }
  .footerMenu {
    float:none;
    width: 100%;
  }
  .footerMenu > li {
    font-size: 13px;
  }
  .footerMenu > li ul li {
    font-size: 12px;
  }
  .footerLink {
    width: 100%;
    margin:30px 0 10px 0;
  }
  .footerLink li a {
    font-size: 13px;
  }

}
/* inner */
.inner {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.inner:before, .inner:after,
.content:before,
.content:after {
  content: '';
  display: table;
}
.inner:after,
.content:after {
  clear: both;
}
@media only screen and (max-width:767px) {
  .inner {
    width: 100%;
  }
}
.content {
  position: relative;
  box-sizing: border-box;
  padding: 128px 0 100px;
}
.conTop {
  padding:170px 15px 0;
  position: relative;
}
.conTop .title {
  float:left;
  font-size: 30px;
  font-weight: 400;
  color:#000;
}
.breadCrumb {
  float:right;
  padding-top: 10px;
}
.breadCrumb li {
  float:left;
  position: relative;
  margin-left: 5px;
  padding-right: 14px;
  color:#000;
  font-size: 12px;
}
.breadCrumb li.current {
  font-weight: 700;
}
.breadCrumb li::after {
  content:'';
  display: block;
  position: absolute;
  top:50%;
  right: 0px;
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background: url(../img/common/img_clamp.gif) no-repeat 0 0;
}
.breadCrumb li.current::after {
  background:none;
}
@media only screen and (max-width:767px) {
  .content {
    padding: 64px 10px 50px;
  }
  .conTop {
    padding:50px 10px 0;
  }

  .conTop .title {
    float:none;
    font-size: 16px;
  }
  .breadCrumb {
    float:none;
  }
}
/* hideEl */
.hideEl {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
/* hideTxt */
.hideTxt {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}
.space {
  margin: 0 5px;
}
.marginB01 {
  margin-bottom: 100px !important;
}
.marginB02 {
  margin-bottom:50px !important;
}
.marginB03 {
  margin-bottom:30px !important;
}
.marginB04 {
  margin-bottom:20px !important;
}
.marginB05 {
  margin-bottom:10px !important;
}
.marginL01 {
  margin-left: 100px !important;
}
.marginL02 {
  margin-left:50px !important;
}
.marginL03 {
  margin-left:30px !important;
}
.marginL04 {
  margin-left:25px !important;
}
.alignL {
  text-align: left;
}
.alignC {
  text-align: center;
}
.floatL {
  float:left;
}
.floatR {
  float:right;
}
.fontSXS {
  font-size:13px;
}
.fontB {
  font-weight: 700;
}
/* underline */
.underline {
  border-bottom: 1px solid #9e9e9e;
}
/* text color */
.color01 {
  color: #000 !important;
}
.color02 {
  color: #3086c9 !important;
}
.color03 {
  color: #e30385 !important;
}
.color04 {
  color: #808080 !important;
}
.color05 {
  color: #888 !important;
}
.color06 {
  color: #db0000 !important;
}
/* bg Color */
.bg-color01 {
  background-color: #f7f7f7 !important;
}
.bg-color02 {
  background-color: #3086c9 !important;
}
.bg-color03 {
  background-color: #23507b !important;
}
.bg-color04 {
  background-color: #254069 !important;
}
.bg-color05 {
  background-color: #f6f6f6 !important;
}
.bg-color06 {
  background-color: #fff0f9 !important;
}
.rowSection:before,
.rowSection:after {
  content: '';
  display: table;
}
.rowSection:after {
  clear: both;
}
.rowSection {
  padding-top: 150px;
}
.rowSection01 {
   padding: 130px 0 128px 0;
   border-bottom: 1px solid #d3d3d3;
}
@media only screen and (max-width:767px) {
  .rowSection {
    padding-top: 45px;
  }
  .rowSection01 {
    padding: 35px 0 34px 0;
  }
}
/* table */
[class*=table] table {
  table-layout: fixed;
}
[class*=table] th,
[class*=table] td {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-break: break-all;
}
[class*=table] th {
  padding: 13px 5px 13px;
}
[class*=table] td {
  padding: 11px 5px 15px;
}
[class*=table] th.alignL,
[class*=table] td.alignL {
   text-align: left;
}
[class*=table] th.fontB,
[class*=table] td.fontB {
  font-weight: 700;
}
.table-type01 table th {
  text-align: left;
  font-size: 18px;
  color:#404040;
  font-weight: 500;
}
.table-type01 table th.p-type01 {
   padding:0 0 30px;
}
.table-type01 table td {
  text-align:left;
  color: #000;
}
.table-type02 {
  position: relative;
}
.table-type02 table {
   border-bottom:1px solid #000;
}
.table-type02 table thead th {
  padding:14px 0 15px;
  border-top:3px solid #000;
  border-bottom:1px solid #000;
  font-size: 14px;
  color:#000;
}
.table-type02 table tbody th {
  padding:16px 0 17px;
  border-bottom:1px solid #d3d3d3;
  font-size: 12px;
  color:#808080;
}
.table-type02 table tbody td {
  padding:23px 0 25px;
  font-size: 16px;
  color:#000;
}
.table-type03 table {
  border-bottom:1px solid #000;
}
.table-type03 table thead th {
  padding:22px 0;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  font-size: 15px;
  font-weight: 500;
  color:#000;
}
.table-type03 table tbody td {
  padding:23px 0 25px;
  font-size: 16px;
  color:#000;
  border-bottom: 1px solid #d3d3d3;
}
.table-type03 table thead th.alignL,
.table-type03 table tbody td.alignL {
  padding-left: 10px;
}
.table-type03 table tbody tr:last-child td {
   border-bottom: 1px solid #000;
}
.table-type03 + p {
  margin-top: 20px;
  padding-left: 40px;
  font-size: 12px;
  color: #000;
}
.table-type04 table {
  border-top:1px solid #252525;
  border-bottom:1px solid #252525;
}
.table-type04 table th {
  padding:28px 0 27px;
  text-align: left;
  font-size: 16px;
  color: #000;
  border-right:1px solid #d3d3d3;
  border-bottom:1px solid #d3d3d3;
}
.table-type04 table td {
  padding:28px 0 27px 40px;
  text-align: left;
  border-bottom:1px solid #d3d3d3;
  position: relative;
  font-size: 16px;
  color:#000;
}
.table-type04 table tr:last-child th,
.table-type04 table tr:last-child td {
  border-bottom: 0;
}
.table-type05 table {
  border-top:1px solid #000;
  border-right:1px solid #000;
  border-left:1px solid #000;
}
.table-type05 table th {
  padding:24px 0;
  border-bottom:1px solid #000;
  font-size: 13px;
  font-weight: 400;
  color:#000;
}
.table-type05 table td {
  padding:43px 0 42px;
  border-bottom:1px solid #000;
  font-size: 23px;
  color:#000;
}
.table-type05 table td.alignL {
  text-align: left;
}
.table-type06 table {
  border-top:3px solid #252525;
  border-bottom:1px solid #252525;
}
.table-type06 table th {
  padding:37px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  border-right:1px solid #d3d3d3;
  border-bottom:1px solid #d3d3d3;
  background-color: #eeeeee;
}
.table-type06 table td {
  padding:37px 0 37px 70px;
  text-align: left;
  border-bottom:1px solid #d3d3d3;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color:#000;
}
.table-type06 table td.vTop {
  vertical-align: top;
}
.table-type06 table th.bordeBNone,
.table-type06 table td.bordeBNone {
  border-bottom: none;
}
.table-type06 table tr:last-child th,
.table-type06 table tr:last-child td {
  border-bottom: 0;
}
@media only screen and (max-width:767px) {
  [class*=table] th, [class*=table] td {
    font-size: 13px;
  }
  .table-type01 table th {
    font-size: 13px;
  }
  .table-type02 table  thead th,
  .table-type02 table tbody td,
  .table-type03 table thead th,
  .table-type03 table tbody td,
  .table-type04 table th,
  .table-type04 table td {
    font-size: 13px;
  }
}  
/* tab */
.tab:after {
  content: '';
  display: table;
  clear: both;
}
.tab li {
  float: left;
  width: 50%;
}
/* tab Type */
.tab {
  position: relative;
}
.tab li a {
  display: block;
  height: 50px;
  color: #d3d3d3;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  letter-spacing: -1px;
}
.tab li:first-child a {
  margin-left: 0;
}
.tab .current a {
  position: relative;
  z-index: 1;
  border-color: #000;
  color: #fff;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  background-color: #000;
}
.tab-type01 li {
  position: relative;
}
.tab-type01 li a {
  height: 118px;
  color: #d3d3d3;
  line-height: 116px;
}
.tab-type02 {
  width: 690px;
  margin:0 auto;
}
.tab-type02 li {
  position: relative;
}
.tab-type02 li a,
.tab-type03 li a {
  height: 87px;
  font-size: 15px;
  color: #d3d3d3;
  line-height: 85px;
}
.tab-type02 li.current a,
.tab-type03 li.current a {
  font-weight: 700;
  color:#252525;
  background-color: #fff;
  border-bottom: 0;
  padding-bottom: 1px;
}
.tab-type02 li.current a > span,
.tab-type03 li.current a > span {
  position: relative;
  font-weight: 700;
}
.tab-type02 li.current a > span:before,
.tab-type03 li.current a > span:before {
  content: '';
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #252525;
}
.tab-type03 {
  width: 825px;
  margin:0 auto;
}
.tab-type04 {
  margin-bottom: 30px;
}
.tab-type04 li a {
  font-size: 21px;
  font-weight: 300;
  color:#575757;
}
.tab-type04 li.current a {
  color:#e30385;
  border-bottom: 1px solid #e30385;
  background-color: transparent;
}
.tab-type05 li a {
  font-size: 20px;
  font-weight: 700;
  color:#d3d3d3;
}
.tab-type05 li.current a {
  color:#000;
  background-color: transparent;
  font-weight: 700;
}
.tab-type06 li a {
  font-size: 17px;
  font-weight: 350;
  color:#252525;
}
.tab-type06 li.current a {
  color:#e30385;
  background-color: transparent;
  font-weight: 350;
}
.tab-col01 li {
  width: 100%;
}
.tab-col02 li {
  width: 50%;
}
.tab-col03 li {
  width: 33.3%;
}
.tab-col04 li {
  width: 25%;
}
.tab-col05 li {
  width: 20%;
}
.tab-col06 li {
  width: 16.6%;
}
.tab-col07 li {
   width: 14.285%;
}
.tab-col08 li {
  width: 12.5%;
}
.tab-col11 li {
  width: 9.090%;
}
.tab-size01 {
  width: 950px;
  margin:0 auto;
}
.tab-size02 {
   width: 715px;
}
.tab-sizeFull {
  width: 1220px;
}
@media only screen and (max-width:767px) {
  .tab,
  .tab-sizeFull {
    width: 100%;
  }
  .tab-type01 li a {
    height: 59px;
    line-height: 57px;
  }
  .tab-type05 li a {
    font-size: 15px;
  }
  .tab-size01 {
    width: 100%;
    margin:0;
  }
  .tab-col04 li,
  .tab-col05 li,
  .tab-col06 li,
  .tab-col07 li,
  .tab-col11 li {
    width: 50%;
  }
  .tab-type02 li a, .tab-type03 li a {
    height: 40px;
    line-height: 38px;
    font-size: 13px;
  }
  .tab-type02 li.current a > span:before,
  .tab-type03 li.current a > span:before {
    top:30px;
  }  
}

/* btn wrap */
.paging + .btnWrap.alignL, .paging + .btnWrap.alignR, .paging + .btnWrap.justify {
  clear: both;
  position: relative;
  min-height: 0;
  margin-top: -40px;
}
.paging + .btnWrap.alignL {
  float: left;
}
.paging + .btnWrap.alignR {
  float: right;
}
.btnWrap.alignR + .paging {
  margin-top: 10px;
}
.btnWrap {
  min-height: 40px;
  margin-top: 30px;
  text-align: center;
}
.btnWrap:before, .btnWrap:after {
  content: '';
  display: table;
}
.btnWrap:after {
  clear: both;
}
[class*=table] + .btnWrap {
  margin-top: 40px;
}
.btnWrap .right {
  float: right;
}
.btnWrap .left {
  float: left;
}
.btnWrap.alignL {
  text-align: left;
}
.btnWrap.alignR {
  text-align: right;
}
/* btn default */
[class*=button] {
  display: inline-block;
  vertical-align: middle;
  min-width: 216px;
  height: 80px;
  font-family: 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  background-color: #000;
  border:1px solid #000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  line-height: 78px;
  cursor: pointer;
}
.button:first-child {
  margin-left: 0;
}
.button:last-child {
  margin-right: 0;
}
.button[class~=button-icon] {
  padding: 0 30px;
}
.button[disabled] {
  border-color: #aaa;
  color: #fff;
  background-color: #aaa;
  cursor: default;
}
.btnWrap [class*=button] + [class*=button] {
  margin-left: 10px;
}
.button-style01 {
  margin-right:-3px;
  background-color: #fff;
  border:1px solid #000;
  color:#000;
}
.button-style02 {
  background-color:#e9e9e9;
  color:#000;
  border:0;
}
.button-style03 {
   font-size: 15px;
   font-weight: 500;
   background-color: #fff;
   border:2px solid #000;
   color:#000;
}
.button-style04 {
  clear:both;
  width: 116px;
  min-width: 116px;
  height: 36px;
  line-height: 36px;
  margin:35px auto;
  font-size: 15px;
  font-weight: 500;
  color:#fff;
}
.button-style05 {
  min-width: 64px;
  height: 22px;
  line-height: 20px;
  font-size:12px;
  border:1px solid #000;
}
.button-style06 {
  font-size:15px;
  border:1px solid #000;
}
.button-style07 {
  font-size: 23px;
  font-weight: 300;
  border:0;
}
.button-post {
  min-width: 103px;
  height: 33px;
  line-height: 31px;
  margin-left: -3px;
  font-size: 12px;
}
/* button color */
.button-color01 {
  background-color: #fff;
  color:#000;
}
.button-color02 {
  border-color: #12b8ba;
  color: #12b8ba;
}
.button-color03 {
  background-color:#e9e9e9;
  color:#000;
}
.button-color04 {
  background-color:#e30385;
  color:#fff;
}
.button-color05 {
  color:#000;
  background-color: transparent;
}
/* button size */
.button-font01 {
  font-size: 30px;
}
.button-font02 {
  font-size: 15px;
}
.button-font03 {
  font-size: 13px;
}
.button-font04 {
  font-size: 12px;
}
/* button size */
.button-sizeS {
  min-width: 0;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 28px;
}
.button-size01 {
  min-width: 140px;
  height: 50px;
  line-height: 50px;
}
.button-size02 {
  width: 130px;
  min-width: 125px;
  height: 36px;
  line-height: 34px;
}
.button-size03 {
  min-width: 125px;
  height: 23px;
  line-height: 21px;
}
.button-size04 {
  min-width: 129px;
  height: 59px;
  line-height: 59px;
}
.button-size05 {
  min-width: 129px;
  height: 54px;
  line-height: 54px;
}
.button-size06 {
  min-width: 133px;
  height: 44px;
  line-height: 44px;
}
.button-size07 {
  min-width: 282px;
  height: 37px;
  line-height: 37px;
}
.button-size08 {
  min-width: 90px;
  height: 34px;
  line-height: 34px;
}
.button-sizeL {
  min-width: 440px;
}
@media only screen and (max-width: 767px) {
  [class*=button] {
    min-width: 100%;
    height:40px;
    line-height: 38px;
    font-size: 13px;

  }
  .btnWrap [class*=button] + [class*=button] {
    margin:10px 0 0 0;
  }
  .button-size01 {
    min-width: 120px;
    height: 30px;
    line-height: 30px;
  }
  .button-size06 {
    min-width: 92px;
    height: 26px;
    line-height: 26px;
  }

}

[class*=icon-]::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text] {
  -webkit-appearance: none;
  max-width: 100%;
  padding: 0 20px;
}
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=search],
select,
textarea {
  border: 1px solid #dcdcdc;
  color: #808080;
}
input[type=text]::-ms-clear {
  display: none;
}
input[type=text]::-ms-reveal {
  display: none;
}
input[type=email],
input[type=text],
input[type=tel],
input[type=number],
input[type=password] {
  /* height: 60px; */
  line-height: normal;
}
button,
input[type=reset],
input[type=button],
input[type=submit] {
  overflow: visible;
  padding: 0;
  border: none;
  background: none;
}
textarea {
  padding: 10px;
}
/* input */
.input[type=text]:disabled {
  background-color: #f9f9f9;
}
/* feForm 0.1k Default style */
[class*='feFo'] {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
[class*='feFo'] > input,
[class*='feFo'] > select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
[class*='feFo'].active {
  outline: 2px auto Highlight;
  outline: 2px auto -webkit-focus-ring-color;
}
/* feForm User Style */
.labelTxt {
  vertical-align: middle;
  color: #808080;
  line-height: 25px;
}
.labelTxt + label {
  margin-left: 12px;
}
.labelTxt + input[type=text] {
  display: inline-block;
  margin-left: 10px;
}
/* feFoRadio */
.feFoRadio {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-image: url(../img/common/img_radioOff.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.feFoRadio.checked {
  background-image: url(../img/common/img_radioOn.png);
}
.feFoRadio.checked + .labelTxt {
  color:#000;
}
.feFoRadio.disabled {
  background-position: -117px 0;
}
.feFoRadio.checked.disabled {
  background-position: -117px 0;
}
/* feFoCheckBox */
.feFoCheck {
  width: 22px;
  height: 21px;
  margin-right: 8px;
  background-image: url(../img/common/img_chkboxOff.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.feFoCheck.checked {
  background-image: url(../img/common/img_chkboxOn.png);
  background-position: 0 0;
}

/* feFoSelect */
[class*='feFo'] > select {
  z-index: 1;
  width: 100%;
  border: none;
  border-radius: 0;
}
.feFoSelect {
  border: 1px solid #000;
  position: relative;
  width: 100px;
  height: 40px;
  padding: 0 30px 0 17px;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  text-align: left;
  line-height: 38px;
  background-color: #fff;
}
.feFoSelect + .feFoSelect {
  margin-left: 8px;
}

.feFoSelect:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 8px;
  height: 5px;
  margin-top: -2.5px;
  background: url(../img/common/bg_select.png) no-repeat 0 0;
}
.feFoSelect > span {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.feFoSelect .select {
  display: inline-block;
  width: 100%;
  color: #666;
  font-size: 16px;
}
.feFoSelect.disabled {
  background-color: #f9f9f9;
}
option:disabled {
  background-color: #ddd;
}
/* feFoFile */
[class*='feFo'] > [type='file'] {
  display: none;
}
[class*='feFo'] input[type=text].feFoFileInpTxt {
  position: static;
  vertical-align: top;
  width: auto;
  height: auto;
  height: 34px;
  border-width: 1px;
  border-color: #ddd;
  font-size: 14px;
}
.feFoFileBtn {
  height: 34px;
  margin-left: 9px;
  padding: 0 18px;
  border: 1px solid #254069;
  border-radius: 3px;
  color: #254069;
  font-size: 14px;
}
.feFoFileBtn.disabled {
  color: #666;
  background-color: #f9f9f9;
}
[class*=input] {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}
[class*=input] + [class*=input] {
  margin-left: 3px;
}
.input-sizeXXS {
  width: 72px;
}
.input-sizeXS {
  width: 110px;
}
.input-sizeS {
  width: 163px;
}
.input-sizeM {
  width: 305px;
}
.input-sizeL {
  width: 440px;
}
.input-sizeXXL {
  width: 835px;
}
.input-sizeFull {
  width: 100%;
}
.input-style01 {
  width: 288px;
  height: 39px;
  font-size: 16px;
  line-height: 39px;
  border:1px solid #000;
}
.input-style02 {
  width: 219px;
  height: 39px;
  line-height: 39px;
}
.input-style03 {
  height: 33px;
  line-height: 33px;
  padding:0 10px;
}
.input-style04 {
  height: 53px;
  line-height: 53px;
  border:3px solid #000;
  background-color: #fff;
}
.input-style05 {
  height: 54px;
  line-height: 54px;
}
@media only screen and (max-width: 767px) {
  [class*=input] {
    height: 40px;
    font-size: 13px;
    line-height: 30px;
  }
}
.feFoSelect {
  width: 211px;
  height: 39px;
  font-size: 16px;
  line-height: 37px;
}
.feFoSelect-style01 {
  width: 73px;
  height: 33px;
  line-height: 31px;
}
.feFoSelect-style01:after {
  right: 10px;
}
.feFoSelect-style02 {
  width: 412px;
  height: 54px;
  line-height: 52px;
  margin-right: 15px;
  border:1px solid #dcdcdc;
  font-size: 18px;
  color:#000;
 }
 .feFoSelect-style03 {
  position: absolute;
  top:40px;
  right: 13px;
  border:0;
  background-color:transparent;
}
.feFoSelect-style04 {
  height: 80px;
  line-height: 78px;
}
.feFoSelect-sizeXXXS {
  width: 73px;
}
.feFoSelect-sizeXXS {
  width: 100px;
}
.feFoSelect-sizeXS {
  width: 120px;
}
.feFoSelect-sizeS {
  width: 147px;
}
.feFoSelect-sizeM {
  width: 305px;
}
.feFoSelect-sizeL {
  width: 500px;
}
.feFoSelect-sizeFull {
  width: 100%;
}
/* bullet */
.bullet > li {
  position: relative;
  padding-left: 12px;
  color: #666;
  font-weight: 300;
  letter-spacing: -.8px;
  line-height: 30px;
}
.bullet > li:before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #ccc;
}
/* bullet type */
.bullet-type01 > li {
  padding-left: 8px;
  color: #585858;
  font-size: 14px;
  letter-spacing: -.7px;
  line-height: 1.5;
}
.bullet-type01 > li.fontB {
  font-weight: 700;
}
.bullet-type01 > li:before {
  top: 10px;
  left: 0;
  width: 4px;
  height: 1px;
  background-color: #888;
}
.bullet-type01 > li.fontB:before {
  height: 2px;
}
/* datePicker */
.datePicker .input-date {
  width: 24px;
  height: 24px;
  padding-right: 45px;
  border: 0;
}
.datePicker .ui-datepicker-trigger {
  position: absolute;
  top: 23px;
  left: 694px;
  cursor: pointer;
}
.datePicker-sizeFull {
  width: 100%;
}
/* datepicker */
.ui-datepicker {
  display: none;
  width: 258px;
  margin-top: 10px;
  padding: 13px 4px;
  border: 1px solid #000;
  background-color: #fff;
}
.ui-datepicker table {
  width: 245px;
  margin: 0 auto;
}
.ui-datepicker table td {
  padding: 1px;
  text-align: center;
}
.ui-datepicker table td > a {
  display: block;
  margin: 0 3px;
}
.ui-datepicker thead .ui-datepicker-week-end {
  color: #02348b;
}
.ui-datepicker thead .ui-datepicker-week-end:first-child {
  color: #ed1c24;
}
.ui-datepicker-header {
  position: relative;
}
/*
.ui-datepicker-header a {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 4px;
  width: 23px;
  height: 23px;
  background-image: url(../img/common/common/spr_etc.png);
  background-repeat: no-repeat;
  background-position: -117px -138px;
}
.ui-datepicker-header .ui-datepicker-prev {
  left: 50px;
}
.ui-datepicker-header .ui-datepicker-next {
  right: 50px;
  background-position: -142px -138px;
}
*/
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/common/arrow.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}
.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}
.ui-datepicker-title {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}
select.ui-datepicker-year {
  vertical-align: top;
  margin: 0 3px;
  border: 0;
  font-size: 18px;
  background-color: transparent;
}
.ui-datepicker-today a {
  color: #2763ba;
  font-weight: 700;
}
.ui-datepicker-current-day a {
  color: #fff;
  font-weight: 700;
  background-color: #2763ba;
}
.ui-state-disabled,
.ui-datepicker-other-month {
  color: #999;
}
/* paging */
.paging {
  position: relative;
  z-index: 1;
  width: 603px;
  min-height: 40px;
  margin: 105px auto 0;
  text-align: center;
}
.paging:before,
.paging:after {
  content: '';
  display: table;
}
.paging:after {
  clear: both;
}
.paging strong,
.paging a {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  line-height: 30px;
}
.paging a {
  color: #808080;
  font-size: 13px;
  font-weight: 400;
}
.paging strong {
  font-size: 21px;
  color: #000;
}
.paging .prev,
.paging .next {
  overflow: hidden;
  width: 5px;
  height: 10px;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.paging .prev {
  margin-right: 90px;
  background-image: url(../img/common/paging_prev.png);
}
.paging .next {
  margin-left: 90px;
  background-image: url(../img/common/paging_next.png);
}
@media only screen and (max-width: 767px) {
  .paging {
    width: 100%;
    margin:50px auto 0;
  }
  .paging .prev {
    margin-right: 10px;
  }
  .paging .next {
    margin-left: 10px;
  }
}

.notHistory						{ width:1280px; margin:0 auto; position:relative; overflow:hidden; padding:0 0 130px; }
.notHistory>p					{ width:440px; height:205px; float:left; border:1px solid #d3d3d3; border-right:0; background:#f6f6f6; text-align:center; padding:64px 0 0; font-size:16px; color:#000; }
.notHistory>p span			{ display:block; font-size:21px; color:#000; padding:0 0 4px; }
.notHistory>p span strong			{ text-decoration:underline; }
.notHistory .notHistorySlick			{ width:840px; border:1px solid #d3d3d3; height:205px; float:right; position:relative; }
.notHistory .notHistorySlick .slick-list			{ width:100%; overflow:hidden; }
.notHistory .notHistorySlick .slick-slide			{ float:left; text-align:center; border-left:1px solid #d3d3d3; height:205px; margin-left:-1px; }
.notHistory .notHistorySlick .slick-slide .img							{ width:100%; height:124px; overflow:hidden; padding:16px 0 5px; }
.notHistory .notHistorySlick .slick-slide>p:nth-child(2)			{ font-size:16px; color:#000; font-weight:bold; padding:0 0 5px; }
.notHistory .notHistorySlick .slick-slide>p:nth-child(2) span	{ display:block; }
.notHistory .notHistorySlick .slick-slide a								{ width:137px; height:22px; text-align:center; color:#fff; line-height:22px; font-weight:bold; display:inline-block; background:#000; border-radius:3px; font-size:12px; }
.notHistory .notHistorySlick .slick-arrow			{ position:absolute; top:50%; width:40px; height:47px; margin:-23px 0 0; overflow:hidden; text-indent:-99999px; cursor:pointer; display:inline-block; z-index:9; padding:15px; }
.notHistory .notHistorySlick .slick-prev				{ left:0; background:url(../img/main/recipeProArrLeft.png) 50% 50% no-repeat / 10px 17px; }
.notHistory .notHistorySlick .slick-next				{ right:0; background:url(../img/main/recipeProArrRight.png) 50% 50% no-repeat / 10px 17px; }
@media only screen and (max-width: 767px) {
	.notHistory						{ width:100%; margin:0 auto; position:relative; overflow:hidden; padding:0 0 60px; }
	.notHistory>p					{ width:100%; height:74px; float:none; border:1px solid #d3d3d3; border-right:1px solid #d3d3d3; border-bottom:0; background:#f6f6f6; text-align:center; padding:14px 0 0; font-size:12px; color:#000; }
	.notHistory>p br			{ display:none; }
	.notHistory>p span			{ display:block; font-size:16px; color:#000; padding:0 0 4px; }
	.notHistory>p span strong			{ text-decoration:underline; }
	.notHistory .notHistorySlick			{ width:100%; border:1px solid #d3d3d3; height:205px; float:right; position:relative; }
	.notHistory .notHistorySlick .slick-list			{ width:100%; overflow:hidden; }
	.notHistory .notHistorySlick .slick-slide			{ float:left; text-align:center; border-left:0; height:205px; margin-left:0; }
	.notHistory .notHistorySlick .slick-slide .img							{ width:100%; height:124px; overflow:hidden; padding:16px 0 5px; }
	.notHistory .notHistorySlick .slick-slide>p:nth-child(2)			{ font-size:11px; color:#000; font-weight:bold; padding:0 10px 5px; }
	.notHistory .notHistorySlick .slick-slide>p:nth-child(2) span	{ display:block; }
	.notHistory .notHistorySlick .slick-slide a								{ width:90%; margin:0 5%; height:22px; text-align:center; color:#fff; line-height:22px; font-weight:bold; display:inline-block; background:#000; border-radius:3px; font-size:11px; }
	.notHistory .notHistorySlick .slick-arrow			{ display:none !important; }
	.notHistory .notHistorySlick .slick-prev				{ left:0; background:url(../img/main/recipeProArrLeft.png) 50% 50% no-repeat / 10px 17px; }
	.notHistory .notHistorySlick .slick-next				{ right:0; background:url(../img/main/recipeProArrRight.png) 50% 50% no-repeat / 10px 17px; }
}
























.mobMenuBt									{ position:absolute; top:0; right:14px; line-height:64px; padding:0 15px 0 13px; font-size:14px; color:#fff; background:url(../img/common/titArr.png) 100% 53% no-repeat / 5px auto; display:none; }
.mobHeader									{ display:none; }
@media only screen and (max-width: 767px){
	.mobMenuBt									{ display:inline-block; }
	.mobHeader									{ position:fixed; top:0; left:0; width:100vw; height:100%; background:#fff; z-index:99; left:100vw; display:block; overflow-y:scroll; }
	.mobHeader .top							{ height:64px; background:#000; width:100%; position:relative; }
	.mobHeader .top a.loginBt			{ line-height:64px; padding:0 15px 0 13px; font-size:14px; color:#fff; background:url(../img/common/titArr.png) 100% 50% no-repeat / 5px auto; }
	.mobHeader .top a.menuClose						{ position:absolute; top:14px; right:14px; }
	.mobHeader .topMenu					{ height:68px; width:100%; display:inline-block; background:#535353; }
	.mobHeader .topMenu>li				{ width:20%; float:left; border-left:1px solid #848484; border-right:1px solid #848484; }
	.mobHeader .topMenu>li a			{ display:block; height:68px; text-align:center; padding:42px 0 0; font-size:12px; color:#fff; background-repeat:no-repeat; }
	.mobHeader .topMenu>li:nth-child(1) a		{ background-image:url(../img/common/mgBg1.png); background-size:19px auto; background-position:50% 9px;}
	.mobHeader .topMenu>li:nth-child(2) a		{ background-image:url(../img/common/mgBg2.png); background-size:21px auto; background-position:50% 10px; }
	.mobHeader .topMenu>li:nth-child(3) a		{ background-image:url(../img/common/mgBg3.png); background-size:25px auto; background-position:50% 11px; }
	.mobHeader .topMenu>li:nth-child(4) a		{ background-image:url(../img/common/mgBg4.png); background-size:24px auto; background-position:50% 11px; }
	.mobHeader .topMenu>li:nth-child(5) a		{ background-image:url(../img/common/mgBg5.png); background-size:auto 20px; background-position:50% 13px; }
	.mobGnb										{ padding:0 31px; }
	.mobGnb>.mg								{ overflow:hidden; }
	.mobGnb>.mg>p							{ padding:22px 0 7px; border-bottom:1px solid #000; font-size:13px; color:#000; text-align:center; }
	.mobGnb>.mg>ul							{ width:calc(100% + 14px); display:inline-block; margin-left:-7px; padding:7px 0 0; }
	.mobGnb>.mg>ul li						{ float:left; padding:7px; }
	.mobGnb>.mg>ul li a					{ width:114px; height:108px; background:#eee; display:table-cell; vertical-align:middle; text-align:center; font-size:12px; color:#000; line-height:18px; }
	.mobGnb>.cookRes						{ padding:17px 0 40px; border-top:1px solid #ccc; margin-top:34px; }
	.mobGnb>.cookRes a					{ background:#e30385; display:block; height:35px; font-size:16px; color:#fff; font-weight:bold; text-align:center; line-height:35px;; }
	.mobGnb>.cookRes a span			{ background:url(../img/common/cookResBg.png) 0 0 no-repeat / 20px auto; padding:0 0 0 26px; }
}