/* content */
.bx-wrapper .bx-pager {
  padding-top: 20px;
  color: #666;
  font-family: Arial;
  font-size: .85em;
  font-weight: bold;
  text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  outline: 0;
  text-indent: -9999px;
  background: #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  z-index: 9999;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  outline: 0;
  text-indent: -9999px;
}
.banner_wrap .bx-controls-auto {
  position: absolute;
  top: 263px;
  left: 530px;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 6px;
  height: 10px;
  margin: 0 3px;
  outline: 0;
  text-indent: -9999px;
  background: url(images/btn_play_slide.png) 0 0 no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: 0 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 6px;
  height: 10px;
  margin: 0 3px;
  outline: 0;
  text-indent: -9999px;
  background: url(images/btn_stop_slide.png) 0 0 no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: 0 0;
}
.mainBanner {
  padding: 35px 107px 50px 127px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #eceef2;
}
.mainBannerVisual {
  position: relative;
}
.mainBannerVisual .bx-wrapper .bx-prev {
  left: -50px;
  width: 30px;
  height: 59px;
  background: url(../img/main/btn_slider_prev.png) 0 0 no-repeat;
}
.mainBannerVisual .bx-wrapper .bx-next {
  right: -50px;
  width: 30px;
  height: 59px;
  background: url(../img/main/btn_slider_next.png) 0 0 no-repeat;
}
.mainBannerVisual .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}
.mainBannerVisual .bx-wrapper .bx-pager.bx-default-pager a {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #b3b5b7;
}
.mainBannerVisual .bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 35px;
  height: 14px;
  border-radius: 10px;
  background: #0697e1;
}

.termsBox {
  width: 758px;
  height: 300px;
  margin:106px auto 0;
  padding:20px;
  overflow-y: scroll;
  border:1px solid #dcdcdc;
  background-color:#fff;
  box-sizing:border-box;
}
.termsBox::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #000;
}
.termsBox::-webkit-scrollbar-track {
  background: #fff;
}
/* join */
.join {
  width: 440px;
  margin:135px auto 0;
}
.join h2 {
  margin-bottom: 57px;
}
.join .textBox {
  height: 80px;
  margin-bottom: 30px;
  padding:12px 0 14px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #000;
  font-size: 21px;
  font-weight: 700;
  color:#fff;
  line-height: 1.3;
}
.join .textBox a {
  display: block;
   color:#fff;
}
.join .textBox strong {
  font-size: 24px;
}
.joinLogin li {
  margin-bottom: 15px;
  position: relative;
}
.joinLogin .btnPos {
  position: absolute;
  top:0;
  right:-2px;
}
.join .input-phone {
  padding:0 145px 0 18px;
}
.join .input-num {
  padding:0 206px 0 18px;
}
.join .joinTxt01 {
  display: block;
  margin-top:15px;
  font-size:13px;
  color:#e12828;
  font-weight: 350;
}
.join .joinTxt02 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #000;
  text-align: center;
  letter-spacing: -0.5px;
 }
.join .joinTxt02 strong {
  border-bottom: 1px solid #000;
}
.join .joinTxt03 {
  font-size: 20px;
  color:#808080;
  text-align: center;
}
.join .find-link {
  position: absolute;
  top:74px;
  right:0;
  font-size:14px;
  font-weight: 500;
  color:#000;
  border-bottom: 1px solid #000;
}
.join .time {
  position: absolute;
  top:17px;
  right:167px;
  font-size:12px;
  color:#808080;
}
.join .joinBottom {
  margin-top: 57px;
}
.join .joinBottom .noteTxt01 {
  display: inline-block;
  margin-right: 27px;
  vertical-align: middle;
  font-size: 15px;
  color:#808080;
}
.join .joinBottom .noteTxt02 {
  margin-bottom: 50px;
   text-align: center;
}
.join .joinBottom .noteTxt02 label {
  margin-right: 8px;
  font-size: 15px;
  color:#808080;
  line-height: 1.8;
}
.join .joinBottom .noteTxt02 label a {
   color:#808080;
}
.join.complet {
  width: 510px;
}
.join.complet .btnWrap {
  margin-top:147px;
}
.tabMenu li {
  float:left
}
.tabMenu li a {
  display: block;
  width: 146px;
  height: 80px;
  padding:15px 0;
  line-height: 1.3;
  font-size: 20px;
  font-weight: 500;
  color:#d3d3d3;
  text-align: center;
  box-sizing: border-box;
}
.tabMenu li.on a {
  background-color: #000;
  color:#fff;
}
.join .tabMenu {
  overflow: hidden;
  margin-bottom: 15px;
}
.join .button-style02 {
  margin:15px 0 30px;
}
.login-etcLink {
  margin-top:47px;
}
.login-etcLink a {
  display: inline-block;
  width: 217px;
  height: 25px;
  border-left:1px solid #404040;
  font-size: 16px;
  font-weight: 500;
  color:#404040;
  text-align: center;
  box-sizing: border-box;
}
.login-etcLink a:last-child {
  border-right:1px solid #404040;
}
@media only screen and (max-width:767px) {
  .join {
    width: 100%;
    margin:65px auto 0;
  }
  .join .textBox {
    height:70px;
    font-size: 16px;
  }
  .join .textBox strong {
    font-size: 20px;
  }
  .join .joinBottom .noteTxt01 {
    margin:0 0 10px 0;
    font-size: 13px;

  }
  .join .joinBottom .noteTxt02 label {
    margin-right: 0;
    font-size: 13px;
  }
  .joinLogin .btnPos {
    top:5px;
    right:0;
  }
  .join .time {
    top:12px;
  }
  .join.complet {
    width: 100%;
  }
  .join .joinTxt02 {
    font-size: 13px;
  }
  .join .joinTxt03 {
    font-size: 16px;
  }
  .join.complet .btnWrap {
    margin-top:60px;
  }
  .termsBox {
    width: 100%;
    font-size: 13px;
  }
  .tabMenu li {
    width: 33.3%;
  }
  .tabMenu li a {
    width: 100%;
    height: 60px;
    padding:10px 0;
    font-size: 16px;
  }
  .login-etcLink a {
    width:49%;
    font-size: 14px;

  }
}  

/* dimmedLayer */
.dimmedLayer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
}
/* mypage */
.mypage .mypageCont {
  padding-top: 104px;
}
.mypage .mypageBox {
  height: 280px;
  margin-bottom: 108px;
  border:1px solid #585858;
}
.mypage .mypageBox div {
  float:left;
  box-sizing: border-box;
  background-color:#fff;
}
.mypage .mypageUser {
  width: 317px;
  height: 278px;
  padding: 75px 0 0 0;
  border-right: 1px solid #585858;
}
.mypage .mypageUser h3 {
  margin-bottom: 25px;
  font-size: 42px;
  font-weight: 700;
  color:#252525;
  text-align: center;
}
.mypage .mypageUser p {
  font-size: 15px;
  color:#000;
  text-align: center;
}
.mypage .mypageUser p > span {
  border-bottom: 1px solid #868686
}
.mypage .myHistory {
  padding:37px 0 37px 0;
}
.mypage .myHistory ul li {
  float:left;
  width: 240px;
  height: 204px;
  padding:40px 0 10px 52px;
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
  position: relative;
}
.mypage .myHistory ul li:last-child {
   border-right:0;
}
.mypage .myHistory ul li p {
  font-size: 14px;
  color:#808080;
}
.mypage .myHistory ul li .mypageTxt01 {
  margin-top: 30px;
  font-size: 18px;
  color:#000;
}
.mypage .myHistory ul li .mypageTxt01 > span {
   border-bottom: 1px solid #000;
}
.mypage .myHistory ul li .mypageTxt01 em {
  font-size: 36px;
  font-weight: 500;
}
.mypage .myHistory .toolTip {
  width: 81px;
  height: 40px;
  position: absolute;
  top:102px;
  right: 43px;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1px;
  color:#808080;
  background: url(../img/mypage/bg_toolTip01.png) no-repeat 0 0;
}
.mypage .myHistory .toolTip > span {
  display: block;
  font-size: 12px;
  color:#000;
}
.mypage .myHistory .toolTip > span > em {
   font-size: 16px;
}
.order-history-top {
  padding: 128px 0 150px 0;
  background-color: #fff;
}
.order-history-top .line01 {
  border-bottom: 2px solid #000;
}
.order-history-top .line02 {
  height: 88px;
  border-bottom: 1px solid #d3d3d3;
}
.order-history {
  padding:149px 0 148px 0;
}
.orderList li {
  margin-bottom: 25px;
  border:1px solid #000;
  background-color: #fff;
}
.orderTop {
  height: 73px;
  line-height: 71px;
  padding:0 68px 0 36px;
  border-bottom:1px solid #000;
}
.orderTop span {
  margin-right: 24px;
  font-size: 12px;
  color: #808080;
}
.orderTop span em {
  margin-left: 10px;
  font-size: 15px;
}
.orderTop a {
  font-size: 15px;
  font-weight: 700;
  color:#000;
}
.orderTable table td {
  padding:30px 0 26px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  color:#000;
}
.orderTable .order-prod-name {
  font-size: 20px;
  font-weight: 700;
}
.orderTable .order-prod-name > span {
  display: block;
  margin-bottom: 3px;
}
.orderTable .order-price {
  font-size: 18px;
}
.orderTable .order-total {
  font-size:20px;
}
.orderTable .order-total > strong {
  font-size:26px;
  font-weight: 700;
}
.orderTable .shipping-status span,
.orderTable .shipping-status a,
.orderTable .shipping-status strong {
  display: inline-block;
}
.orderTable .shipping-status span,
.orderTable .shipping-status strong {
  width: 132px;
  margin-bottom: 10px;
  font-size:15px;
  color:#000;
  letter-spacing: -1px;
  text-align: center;
}
.orderTable .shipping-status a {
  margin-bottom: 5px;
}
.orderTable .shipping-status [class*=button] {
  font-size: 15px;
  font-weight: 500;
}
.shipTable table thead th {
  padding:23px 0 25px;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 17px;
  position: relative;
}
.shipTable table thead th > strong {
  border-bottom: 1px solid #000;
}
.shipTable table td {
  border-left: 1px solid #000;
}
.shipTable td:first-child {
  border-left: none;
}
.shipTable table td .prod {
  float:left;
  width: 55%;
  height: 170px;
  text-align: center;
  overflow: hidden;
}
.shipTable table td .prodCont {
  float:left;
  width: 45%;
  height: 170px;
}
.shipTable table td .prodCont .feFoSelect {
  width: 70px;
  height: 33px;
  line-height: 31px;
  padding:0 5px 0 17px;
  border: 1px solid #000;
  font-size: 14px;
  color:#000;
}
.shipTable table td .prodCont .feFoSelect:after {
  right: 10px;
}
.shipTable table td .prodCont .proName {
  margin-bottom:20px;
  font-size: 15px;
  font-weight: 500;
  color:#000;
}
.shipTable table td .prodCont strong {
  display: block;
  margin-top:20px;
  font-size: 15px;
}

.order-detailView .subTitle {
  margin-bottom: 25px;
  font-size: 20px;
  color:#000;
}
.order-detailView .table-type02 {
  margin-bottom: 98px;
}
.recipient .button-style02 {
  position: absolute;
  top:-40px;
  right: 0;
  opacity: 0.3;
}
.billingInfor .button-style02 {
  position: absolute;
  top:16px;
  right: 0;
  opacity: 0.3;
}
.refundInfor .input-style01 {
  width: 288px;
  height: 39px;
  font-size: 16px;
  line-height: 39px;
  border:1px solid #000;
  color:#000;
}
.refundInfor .btnWrap {
  position: absolute;
  top:13px;
  right: 0;
  margin-top: 0;
}
.refundInfor .btnWrap [class*=button] {
  width: 64px;
  min-width: 64px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  border:1px solid #000;
}
.boxStyle01 {
  height: 270px;
  line-height: 268px;
  margin-bottom: 149px;
  border:1px dashed #808080;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  color:#d3d3d3;
}
.boxStyle01 span,
.boxStyle01 span a {
  display: inline-block;
}
.boxStyle01 span {
  vertical-align: middle;
  margin-right: 10px;
}
.boxStyle02 {
  height: 207px;
  margin-bottom: 134px;
  border:1px solid #d3d3d3;
  box-sizing: border-box;
}
.boxStyle02 ul li {
  float:left;
  width: 320px;
  height: 204px;
  padding:30px 0 10px 75px;
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
  position: relative;
}
.boxStyle02 ul li:first-child,
.boxStyle02 ul li:last-child {
  padding:47px 0 10px 75px;
}
.boxStyle02 ul li:last-child {
  width: 638px;
  border-right:0;
}
.boxStyle02 ul li p {
  font-size: 16px;
  color:#000;
}
.boxStyle02 ul li .mypageTxt01 {
  margin-top: 30px;
  font-size: 18px;
  color:#000;
}
.boxStyle02 ul li .mypageTxt01 > span {
   border-bottom: 1px solid #000;
}
.boxStyle02 ul li .mypageTxt01 em {
  font-size: 36px;
  font-weight: 500;
}
.boxStyle02 ul li .register {
  margin-top: 40px;
}
.boxStyle02 .input-style04 {
  width: 370px;
  border:3px solid #000;
}
.boxStyle02 .button {
  min-width: 118px;
  height: 53px;
  line-height: 51px;
  margin-left: -3px;
}
.boxStyle02.boxText {
  padding:65px 0 0 0;
}
.boxStyle02.boxText p {
  text-align: center;
}
.boxStyle02.boxText .boxTxt01 {
  margin-bottom: 20px;
  font-size: 24px;
  color:#000;
}
.boxStyle02.boxText .boxTxt01 strong {
  border-bottom: 1px solid #727272;
}
.boxStyle02.boxText .boxTxt02 {
  font-size: 16px;
  color:#808080;
}
.boxStyle02.boxText .boxTxt02 span {
  display: inline-block;
  position: relative;
  margin-right: 14px;
  padding-right: 15px;
}
.boxStyle02.boxText .boxTxt02 span:after {
  display: block;
  content: '';
  width:1px;
  height: 18px;
  background-color: #808080;
  position: absolute;
  top:4px;
  right:0;
}
.boxStyle02.boxText .boxTxt02 .button {
  min-width: 175px;
  height: 22px;
  line-height: 20px;
  margin-top:2px;
  font-size: 12px;
  vertical-align: top;
}
.boxStyle03 {
  height: 343px;
  padding: 100px 0 104px;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  box-sizing: border-box;
}
.boxStyle03 div,
.boxStyle03 p {
  text-align: center;
}
.boxStyle03 .boxTxt01 {
  margin-bottom: 25px;
  font-size: 18px;
  color:#000;
}
.boxStyle03 .input-style05 {
  width: 408px;
}
.boxStyle03 .boxTxt02 {
  margin-top: 15px;
  font-size: 14px;
  color: #808080;
}
.boxStyle04 {
  height: 280px;
  margin-bottom: 108px;
  border:1px solid #585858;
}
.boxStyle04 .boxTit {
  float:left;
  width: 317px;
  height: 278px;
  padding: 100px 0 0 0;
  border-right: 1px solid #585858;
  background-color:#fff;
}
.boxStyle04 .boxTit h3 {
  font-size: 42px;
  font-weight: 800;
  color:#252525;
  text-align: center;
}
.boxStyle04 .boxCont {
  float:left;
  background-color:#fff;
  padding:37px 0;
  position: relative;
}
.boxStyle04 .boxCont ul li {
  float:left;
  width: 320px;
  height: 204px;
  padding:10px 0 10px 12px;
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
}
.boxStyle04 .boxCont ul li:last-child {
   border-right:0;
}
.boxStyle04 .boxCont h4 {
  font-size: 20px;
  color:#808080;
  font-weight: 400;
}
.boxStyle04 .boxCont .btnArea {
  padding:63px 31px 0 32px;
}
.boxStyle04 .boxCont .btnArea .button-color01 {
  min-width: 256px;
  height: 75px;
  line-height: 70px;
  border: 2px solid #000;
  font-size: 22px;
}
.boxStyle04 .boxCont .question-status {
  padding:0 60px;
}
.boxStyle04 .boxCont .question-status div {
  float:left;
}
.boxStyle04 .boxCont .question-status div:first-child {
  margin-right: 30px;
}
.boxStyle04 .boxCont .question-status p {
  font-size: 17px;
  color:#808080;
  text-align: center;
}
.boxStyle04 .boxCont .question-status p + p {
  position: relative;
}
.boxStyle04 .boxCont .question-status p + p:after {
  content: '';
  width: 38px;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom:0;
  left:18px;
}

.boxStyle04 .boxCont .question-status strong {
  font-size: 36px;
  color:#000;
}
.boxStyle04 .boxCont .boxText01 {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}
.boxStyle04 .boxCont .boxText02 {
  margin: 15px 0 0 10px;
  font-size: 12px;
  color:#949494;
}
.boxStyle04 .boxCont .boxText02 em {
  margin-left: 5px;
  font-size: 16px;
  color:#000;
}
@media only screen and (max-width:767px) {
    .boxStyle04 { overflow: hidden; height: auto; padding: 40px 20px 20px; margin-bottom: 0; border: 3px solid #585858; background-color: #fff; }
    .boxStyle04 .boxTit { float: none; width: auto; height: auto; padding-top: 0; border-right: 0; }
    .boxStyle04 .boxTit h3 { font-size: 22px; }
    .boxStyle04 .boxCont { float: none; padding: 0; }
    .boxStyle04 .boxCont .btnArea { margin-top: 30px; padding: 0; width: auto; height: auto; border-right: 0; text-align: center; }
    .boxStyle04 .boxCont .btnArea .button-color01 { padding: 8px 20px; min-width: auto; height: auto; line-height: 1.4; font-size: 16px; }
    .boxStyle04 .boxCont ul li { float: none; padding: 0; width: auto; height: auto; }
    .boxStyle04 .boxCont ul li:nth-child(2) { text-align: center; border-right: 0; }
    .boxStyle04 .boxCont ul li:nth-child(2) h4 { text-align: left; }
    .boxStyle04 .boxCont .question-status { display: inline-block; margin-top: 20px; padding-left: 0; padding-right: 0; }
    .boxStyle04 .boxCont .question-status p { font-size: 14px; }
    .boxStyle04 .boxCont .question-status p + p:after { display: none; }
    .boxStyle04 .boxCont .question-status strong { font-size: 26px; }
    .boxStyle04 .boxCont h4 { margin-top: 40px; font-size: 16px; }
    .boxStyle04 .boxCont h4.marginB02 { margin-bottom: 0 !important; }
    /* .boxStyle04 .boxCont .boxText01 { margin-top: 10px; } */
    .boxStyle04 .boxCont .boxText02 { margin-left: 0; }
}
.checkBlock {
  margin-bottom: 20px;
}
.checkBlock .labelTxt {
  margin-right: 54px;
  font-size: 13px;
  color:#000;
}
.checkBlock .feFoCheck.checked {
  background-image: url(../img/common/img_chkboxOn01.png);
}
.inquiry .table-type03 .finish {
  font-size: 16px;
  font-weight: 700;
  color:#000;
  border-bottom: 1px solid #535353;
}
.inquiry .table-type03 .ready {
  font-size: 16px;
  font-weight: 700;
  color:#d3d3d3;
}
.inquiryCont .table-type03 td.qna {
  padding: 70px 0 80px 70px;
  text-align: left;
  position: relative;
}
.inquiryCont .table-type03 td.qna button {
  position: absolute;
  top:23px;
  right: 0;
}
.inquiryCont .table-type03 table:nth-child(2) {
  margin-top:-2px;
}

.textarea01 {
  width: 1265px;
  height: 369px;
  color:#d3d3d3;
}
.modifyInfor .table-type04 .input-style05 {
  width: 230px;
}
.modifyInfor .table-type04 .input-certify {
   margin-left: -3px;
}

.modifyInfor .table-type04 .time {
  position: absolute;
  top:46px;
  left: 460px;
  font-size: 12px;
  color:#808080;
}
.modifyInfor .table-type04 .btnPos {
  margin-left: -2px;
}
.modifyInfor .table-type04 .note {
  display: inline-block;
  margin-left: 27px;
  font-size: 12px;
  color:#000;
}
.modifyInfor .table-type04 .note.mstyle {
  margin:20px 0 0 0;
}
.modifyInfor .table-type04 .labelTxt {
  margin-right: 90px;
  color:#000;
  font-weight: 500;
}
@media only screen and (max-width:767px) {
  .mypage .mypageCont {
    padding-top:60px;
   } 
  .mypage .mypageBox {
    height: auto;
  }
  .mypage .mypageBox div {
     float: none;  
  }
  .mypage .mypageUser {
    width: 100%;
    height: 170px;
    padding:40px 0 0 0;
    border-right:0;
    border-bottom:1px solid #585858;
  }
  .mypage .mypageUser h3 {
    font-size: 25px;
  }
  .mypage .myHistory {
    padding:0;
  }
  .mypage .myHistory ul li {
    width: 100%;
    height: 140px;
    padding:30px 0 10px 0;
    border-bottom:1px solid #585858;
    text-align: center;
  }
  .mypage .myHistory ul li .mypageTxt01 {
    margin-top: 20px;
  }
  .mypage .myHistory .toolTip {
    top:77px;
  }
  .order-history-top {
    padding:40px 0 60px 0;
  }
  .boxStyle02 {
    margin-bottom: 50px;
  }
  .boxStyle02.boxText .boxTxt01 {
    font-size: 16px;
  } 
  .boxStyle02.boxText .boxTxt02 {
    font-size: 14px;
  }
  .checkBlock .labelTxt {
    margin-right: 10px;
  }
  .refundInfor .btnWrap [class*=button] + [class*=button] {
    margin:0;  
  }
  .refundInfor .btnWrap {
    top:-30px;
  }
  .order-history {
    padding:0;
  }
  .order-history-top .line02 {
    border-bottom:0;
    height: auto;  
  }
  .orderTop {
    padding:0 10px;
    line-height: 34px;
  }
  .orderList .orderTop {
    line-height: 70px;  
  }

  .orderTable .order-prod-name {
    font-size: 15px;
  }
  .orderTable .order-price {
     font-size: 14px;  
  }
  .orderTable .order-total {
    font-size: 13px;  
  }
  .orderTable .order-total > strong {
    font-size: 18px;
  }
  .orderTable .shipping-status [class*=button] {
    min-width: 80%;
  }
  .shipTable table td .prod,
  .shipTable table td .prodCont {
    float:none;
    width: 100%;
    height: auto;
  }
  .shipTable table td .prodCont .proName {
    font-size: 13px;
  }
  .shipTable table td .button-style04 {
    width:100px;
    min-width:80%;
  }
  .shipping-status .button-size02 {
    width: 100px;
  }
  .recipient .button-style02,
  .billingInfor .button-style02 {
    min-width: 38%;
  }
  .billingInfor .button-style02 {
    font-size: 13px;
  }
  .modifyInfor .table-type04 .input-style05 {
    width: 100%;
  }
  .modifyInfor .table-type04 .input-certify,
  .modifyInfor .table-type04 .btnPos {
     margin:10px 0 0 0;
  }
  .space {
    margin:0;
  }
  .modifyInfor .table-type04 .labelTxt {
    margin:0;
  }
  .modifyInfor .table-type04 .labelTxt + label {
    margin:0;  
  }
   
  
}  
/* 장바구니 */
.basketCont .title {
  margin:0 0 60px 0;
  padding-left: 53px;
  background: url(../img/mypage/icon_basket.png) no-repeat 4px 7px;
  font-size: 30px;
  font-weight: 400;
  color:#000;
}
.basketCont .table-type05 {
  margin-bottom: 25px;
}
.basketCont .table-type05 table .prod-name {
  font-size: 20px;
}
.basketCont .table-type05 table .prod-name strong {
  display: block;
}
.basketCont .table-type05 .button-style04 {
  width: 87px;
  min-width: 87px;
  margin:0;
  border:1px solid #000;
}
.basketCont .count {
  display: inline-block;
  position: relative;
  margin:0 10px 0 35px;
}
.basketCont .count a {
  display: block;
  width: 13px;
  height: 7px;
  position: absolute;
  left:12px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.basketCont .count .up-count {
  top:-11px;
  background-image: url(../img/common/img_upCount.png);
}
.basketCont .count .down-count {
  bottom:-13px;
  background-image: url(../img/common/img_downCount.png);
}
.basketCont .count .ipt-count-chk {
  width: 38px;
  height: 36px;
  line-height: 36px;
  padding:0;
  border:1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  font-size:26px;
  color:#000;
  text-align: center;
}
.basketCont .basketBottom .floatL {
  margin-left: 37px;
  padding-top: 10px;
}
.basketCont .basketBottom .button-size06 {
  font-size: 16px;
}
.basketCont .table-type02 table tbody td {
  font-size: 20px;
}
.basketCont .table-type02 table td strong {
   font-size: 26px;
}
.basketCont .btnWrap {
  margin-top: 90px;
}
@media only screen and (max-width:767px) {
  .basketCont .title {
    margin:0 0 30px 0;
    font-size: 20px;
    background-position: 4px 0;
    background-size: contain;
  }
  .basketCont .table-type05 table .prod-name {
    font-size: 14px;
  }
  .basketCont .count {
    display: block;
    margin:10px;
  }
  .basketCont .count a {
    left: 9px;
  }
  .basketCont .count .down-count {
    bottom: -9px;
  }
  .basketCont .count .ipt-count-chk{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
  .basketCont .basketBottom .floatL {
    margin-left:12px; 
    padding-top: 0;

  }
  .basketCont .basketBottom .button-size06 {
    font-size: 13px;
  }
  .basketCont .table-type05 table > colgroup {
   display: none;
  }
  .basketCont .table-type02 table tbody td {
    font-size: 13px;
  }
  .basketCont .table-type02 table td strong {
    font-size: 16px;
  }
  .basketCont .table-type05 .button-style04 {
    width: 45px;
    min-width: 45px;
  }
  .basketCont .btnWrap {
    margin-top: 40px;
  }

}  
/* 찜 리스트 */
.favorite .detailLink {
  font-size: 15px;
  color:#000;
  border-bottom: 1px solid #959595;
}
.favorite .title {
   background: url(../img/mypage/icon_heart.png) no-repeat 4px 10px;
}
@media only screen and (max-width:767px) {
  .favorite .title {
    background-position: 4px 0;
    background-size: contain;
  }

}  

/* 공지사항, FAQ */
.cusList .table-type03 table thead th {
  font-size: 26px;
}
.cusList .table-type03 table tbody td {
  font-size: 22px;
}
.cusList .table-type03 table tbody td.num {
  font-size: 16px;
}
.cusList .table-type03 table tbody td a {
  color:#000;
}
.cusView .table-type03 table thead th {
  font-size: 22px;
}
.cusView .table-type03 table tbody td.notice-cont {
  padding: 80px 70px;
  text-align: left;
  font-size: 22px;
  color:#000;
}
/* 제품 리스트 */
.prodWrap .title {
  width: 150px;
  margin:70px 0 100px 0;
  padding-bottom: 15px;
  font-size: 30px;
  color:#000;
  border-bottom:4px solid #000;
}
.listWrap {
  border-top: 1px solid #252525;
  margin-top: 90px;
  padding-top: 50px;
  position: relative;
}
.listWrap .subTitle {
  font-size: 17px;
  color:#000;
}
.listWrap .list {
  margin-top: 55px;
}
.listWrap .list .listItem {
  float:left;
  width: 25%;
  min-height:402px;
  margin:0 0 -1px -1px;
  padding:35px 0 30px 0;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  position: relative;
}
.listWrap .list .listItem .picArea {
  margin-bottom: 10px;
  text-align: center;
}
.listWrap .list .listItem .txtArea p {
  font-size: 18px;
  font-weight: 700;
  color:#000;
}
.listWrap .list .listItem .tit {
   margin-bottom: 10px;
}
.listWrap .list .listItem .sellingPrice > i {
  font-size: 15px;
  color:#000;
}
.list .listItem .consoleBox {
  display: none;
  width: 140px;
  position: absolute;
  bottom: 30px;
  left:50%;
  margin-left: -67px;
  background-color: #fff;
}
.list .listItem .consoleBox li {
  float: left;
  width: 33.3%;
  text-align: center;
}
.list .listItem .consoleBox li button,
.list .listItem .consoleBox li a {
  display:inline-block;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}

.listWrap .list .listItem .mark {
  width: 21px;
  height: 17px;
  background: url(../img/common/icon_heart.png) no-repeat 0 0;
}
.listWrap .list .listItem .cart {
  width: 24px;
  height: 21px;
  background: url(../img/common/icon_cart01.png) no-repeat 0 0;
}
.listWrap .list .listItem .purchase {
   width: 23px;
  height: 17px;
  background: url(../img/common/icon_card.png) no-repeat 0 0;
}
@media only screen and (max-width:767px) {
  .prodWrap .title {
    width: 80px;
    margin:35px 0 40px 0;
    font-size: 15px;
  }
  .listWrap .list .listItem {
    width: 50%;
  }

}
/* 제품 상세 */
.prodDetail .tabCont {
  display: none;
  position: relative;
}
.prodDetail .tabCont:first-child {
  display: block;
}
.prodViewRow {
  border-top: 1px solid #252525;
  margin-top: 90px;
  padding-top: 15px;
  position: relative;
}
.prodViewRow .prod-location {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color:#252525;
}
.prodViewRow .subTitle {
  margin:70px 0 90px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color:#252525;
}
.prodVisual {
  width: 1280px;
  position: relative;
}
.prodVisual .bx-wrapper {
  margin:0 auto;
}
.prodVisual .bx-wrapper .bx-prev {
  left: 0;
  width: 32px;
  height: 139px;
  margin-top: -93px;
  background: url(../img/common/btn_slider_prev.png) 0 0 no-repeat;
}
.prodVisual .bx-wrapper .bx-next {
  right: 0px;
  width: 32px;
  height: 139px;
  margin-top: -93px;
  background: url(../img/common/btn_slider_next.png) 0 0 no-repeat;
}
.prod-pager {
  width: 1280px;
  text-align: center;
}
.prodViewRow .prod-text01 {
  margin: 50px 0 60px 0;
  text-align: center;
  font-size: 30px;
}
.prodViewRow .prod-text01 strong {
  margin-right: 25px;
  font-size: 36px;
  color:#000;
}
.prodViewRow .prod-text01 .saved-money {
  margin-left: 30px;
  font-size: 19px;
  color:#ababab;
}
.prodViewRow .prod-text01 .saved-money em {
  margin-left: 12px;
  font-size: 23px;
  color:#636363;
}
.prodViewRow .order-option {
  margin-bottom: 125px;
  text-align:center;
}
.prodViewRow .tab-type05 {
  margin-bottom: 105px;
  border-bottom: 1px solid #dcdcdc;
}
.prodViewRow .tab-type05 li.current a:after {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.prodViewRow .tab-type05 li a {
  height: 80px;
}
.prodViewRow .feFoSelect-style04 {
  width: 489px;
  border-radius: 0;
}
.prodViewRow .price-filter {
  display: inline-block;
  width: 150px;
  height: 80px;
  margin-left: -3px;
  padding:0 20px;
  border:1px solid #000;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
}
.prodViewRow .price-filter .down-count {
  display: inline-block;
  width: 9px;
  height: 2px;
  background: url(../img/common/img_minus.png) 0 0 no-repeat;
  vertical-align: middle;
}
.prodViewRow .price-filter .up-count {
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(../img/common/img_plus.png) 0 0 no-repeat;
  vertical-align: middle;
}
.prodViewRow .price-filter .ipt-count-chk {
  width:73px;
  height: 77px;
  line-height: 77px;
  border:0;
  text-align: center;
  font-size:17px;
  font-weight: 700;
  color:#000;
}
.interest_area {
  display: inline-block;
  width: 128px;
  height: 80px;
  line-height: 80px;
  margin-left: -3px;
  text-align: center;
  background-color: #000;
  vertical-align: middle;
}
.add-interest {
  width: 35px;
  height: 25px;
  background: url(../img/common/icon_heart01.png) 0 0 no-repeat;
  cursor: pointer;
}
.icon-cart::before {
  width: 31px;
  height: 28px;
  margin:-1px 10px 0 0;
  background:url(../img/common/icon_cart.png) 0 0 no-repeat;
}
.prod-infor01 {
  margin-bottom: 127px;
}
.prod-infor01 .infoImg {
  margin-bottom: 60px;
  text-align: center;
}
.prod-infor01 p {
  text-align: center;
  color:#000;
}
.prod-infor01 .prod-text01 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color:#585858;
}
.prod-infor01 .prod-text02 {
  margin: 40px 0;
  padding-top: 80px;
  border-top: 1px solid #d3d3d3;
  font-size: 38px;
  font-weight: 300;
}
.prod-infor01 .prod-text03 {
  font-size: 22px;
  font-weight: 300;
}
.prod-infor01 .cac {
  width: 100%;
  text-align:center;
  max-width:800px;
  margin:0 auto;
  font-size: 18px;
  color:#636363;
}
.prod-infor01 .cac:after {
  content: '';
  display: block;
  clear: both;
}
.prod-infor01 .cac em {
  margin-left: 10px;
  color:#252525;
}
.prod-infor01 .cac li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.prod-infor01 .cac li:before {
  display: block;
  content: '';
  width:1px;
  height: 18px;
  background-color: #aaa;
  position: absolute;
  top:50%;
  left:0;
  margin-top:-8px;
}
.prod-infor01 .cac li:first-child:before {
  width: 0;
  height: 0;
}
.prod-infor02 {
  margin-bottom: 130px
}
.prod-infor02 .prod-cont {
  margin-top: 82px;
}
.prod-infor02 .prod-cont dl {
  width: 1150px;
  margin-bottom: 35px;
}
.prod-infor02 .prod-cont dl:after {
  content: '';
  display: block;
  clear: both;
}
.prod-infor02 .prod-cont dl:last-child {
   margin-bottom: 92px;
}
.prod-infor02 .prod-cont dl dd {
  font-size: 19px;
  font-weight: 300;
  color:#000;
}
.prod-infor02 .prod-cont dl .prod-tit {
  margin:0 0 10px 0;
  padding:70px 0 28px 0;
  font-size: 34px;
  font-weight: 300;
  color:#e30385;
  border-bottom: 1px solid #252525;
}
.prod-infor02 .prod-cont dl.odd dd {
  float:left;
  padding-left: 40px;
}
.prod-infor02 .recommended-prod {
  padding-top: 111px;
  border-top:1px solid #dcdcdc;
}
.recommended-prod .mainTxt {
  margin-bottom: 62px;
  font-size: 46px;
  font-weight: 300;
  color:#000;
  text-align: center;
}
.recommended-prod ul li {
  float:left;
  width: 33.3%;
}
.recommended-prod ul li .item {
  min-height: 264px;
  padding:50px 50px 47px 50px;
  box-sizing: border-box;
}
.recommended-prod ul li .item:after {
  content: '';
  display:block;
  clear: both;
}
.recommended-prod ul li.odd .item {
  background-color: #f6f6f6;
}
.recommended-prod .item .infoImg {
  float:left;
}
.recommended-prod .item p {
  float:left;
  color:#000;
}
.recommended-prod .item .prodName {
  margin:30px 0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -1px;
}
.recommended-prod .item .prodPrice {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 500;
}
.rating {
  float:left;
  width: 69px;
  height: 12px;
  overflow: hidden;
  background:url(../img/product/bg_starOff.png) 0 0 no-repeat;
}
.rating > div {
  height: 12px;
  background:url(../img/product/bg_starOn.png) 0 0 no-repeat;
}
.recommended-prod .btnWrap {
  margin-top: 20px;
}
.recommended-prod .button {
  min-width: 137px;
  height: 42px;
  line-height: 40px;
  font-size: 21px;
  font-weight: 300;
}
.recommended-prod .button-more {
  margin-top: 80px;
  min-width: 100%;
  text-align: center;
  font-size: 29px;
  font-weight: 300;
  color:#e30385;
  background-color: transparent;
  border:0;
}
.prod-infor03,
.prod-infor05 {
  width: 100%;
  position: relative;
}
.prod-infor03 .button-style07 {
  position: absolute;
  top:50%;
  left:50%;
  margin:183px 0 0 -133px;
}
.prod-infor04 {
  padding:149px 0 175px 0;
}
.prod-infor04 .prod-text01 {
  margin:40px 0 96px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color:#000;
}
.prod-infor05 .button-style07 {
  position: absolute;
  top:50%;
  left:50%;
  margin:20px 0 0 -133px;
}
.detailTab .inforTxt {
  margin-bottom: 18px;
  font-size: 14px;
  color:#808080;
}
.detailTab .table-type06 table th {
  background-color: #fff;
  border-right: 0;
}
.detailTab .table-type06 table td.fontSize01 {
  font-size:16px;
  font-weight: 400;
}
.detailTab .table-type06 table td.fontSize01 strong {
  display: block;
  margin-bottom: 5px;
}
.detailTab .table-type06 table td.fontSize02 {
  font-size:13px;
  font-weight: 300;
}
.detailTab .table-type06 table td p {
  font-size: 14px;
  color:#585858;
}
.detailTab .rating {
  float:none;
  margin-top: 8px;
}
.detailTab .button-write {
  position: absolute;
  top:-3px;
  right: 0;
}
/* 주문하기 */
.topArea {
  height: 282px;
  border-bottom: 1px solid #d3d3d3;
}
.topArea .heading-title01 {
  text-align: center;
  line-height: 282px;
  font-size: 20px;
  color:#000;
}
.order-infor {
  padding:70px 0 0 0;
}
.heading-title02 {
  margin-bottom: 27px;
  padding-bottom: 23px;
  font-size: 31px;
  color:#000;
  position: relative;
}
.heading-title02:after {
  content: '';
  display: block;
  width:151px;
  height:4px;
  background-color: #000;
  position: absolute;
  bottom:0;
  left:0;
}
.order-infor .table-type05 table {
  border-top: 0;
}
.order-infor .table-type05 table th {
  font-size: 20px;
}
.order-infor .table-type05 table th.border-line01 {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
.order-infor .table-type05 table td.border-line01 {
  border-left: 1px solid #aaa;
}
.order-infor .table-type05 table td .brandName {
  display: block;
}
.order-infor .table-type05 table td .prodName {
  font-size: 20px;
  color:#000;
  letter-spacing: -1px;
}
@media only screen and (max-width:767px) {
  .prodViewRow {
    margin-top: 30px;
  }
  .prodViewRow .prod-location {
    font-size: 15px;
  }
  .prodViewRow .subTitle {
    margin:20px 0 10px 0;
    font-size: 20px;
  }
  .prodVisual,
  .prod-pager {
    width: 100%;
  }
  .prodViewRow .prod-text01 {
    margin:20px 0 30px 0;
    font-size: 15px;
  }
  .prodViewRow .prod-text01 strong {
    font-size: 20px;
  }
  .prodViewRow .order-option {
    margin-bottom: 60px;
	text-align:center;l
  }
  .prodViewRow .price-filter {
    margin:10px 0 0 0;
  }
   
  .prodViewRow .tab-type05 {
    margin-bottom: 50px;
  }
  .prodViewRow .tab-type05 li a {
    height: 46px;
  }
  .prodViewRow .tab-type05 li.current a:after {
    top:45px;
  }
   .prodViewRow .feFoSelect-style04 {
    width: 100%;
  }
  .interest_area {
    margin: 10px 0 0 0;
  }
  .order-option > a {
    margin-top: 10px;
  } 
  .prod-infor01 {
    margin-bottom: 50px;
  }

  .prod-infor01 .cac{
    font-size:14px;
  }
  .prod-infor01 .prod-text02 {
    padding-top: 40px; 
    width: 100%;
    margin-bottom: 15px;
  }
  .prod-infor02 .prod-cont dl:last-child {
    margin-bottom: 20px;
  }
  .prod-infor02 .prod-cont dl .prod-tit {
    margin:15px 0;
    padding:0;
    font-size: 20px;
  }
  .prod-infor02 .prod-cont dl.odd .floatL,
  .prod-infor02 .prod-cont dl.even .floatR,
  .prod-infor02 .prod-cont dl.odd dd {
    float:none;
  }
  .prod-infor02 .prod-cont dl dd {
    font-size: 14px;
  }
  .prod-infor02 .prod-cont dl.odd dd,
  .prod-infor02 .prod-cont dl.even dd {
    padding:0 0 20px 15px;

  } 
  .prod-infor02 .recommended-prod {
    padding-top: 35px;
  }
  .recommended-prod .mainTxt {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .recommended-prod ul li {
    float: none;
    width: 100%;
  }
  .recommended-prod ul li .item {
    padding:30px 0 20px;
    text-align: center;
  }
  .recommended-prod .item .infoImg,
  .recommended-prod .item p,
  .rating {
    float:none;
  } 
  .recommended-prod .item .prodName {
    margin:15px 0;
    font-size: 16px;
  }
  .recommended-prod .item .prodPrice {
    font-size: 14px
  }
  .recommended-prod .button {
    min-width: 100%;
    font-size: 18px;
  }
  .recommended-prod .button-more {
    margin-top: 15px;
    font-size: 18px;
  }
  .rating {
    margin: 0 auto;
  }
  .prod-infor03 .button-style07 {
    left: 0;
    margin:107px 0 0 0;
  }
  .prod-infor04 {
    padding:95px 0 45px 0;
  }
  .prod-infor04 .prod-text01 {
    margin:40px 0;
    font-size: 15px;
  }
   
}  
/* layerPop */
.modal {
  display: none;
  width: 579px;
  background-color: #fff;
  border:1px solid #dcdcdc;
  box-sizing: border-box;
  position: fixed;
  top:85px;
  left: 50%;
  margin-left:-298px;
  z-index: 1000;
}
.modal.low {
   top:235px;
}
.modal .tabMenu {
  height: 72px;
}
.modal .tabMenu li {
  width:50%;
}
.modal .tabMenu li a {
  width: 100%;
  height: 72px;
  line-height: 70px;
  padding:0;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
  background-color: #dcdcdc;
  border-bottom:1px solid #d3d3d3;
  border-left:1px solid #d3d3d3;
}
.modal .tabMenu li.current a {
  background-color: #fff;
  border:0;
  color:#808080;
}
.layerCont {
  padding:54px 59px 47px;
}
.layerCont.scroll {
  height: 700px;
  overflow-y: auto;
}
.layerCont.ptop01 {
 padding:108px 63px 47px;
}
.layerCont.ptop02 {
 padding:60px 63px 47px;
}
.layerCont h3 {
  margin-bottom: 50px;
  font-size: 21px;
  font-weight: 700;
  color:#000;
  text-align: center;
}
.findWay li {
   margin-bottom: 20px;
}
.findWay li .labelTxt {
  font-size: 18px;
  color:#808080;
  font-weight: 500;
}
.modal .findTxt01 {
  margin-right: 62px;
  font-size: 15px;
  font-weight: 500;
  color:#808080;
}
.modal .findTxt02 {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  color:#000;
  text-align: center;
}
.modal .findTxt02 span {
   font-weight: 400;
   border-bottom: 1px solid #000;
}
.modal .findTxt03 {
  padding-left: 56px;
  font-size: 15px;
  color:#808080;
}
.modal .findTxt03 span {
  display: inline-block;
}
.modal .findTxt03 span:last-child {
  margin-left: 50px;
  padding-left: 34px;
  position: relative;
}
.modal .findTxt03 span:last-child:before {
  content:'';
  display: block;
  width: 1px;
  height: 24px;
  background-color:#d3d3d3;
  position: absolute;
  top:0;
  left: 0;
}
.modal .findTxt04 {
  display: block;
  margin-top: 5px;
  text-align: left;
  font-size: 13px;
  color:#808080;
}
.modal .findLink01 {
  font-size: 16px;
  font-weight: 700;
  color:#404040;
  border-bottom: 1px solid #404040;
}
.modal01 .btnWrap {
  margin-top:33px;
}
.modal03 .btnWrap {
  margin-top:82px;
}
.certification-box {
  margin-top:17px;
}
.certification-box p {
  margin-bottom: 25px;
  padding-left: 23px;
  font-size: 13px;
  color:#404040;
}
.modal .btnPos {
  position: absolute;
  top:1px;
  right:0;
}
.modal .input-phone {
  padding:0 145px 0 20px;
}
.modal02 .btnWrap {
  margin-top:74px;
}
/* 반품 교환 팝업 */
.modal-returnEx .order-cont {
  height: 20px;
  line-height: 20px;
  margin-bottom: 35px;
  border-right:1px solid #000;
  border-left: 1px solid #000;
}
.modal-returnEx .order-cont span {
  display: inline-block;
  width: 49%;
  text-align:center;
}
.modal-returnEx .order-cont span:first-child {
  border-right:1px solid #000;
}
.modal-returnEx .orderTable {
  margin-bottom: 30px;
}
.modal-returnEx .orderTable table {
  border-top:1px solid #dcdcdc;
  border-right:1px solid #dcdcdc;
  border-left:1px solid #dcdcdc;
}
.modal-returnEx .orderTable table td {
    padding:18px 0 14px;
    font-size: 15px;
    border-bottom:1px solid #dcdcdc;
}
.modal-returnEx .orderTable table td strong {
  display: block;
  margin-top: 10px;
}
.modal-returnEx .input-style02 {
  height: 39px;
  line-height: 39px;
  margin-left: 9px;
  border:1px solid #000;
  font-size: 13px;
  color:#000;
}
.modal-returnEx .table-type02 table thead th.alignL {
  text-align: left;
  padding-left: 14px;
}
.modal-returnEx .table-type02 table thead th span {
  display: inline-block;
  width: 296px;
}
.modal-returnEx .table-type02 table thead th span em {
  font-size: 12px;
  color:#808080;
}
.modal-returnEx .table-type02 table tbody th {
  border-bottom: 0;
  font-size: 13px;
  color:#000;
  text-align: left;
}
.modal-returnEx .table-type02 table tbody td {
  padding:16px 0 8px;
}
/* 배송지 추가 팝업 */
.essential {
   color:#e30385;
}
.modal-shipping-location .layerCont h3 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
}
.modal-shipping-location .table-type02 table {
   border-bottom: 0;
}
.modal-shipping-location .table-type02 table tbody th {
  padding: 9px 0 8px;
  border-bottom: 0;
  font-size: 15px;
  color:#000;
  text-align: left;
}
.modal-shipping-location .table-type02 table tbody th.verTop {
  padding:14px 0 5px;
  vertical-align: top;
}
.modal-shipping-location .table-type02 table tbody td {
   padding: 9px 0 8px;
   text-align: left;
}
.modal-shipping-location .table-type02 table tbody td .button-post {
  min-width: 130px;
  height: 54px;
  line-height: 52px;
  font-size: 15px;
}
.modal-shipping-location .table-type02 table tbody td .input-style05 {
  font-size: 15px;
}
.modal-shipping-location .table-type02 table tbody th .essential {
  display: inline-block;
  margin-left: 1px;
  color:#e30385;
}
.modal-shipping-location .infoText {
  margin-bottom: 5px;
  text-align: right;
  font-size: 12px;
  color: #808080;
}
.modal-shipping-location .popText01 {
    margin-top: 15px;
    text-align: right;
    font-size: 15px;
}
.modal-shipping-location .popText01 .labelTxt {
  color: #000;
}
.modal-comment {
  width: 909px;
  margin-left: -466px;
}
.modal-comment .layerCont {
  padding:50px 68px 80px 72px;
}
.modal-comment .layerCont h3 {
  text-align: left;
  font-size: 18px;
}
.modal-comment .textBox {
  width: 605px;
  height: 228px;
  padding:20px;
  box-sizing: border-box;
  font-size: 15px;
}
.modal-comment .prod-item:after {
  content: '';
  display: block;
  clear: both;
}
.modal-comment .prod-item .infoImg {
  float:left;
  margin-right: 24px
}
.modal-comment .prod-item .brandName {
  margin-bottom:5px;
  padding-top: 20px;
}
.modal-comment .prod-item .prodName {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1px;
}
.modal-comment .button-upload {
  display: block;
  height: 52px;
  line-height: 52px;
  margin-bottom: 9px;
  border:1px solid #d3d3d3;
}
.modal-comment .img-size {
  width: 100px;
  height: 20px;
  line-height: 20px;
  margin-left: 7px;
  font-size: 15px;
  color:#585858;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .modal {
    width: 360px;
    margin-left: -180px;
  }
  .modal .tabMenu {
    height:50px;
  }
  .modal .tabMenu li a {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }  
  .modal .btnPos {
    top:5px;
  }
  .modal .findTxt01 {
    margin:0;
  }
  .modal .findTxt02 {
    font-size: 16px;
  }
  .modal .findTxt03 {
    padding:0 15px;
    font-size:13px;
  }
  .modal .findTxt03 span:last-child {
    margin-left:30px;
    padding-left: 30px;
  }
  .modal .findTxt03 span:last-child:before {
    height:17px;
  }
  .modal02 .btnWrap {
    margin-top: 45px;
  }
  .layerCont {
    padding:25px 20px;
  }
  .layerCont.scroll {
    height: 530px;
  }
  .layerCont.ptop01 {
     padding:50px 20px;  
  }
  .layerCont.ptop02 {
    padding:30px 20px;
  }
  .layerCont h3 {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .findWay li {
    margin-bottom: 10px;
  }
  .findWay li .labelTxt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .modal {
    top:0;
  }
}






.benefitList						{ width:100%; display:inline-block; padding:40px 0 0; border-top:1px solid #c9c9c9; }
.benefitList li					{ float:left; width:calc(50% - 8px); margin-bottom:16px; border:5px solid #e5e5e5; min-height:216px; padding:100px 0 0; }
.benefitList li:nth-child(even)			{ margin-left:16px; }
.benefitList li:nth-child(1)				{ background:url(../img/member/bnf1.png) 50% 18px no-repeat; }
.benefitList li:nth-child(2)				{ background:url(../img/member/bnf2.png) 50% 18px no-repeat; }
.benefitList li:nth-child(3)				{ background:url(../img/member/bnf3.png) 50% 18px no-repeat; }
.benefitList li:nth-child(4)				{ background:url(../img/member/bnf4.png) 50% 18px no-repeat; }
.benefitList li strong			{ display:block; font-size:18px; font-weight:normal; text-align:center; padding:0 0 10px; color:#000; }
.benefitList li strong>span			{ color:#e30385; }
.benefitList li>span						{ font-size:14px; color:#000; text-align:center; display:block; }


.etcTab											{ max-width:1280px; margin:184px auto 0;  }
.etcTab ul										{ width:100%; display:inline-block; height:68px; position:relative; border-bottom:6px solid #fff; }
.etcTab li										{ position:absolute; }
.etcTab li:nth-child(1)										{ top:0; left:0; }
.etcTab li:nth-child(2)										{ top:0; left:50%; margin-left:-80.8px; }
.etcTab li:nth-child(3)										{ top:0; right:0; }
.etcTab li a									{ font-size:24px; color:#d3d3d3; font-weight:bold; height:68px; display:block; }
.etcTab li a.on								{ color:#000; position:relative; z-index:1; }
.etcTab li a.on:after						{ position:absolute; bottom:0; left:0; width:100%; height:6px; background:#000; content:''; }
.etcArea										{ width:100%; min-height:500px; background:#fff; max-width:1280px; margin:42px auto 0; }


.qaTop											{ max-width:1280px; background:url(../img/brand/qualityTopBg.png) 40% 80px no-repeat; margin:0 auto; text-align:center; min-height:1382px; padding:80px 0 0; }
.qaTop .tit										{ padding:300px 0 68px; font-size:38px; color:#000; font-weight:bold; position:relative; }
.qaTop .tit:after							{ content:''; position:absolute; bottom:0; left:50%; margin-left:-40px; width:80px; height:3px; background:#000; }
.qaTop .txt									{ padding:62px 0 0; font-size:18px; color:#000; line-height:38px; }
.qaTop .txt strong						{ display:block; font-size:22px; color:#000; padding:0 0 10px; }

.qa_lis											{ max-width:1117px; margin:0 auto; padding:80px 0; }
.qa_lis .tit										{ text-align:center; font-size:26px; font-weight:bold; color:#000; padding:0 0 60px; }
.qa_lis .tit span							{ padding:0 0 0 50px; display:inline-block; height:36px; }
.qa_lis.qa_o .tit span							{ padding:0 0 0 50px; background:url(../img/brand/ico_o.png) 0 0 no-repeat; }
.qa_lis.qa_x .tit span							{ padding:0 0 0 50px; background:url(../img/brand/ico_x.png) 0 0 no-repeat; }
.qa_lis ul										{ width:100%; display:inline-block; }
.qa_lis ul li										{ width:297px; height:404px; float:left; text-align:center; font-size:18px; line-height:30px; color:#000; }
.qa_lis ul li:nth-child(3n+2)			{ margin:0 75px; }
.qa_lis ul li strong							{ display:block; padding:16px 0 0; font-size:18px; color:#000; font-weight:bold; }

.qa_v											{ width:100%; background:#fff; padding:100px 0 25px; }
.qa_v .inner									{ max-width:1000px; margin:0 auto; }
.qa_v .tit										{ text-align:center; font-size:26px; font-weight:bold; color:#000; padding:0 0 60px; }
.qa_v .tit span								{ padding:0 0 0 50px; display:inline-block; height:36px; background:url(../img/brand/ico_v.png) 0 0 no-repeat; }
.qa_v ul										{  }
.qa_v ul li										{ padding:0 0 75px; font-size:16px; color:#000; line-height:32px; }
.qa_v ul li strong							{ display:block; font-size:22px; color:#000; padding:20px 0 10px; }

.qa_time										{ padding:150px 0 100px; max-width:1000px; margin:0 auto; }
.qa_time .tit									{ font-size:26px; font-weight:bold; color:#000; padding:0 0 50px; text-align:center; }
.qa_time .qaTb								{ width:100%; }
.qa_time .qaTb table					{ border-top:1px solid #000; font-size:16px; color:#000; font-weight:bold; text-align:center; }
.qa_time .qaTb table tr				{ border-bottom:1px solid #000; } 
.qa_time .qaTb table tr th			{ background:#dfdfdf; padding:15px 0; vertical-align:middle; }
.qa_time .qaTb table tr td			{ padding:15px 0; vertical-align:middle; font-weight:bold; }
.qa_time .qaTb table tr td span	{ font-size:14px; color:#6a6a6a; }

.qaNoti											{ width:100%; background:#fff; padding:100px 0; }
.qaNoti .inner								{ max-width:1000px; margin:0 auto; }
.qaNoti .tit									{ font-size:26px; color:#000; font-weight:bold; position:relative; padding:38px 0 40px; text-align:center; }
.qaNoti .tit:after							{ content:''; position:absolute; top:0; left:50%; margin-left:-40px; width:80px; height:3px; background:#000; }
.qaNoti ul										{  }
.qaNoti ul li									{ padding:0 0 0 30px; font-size:24px; color:#000; line-height:48px; position:relative; letter-spacing:-2px; }
.qaNoti ul li:after							{ position:absolute; top:-2px; left:0; font-weight:bold; color:#000; font-size:24px; }
.qaNoti ul li:nth-child(1):after				{ content:'1'; }
.qaNoti ul li:nth-child(2):after				{ content:'2'; }
.qaNoti ul li:nth-child(3):after				{ content:'3'; }
.qaNoti ul li:nth-child(4):after				{ content:'4'; }
.qaNoti ul li:nth-child(5):after				{ content:'5'; }
.qaNoti ul li:nth-child(6):after				{ content:'6'; }


.brandMap									{ max-width:1280px; margin:0 auto; padding:150px 0 0; }
.brandMap>.tit								{ font-size:18px; color:#585858; padding:0 0 15px; border-bottom:1px solid #808080; }
.brandMap .mapArea					{ max-width:930px; margin:0 auto; padding:0 0 100px; }
.brandMap .mapArea .mapTit		{ padding:150px 0; font-size:36px; color:#000; font-weight:bold; text-align:center; }
#daumRoughmapContainer1547188616161			{ width:930px !important; }
#daumRoughmapContainer1547188616161 .wrap_map			{ height:484px !important; }

.roadMap										{ max-width:930px; margin:0 auto; padding:100px 0; position:relative; }
.roadMap:after								{ content:''; position:absolute; top:0; left:0; width:159px; height:4px; background:#000; }
.roadMap table								{ text-align:left; }
.roadMap table tr							{ border-bottom:1px solid #000; }
.roadMap table tr th						{ font-size:22px; color:#000; font-weight:bold; padding:50px 0; }
.roadMap table tr td						{ font-size:18px; color:#000; padding:50px 0; }
.roadMap table tr td strong					{ font-weight:normal; }
.roadMap table tr td strong span			{ font-size:18px; color:#000; font-weight:bold; }
.roadMap table tr td>span					{ font-size:12px; color:#808080; display:block; }
.roadMap table tr td>span.noBr			{ display:inline; }
.roadMap table tr td>span>span			{ font-size:14px; color:#808080; display:block; padding:20px 0 0; }


.tupper-counsel-intro							{ background:url(../img/brand/counselBg.png) repeat-x 50% 0; text-align:right; }
.tupper-counsel-intro .inner .txt1			{ padding:120px 0 135px; font-size:38px; color:#e30385; letter-spacing:-2px; }
.tupper-counsel-intro .inner .txt1 strong			{ display:block; font-size:44px; color:#e30385; letter-spacing:-2px; }
.tupper-counsel-intro .inner .txt2			{ font-size:28px; color:#000; letter-spacing:-2px; line-height:44px; }
.tupper-counsel-intro .inner .txt2 strong			{  }
.tupper-counsel-intro .inner .txt3			{ padding:300px 0 0; font-size:38px; color:#000; line-height:60px; font-weight:bold; }

.counselIco											{ text-align:center; padding:100px 0; }
.counselIco .tit										{ font-size:50px; color:#000; padding:0 0 50px; }
.counselIco .tit strong							{ color:#e30385; display:block; }
.counselIco ul										{  }
.counselIco ul li									{ padding:120px 0 0; text-align:center; }
.counselIco ul li span							{ display:block; font-size:30px; color:#000; padding:20px 0 0; }
.counselIco ul li span strong				{ display:block; color:#e30385; }

.counselSlick											{ max-width:1280px; margin:0 auto; border-top:1px solid #808080; padding:0 0 70px; }
.counselSlick .slickTit							{ padding:120px 0 70px; text-align:center; font-size:50px; color:#e30385; font-weight:bold; }
.counselSlick .slickTit strong					{ display:block; font-size:80px; color:#252525; font-weight:normal; }

.counselSlick .csSlick						{ width:100%; position:relative; }
.counselSlick .csSlick .slick-list				{ width:calc(100% - 536px); overflow:hidden; z-index:4; margin:0 268px; }
.counselSlick .csSlick .slick-slide				{ float:left; width:100%; text-align:center; position:relative; padding:0 0 70px; }
.counselSlick .csSlick .slick-slide strong	{ font-size:32px; color:#252525; display:block; letter-spacing:-2px; padding:70px 0 30px; }
.counselSlick .csSlick .slick-slide span		{ display:block; font-size:24px; }

.counselSlick .csSlick .slick-arrow			{ position:absolute; top:220px; width:55px; height:105px; margin:-52px 0 0; overflow:hidden; text-indent:-99999px; cursor:pointer; display:inline-block; z-index:9; }
.counselSlick .csSlick .slick-prev				{ left:0; background:url(../img/brand/counLeft.png) 0 50% no-repeat; }
.counselSlick .csSlick .slick-next				{ right:0; background:url(../img/brand/counRight.png) 100% 50% no-repeat; }

.counselSlick .csSlick .slick-dots				{ display:inline-block; position:absolute; bottom:10px; left:0; z-index:5; height:8px; width:100%; text-align:center; }
.counselSlick .csSlick .slick-dots li				{ display:inline-block; padding:0 10px; }
.counselSlick .csSlick .slick-dots li button			{ width:20px; height:20px; background:#e5e5e5; font-size:0; line-height:0; overflow:hidden; text-indent:-999px; border-radius:10px; }
.counselSlick .csSlick .slick-dots li.slick-active button		{ background:#e30385; }

.counselBot												{ padding:90px 0 770px; background:url(../img/brand/counsel_bot_bg.png) 50% 100% no-repeat #f7faf8; text-align:center; }
.counselBot p											{ font-size:40px; color:#e30385; padding:0 0 20px; }
.counselBot a											{ font-size:32px; line-height:42px; color:#fff; background:#000; padding:5px 10px; }



@media only screen and (max-width: 767px) {
	.benefitList						{ width:100%; display:inline-block; padding:20px 0 0; border-top:1px solid #c9c9c9; }
	.benefitList li					{ float:left; width:calc(50% - 4px); margin-bottom:8px; border:5px solid #e5e5e5; min-height:154px; padding:50px 0 0; }
	.benefitList li:nth-child(even)			{ margin-left:8px; }
	.benefitList li:nth-child(1)				{ background:url(../img/member/bnf1.png) 50% 9px no-repeat / 35px auto; }
	.benefitList li:nth-child(2)				{ background:url(../img/member/bnf2.png) 50% 9px no-repeat / auto 30px; }
	.benefitList li:nth-child(3)				{ background:url(../img/member/bnf3.png) 50% 9px no-repeat / 34.5px auto; }
	.benefitList li:nth-child(4)				{ background:url(../img/member/bnf4.png) 50% 9px no-repeat / 30px auto; }
	.benefitList li strong			{ display:block; font-size:14px; font-weight:normal; text-align:center; padding:0 0 5px; color:#000; }
	.benefitList li strong>span			{ color:#e30385; }
	.benefitList li>span						{ font-size:12px; color:#000; text-align:center; display:block; }


	.qaTop											{ height:540px; min-height:540px; background:url(../img/brand/qualityTopBg.png) 50% 0 no-repeat / contain; }
	.qaTop .tit										{ padding:40px 0 28px; font-size:22px; color:#000; font-weight:bold; position:relative; }
	.qaTop .tit:after							{ content:''; position:absolute; bottom:0; left:50%; margin-left:-40px; width:80px; height:3px; background:#000; }
	.qaTop .txt									{ padding:32px 0 0; font-size:14px; color:#000; line-height:28px; }
	.qaTop .txt strong						{ display:block; font-size:18px; color:#000; padding:0 0 10px; }
	.qaTop .txt br								{ display:none; }

	.qa_lis											{ max-width:1117px; margin:0 auto; padding:40px 0; }
	.qa_lis .tit										{ text-align:center; font-size:16px; font-weight:bold; color:#000; padding:0 0 30px; }
	.qa_lis .tit span							{ padding:0 0 0 20px; display:inline-block; height:22px; }
	.qa_lis.qa_o .tit span							{ padding:0 0 0 20px; background:url(../img/brand/ico_o.png) 0 50% no-repeat / 16px; }
	.qa_lis.qa_x .tit span							{ padding:0 0 0 20px; background:url(../img/brand/ico_x.png) 0 50% no-repeat / 16px; }
	.qa_lis ul										{ width:100%; display:inline-block; }
	.qa_lis ul li									{ width:calc(50% - 30px); height:200px; float:left; text-align:center; font-size:11px; line-height:15px; color:#000; margin:0 15px; }
	.qa_lis ul li:nth-child(3n+2)			{ margin:0 15px; }
	.qa_lis ul li strong							{ display:block; padding:8px 0 4px; font-size:12px; color:#000; font-weight:bold; }
	.qa_lis ul li br								{ display:none; }


	.qa_v											{ width:100%; background:#fff; padding:50px 0 0; }
	.qa_v .inner									{ max-width:1000px; margin:0 auto; }
	.qa_v .tit										{ text-align:center; font-size:16px; font-weight:bold; color:#000; padding:0 0 20px; }
	.qa_v .tit span								{ padding:0 0 0 20px; display:inline-block; height:36px; background:url(../img/brand/ico_v.png) 0 0 no-repeat / 16px; }
	.qa_v ul										{  }
	.qa_v ul li										{ padding:0 5px 35px; font-size:12px; color:#000; line-height:22px; }
	.qa_v ul li strong							{ display:block; font-size:14px; color:#000; padding:10px 0 10px; }
	.qa_v ul li br									{ display:none; }


	.qa_time										{ padding:50px 0 20px; max-width:1000px; margin:0 auto; }
	.qa_time .tit									{ font-size:16px; font-weight:bold; color:#000; padding:0 0 20px; text-align:center; }
	.qa_time .qaTb								{ width:100%; }
	.qa_time .qaTb table					{ border-top:1px solid #000; font-size:12px; color:#000; font-weight:bold; text-align:center; }
	.qa_time .qaTb table tr				{ border-bottom:1px solid #000; } 
	.qa_time .qaTb table tr th			{ background:#dfdfdf; padding:15px 0; vertical-align:middle; }
	.qa_time .qaTb table tr td			{ padding:8px 0; vertical-align:middle; font-weight:bold; }
	.qa_time .qaTb table tr td span	{ font-size:11px; color:#6a6a6a; }

	.qaNoti											{ width:100%; background:#fff; padding:50px 0; }
	.qaNoti .inner								{ max-width:1000px; margin:0 auto; }
	.qaNoti .tit									{ font-size:16px; color:#000; font-weight:bold; position:relative; padding:18px 0 20px; text-align:center; }
	.qaNoti .tit:after							{ content:''; position:absolute; top:0; left:50%; margin-left:-20px; width:40px; height:2px; background:#000; }
	.qaNoti ul										{ padding:0 6px; }
	.qaNoti ul li									{ padding:0 0 0 12px; font-size:12px; color:#000; line-height:24px; position:relative; letter-spacing:-1px; }
	.qaNoti ul li br								{ display:none; }
	.qaNoti ul li:after							{ position:absolute; top:-2px; left:0; font-weight:bold; color:#000; font-size:12px; }
	.qaNoti ul li:nth-child(1):after				{ content:'1'; }
	.qaNoti ul li:nth-child(2):after				{ content:'2'; }
	.qaNoti ul li:nth-child(3):after				{ content:'3'; }
	.qaNoti ul li:nth-child(4):after				{ content:'4'; }
	.qaNoti ul li:nth-child(5):after				{ content:'5'; }
	.qaNoti ul li:nth-child(6):after				{ content:'6'; }


	.brandMap									{ max-width:1280px; margin:0 auto; padding:60px 0 0; }
	.brandMap>.tit								{ font-size:18px; color:#585858; padding:0 0 15px; border-bottom:1px solid #808080; }
	.brandMap .mapArea					{ max-width:930px; margin:0 auto; padding:0 0 50px; }
	.brandMap .mapArea .mapTit		{ padding:60px 0; font-size:24px; color:#000; font-weight:bold; text-align:center; }
	#daumRoughmapContainer1547188616161			{ width:100% !important; }
	#daumRoughmapContainer1547188616161 .wrap_map			{ height:240px !important; }

	.roadMap										{ max-width:930px; margin:0 auto; padding:0 0 20px; position:relative; }
	.roadMap:after								{ content:''; position:absolute; top:0; left:0; width:80px; height:2px; background:#000; }
	.roadMap table								{ text-align:left; }
	.roadMap table tr							{ border-bottom:1px solid #000; }
	.roadMap table tr th						{ font-size:14px; color:#000; font-weight:bold; padding:20px 20px 20px 0; }
	.roadMap table tr td						{ font-size:12px; color:#000; padding:20px 0; }
	.roadMap table tr td strong					{ font-weight:normal; }
	.roadMap table tr td strong span			{ font-size:14px; color:#000; font-weight:bold; }
	.roadMap table tr td>span					{ font-size:11px; color:#808080; display:block; }
	.roadMap table tr td>span.noBr			{ display:inline; }
	.roadMap table tr td>span>span			{ font-size:12px; color:#808080; display:block; padding:20px 0 0; }


	.tupper-counsel-intro							{ background:url(../img/brand/counselBg.png) repeat-x 50% 59px / auto 100% !important; text-align:right; }
	.tupper-counsel-intro .inner .txt1			{ padding:20px 0 20px; font-size:18px; color:#e30385; letter-spacing:-1px; }
	.tupper-counsel-intro .inner .txt1 strong			{ display:block; font-size:16px; color:#e30385; letter-spacing:-1px; }
	.tupper-counsel-intro .inner .txt2			{ font-size:14px; color:#000; letter-spacing:-2px; line-height:22px; }
	.tupper-counsel-intro .inner .txt2 strong			{  }
	.tupper-counsel-intro .inner .txt3			{ padding:30px 0 20px; font-size:16px; color:#000; line-height:26px; font-weight:bold; }

	.counselIco											{ text-align:center; padding:60px 0; }
	.counselIco .tit										{ font-size:25px; color:#000; padding:0 0 25px; }
	.counselIco .tit strong							{ color:#e30385; display:block; }
	.counselIco ul										{  }
	.counselIco ul li									{ padding:60px 0 0; text-align:center; }
	.counselIco ul li span							{ display:block; font-size:18px; color:#000; padding:15px 0 0; }
	.counselIco ul li span strong				{ display:block; color:#e30385; }
	.counselIco ul li img								{ width:50%; }

	.counselSlick											{ max-width:1280px; margin:0 auto; border-top:1px solid #808080; padding:0 0 35px; }
	.counselSlick .slickTit							{ padding:60px 0 35px; text-align:center; font-size:25px; color:#e30385; font-weight:bold; }
	.counselSlick .slickTit strong					{ display:block; font-size:40px; color:#252525; font-weight:normal; }

	.counselSlick .csSlick						{ width:100%; position:relative; }
	.counselSlick .csSlick .slick-list				{ width:calc(100% - 40px); overflow:hidden; z-index:4; margin:0 20px; }
	.counselSlick .csSlick .slick-slide				{ float:left; width:100%; text-align:center; position:relative; padding:0 0 35px; }
	.counselSlick .csSlick .slick-slide strong	{ font-size:16px; color:#252525; display:block; letter-spacing:-2px; padding:35px 0 15px; }
	.counselSlick .csSlick .slick-slide span		{ display:block; font-size:12px; }

	.counselSlick .csSlick .slick-arrow			{ position:absolute; top:120px; width:55px; height:105px; margin:-52px 0 0; overflow:hidden; text-indent:-99999px; cursor:pointer; display:inline-block; z-index:9; }
	.counselSlick .csSlick .slick-prev				{ left:0; background:url(../img/brand/counLeft.png) 0 50% no-repeat / auto 52px; }
	.counselSlick .csSlick .slick-next				{ right:0; background:url(../img/brand/counRight.png) 100% 50% no-repeat / auto 52px; }

	.counselSlick .csSlick .slick-dots				{ display:inline-block; position:absolute; bottom:10px; left:0; z-index:5; height:8px; width:100%; text-align:center; }
	.counselSlick .csSlick .slick-dots li				{ display:inline-block; padding:0 5px; }
	.counselSlick .csSlick .slick-dots li button			{ width:10px; height:10px; background:#e5e5e5; font-size:0; line-height:0; overflow:hidden; text-indent:-999px; border-radius:10px; }
	.counselSlick .csSlick .slick-dots li.slick-active button		{ background:#e30385; }

	.counselBot												{ padding:45px 0 380px; background:url(../img/brand/counsel_bot_bg.png) 50% 100% no-repeat #f7faf8 / auto 70%; text-align:center; }
	.counselBot p											{ font-size:20px; color:#e30385; padding:0 0 0px; }
	.counselBot a											{ font-size:16px; line-height:42px; color:#fff; background:#000; padding:5px 10px; }
}
