@charset 'utf-8';

button                          { cursor: pointer; }

.event-content .order-history-top,
.product-content .order-history-top { padding-top: 105px; padding-bottom: 0; }

.event-content-title            { padding-top: 5em; font-size: 30px; font-weight: 400; color: #000; }
.event-sub-title                { padding-top: 2.2em; padding-bottom: 1.5em; font-size: 30px; color: #000; font-weight: 400; text-align: center; }

/* 이벤트 목록 */
.event-list-wrap                { overflow: hidden; }
.event-list                     { margin-left: -34px; margin-right: -34px; padding-top: 33px; padding-bottom: 33px; width: 1350px; border: 1px solid #d3d3d3; border-width: 1px 0; }
.event-list:after               { content: ''; display: table; clear: both; }
.event-list > li                { float: left; margin: 32px 34px; width: 382px; }
.event-list > li:nth-child(3n)  { margin-left: 32px; }
.event-item                     { position: relative; box-sizing: border-box; display: block; border: 1px solid #d3d3d3;background-color: #fff; text-align: center; font-size: 15px; }
.event-item-label               { z-index: 1; position: absolute; top: -1px; left: -1px; display: block; width: 3.143em; height: 3.143em; line-height: 3.143em; background-color: #e30385; font-size: 21px; font-weight: 500; color: #fff; }
.event-item-label.closed        { background-color: #000; }
.event-item-pic                 { overflow: hidden; position: relative; width: 100%; padding-top: 100%; }
.event-item-pic > img           { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.event-item-text                { margin-top: 2.133em; margin-bottom: 2.133em; padding-left: 10px; padding-right: 10px; }
.event-item-tit                 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; font-size: 26px; line-height: 1.2; color: #252525; }
.event-item-desc                { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; color: #585858; line-height: 2; }
.event-item-time                { position: relative; display: block; margin-top: 0.667em; padding-top: 0.667em; color: #252525; line-height: 2; font-weight: 500; }
.event-item-time:after          { position: absolute; top: 0; left: 50%; content: ''; display: block; margin-left: -1.333em; width: 2.667em; height: 1px; background-color: #343434; }

/* 이벤트 목록 > 모바일 */
@media only screen and (max-width:767px) {
    .event-content .order-history-top { padding-top: 30px; }
    .event-content-title        { padding-top: 2em; font-size: 22px; }
    .event-sub-title            { padding-top: 1.6em; padding-bottom: 1em; font-size: 22px; }
    .event-list                 { margin-left: 0; margin-right: 0; padding-top: 1em; padding-bottom: 1em; width: 100%; }
    .event-list > li            { margin: 2%; width: 46%; }
    .event-list > li:nth-child(3n) { margin-left: 2%; }
    .event-item                 { font-size: 12px; }
    .event-item-label           { width: 2.5em; height: 2.5em; line-height: 2.5em; font-size: 14px; }
    .event-item-text            { margin: .8em 0; }
    .event-item-tit             { font-size: 18px; }
}

/* 이벤트 상세 */
.event-detail-title             { padding: 3.4em 10px; font-size: 30px; background-color: #f7f7f7; color: #000; text-align: center; }
.event-detail-title h5          { font-weight: 400; }
.event-detail-content           { padding: 62px 290px; border: 1px solid #d3d3d3; border-width: 1px 0; }
.event-detail-img               { text-align: center; }
.event-detail-img > img         { max-width: 100%; }

/* 이벤트 상세 > 모바일 */
@media only screen and (max-width:767px) {
    .event-detail-title         { padding-top: 2em; padding-bottom: 2em; font-size: 18px; }
    .event-detail-content       { padding: 20px 0; }
}

/* 당첨자 발표 */
.winner-list a                   { color: #000; }
.winner-list thead th:nth-child(1) { width: 10%; }
.winner-list thead th:nth-child(2) { width: 50%; }
.winner-list thead th:nth-child(3) { width: 20%; }
.winner-list thead th:nth-child(4) { width: 20%; }

/* 당첨자 발표 상세 */
.winner-detail-header              { display: table; width: 100%; text-align: center; }
.winner-detail-header .td          { display: table-cell; padding:22px 0; border-top:1px solid #000; border-bottom:1px solid #000; font-size: 16px; color:#000; vertical-align: middle; background-color: #f7f7f7; }
.winner-detail-num                 { width: 12%; }
.winner-detail-title               { width: 52%; text-align: left; }
.winner-detail-title .value        { padding: 0 50px; font-weight: 500; }
.winner-detail-period              { width: 19%; }
.winner-detail-date                { width: 19%; }
.winner-detail-content             { padding: 70px; border-bottom: 1px solid #000; font-size: 15px; color: #000; line-height: 2; }
.winner-detail-content p + p       { margin-top: 2em; }

/* 당첨자 발표 상세 > 모바일 */
@media only screen and (max-width:767px) {
    .winner-detail-header          { display: block; padding: 15px 10px; border: 1px solid #000; border-width: 1px 0; background-color: #f7f7f7; }
    .winner-detail-header:after    { content: ''; display: table; clear: both; }
    .winner-detail-header .td      { display: block; padding: 0; border: 0; font-size: 14px; }
    .winner-detail-num             { float: left; margin-right: 10px; width: auto; text-align: left; }
    .winner-detail-num:after       { content: '.'; }
    .winner-detail-title           { float: left; width: 85%; }
    .winner-detail-title .value    { padding: 0; }
    .winner-detail-header .winner-detail-period          { float: left; margin-top: 5px; width: 50%; text-align: left; font-size: 12px; }
    .winner-detail-header .winner-detail-date            { float: left; margin-top: 5px; width: 50%; text-align: right; font-size: 12px; }
    .winner-detail-content         { padding: 15px; }
}

/* 포인트 이벤트 */
.tupper-point                      { overflow: hidden; padding: 87px 0 85px; background-color: #f7f7f7; color: #252525; word-break: keep-all; word-wrap: break-word; }
.tupper-point-me                   { float: left; box-sizing: border-box; padding: 84px 0 0 278px; width: 55%; }
.tupper-point-me .tit              { font-size: 18px; line-height: 32px; }
.tupper-point-me .tit:before       { content: ''; display: inline-block; margin-right: 8px; width: 31px; height: 32px; background: url(../img/icon-point.jpg) no-repeat; vertical-align: middle; }
.tupper-point-me .name             { font-weight: 600; }
.tupper-point-me .val              { margin-top: 7px; font-size: 50px; font-weight: 600; }
.tupper-point-me .unit             { font-size: 22px; font-weight: 500; }

.tupper-point-info                 { float: left; width: 45%; font-size: 17px; }
.tupper-point-info .define         { width: 380px; }
.tupper-point-info .word           { font-weight: 600; }
.tupper-point-info .howto          { margin-top: 85px; }

.howto-list                        { overflow: hidden; margin-top: 18px; }
.howto-list li                     { float: left; box-sizing: border-box; margin-left: 26px;  padding: 42px 20px 0; width: 115px; height: 115px; border-radius: 50%; font-size: 14px; background-color: #252525; color: #fff; line-height: 1.2; text-align: center; }
.howto-list li:first-child         { margin-left: 0; }

@media only screen and (max-width:767px) {
    .tupper-point                  { padding: 30px 25px; }
    .tupper-point-me               { float: none; padding: 0; width: 100%; text-align: center; }
    .tupper-point-me .val          { margin-top: 0; font-size: 40px; }
    .tupper-point-info             { float: none; width: 100%; font-size: 15px; }
    .tupper-point-info .define     { margin-top: 40px; width: auto; }
    .tupper-point-info .howto      { margin-top: 40px; }
    .howto-list                    { text-align: center; }
    .howto-list ul                 { display: inline-block; }
    .howto-list li                 { float: none; display: inline-block; margin: 10px; margin-left: 0; }   
}

/* 포인트 이벤트 > 이벤트 기간 */
.point-event-schedule              { margin: 185px 128px 0; padding: 100px 0 95px; border: 1px solid #000; border-width: 1px 0; text-align: center; }
.point-event-schedule .period      { color: #000; }
.point-event-schedule .period-label{ margin-right: 15px; font-size: 15px; vertical-align: top; }
.point-event-schedule .period-val  { font-size: 35px; line-height: 1; font-weight: 600; vertical-align: top; }
.point-event-schedule .final       { margin-top: 20px; color: #808080; }          
.point-event-schedule .final-label { margin-right: 12px;  font-size: 13px; vertical-align: middle; }
.point-event-schedule .final-val   { font-size: 17px; font-weight: 500; vertical-align: middle; }

/* 포인트 이벤트 > 이벤트 기간 - 모바일 */
@media only screen and (max-width:767px) {
    .point-event-schedule          { margin: 0; padding: 35px 0; }
    .point-event-schedule .period-label { display: block; }
    .point-event-schedule .period-val { font-size: 20px; }
    .point-event-schedule .final-label { display: block; }
}

/* 이 달의 선물 */
.gift-wrap                         { overflow: hidden; padding-left: 250px; padding-right: 250px; }
.gift-title                        { margin-top: 185px; margin-bottom: 100px; font-size: 24px; color: #585858; font-weight: 600; }
.gift-item                         { float: left; display: block; width: 335px; }
.gift-item + .gift-item            { float: right; }
.gift-item-pic                     { position: relative; width: 100%; padding-top: 100%; }
.gift-item-pic > img               { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.gift-item-text                    { margin-top: 40px; padding-left: 10px; padding-right: 10px; text-align: center; }
.gift-item-tit                     { display: block; font-size: 21px; color: #252525; font-weight: 600; }
.gift-item-desc                    { display: block; font-size: 15px; color: #585858; font-weight: 500; line-height: 1.4; }

.gift-point                        { position: relative; margin-top: 40px; padding-left: 10px; padding-right: 10px; }
.gift-point-go                     { position: absolute; top: 0; right: 10px; }
.gift-point-label                  { display: inline-block; width: 78px; font-size: 14px; color: #585858; font-weight: 500; }
.gift-point-val                    { font-size: 22px; color: #252525; font-weight: 600; }
.gift-point-val .unit              { font-size: 19px; font-weight: 600; }
.gift-point-people                 { color: #252525; }

/* 이 달의 선물 - 모바일 */
@media only screen and (max-width:767px) {
    .gift-wrap                     { padding-left: 0; padding-right: 0; }
    .gift-title                    { margin-top: 80px; margin-bottom: 1em; font-size: 18px; }
    .gift-item                     { width: 48%; }
    .gift-item + .gift-item        { margin-left: 4%; }
    .gift-item-text                { margin-top: 15px; padding-left: 0; padding-right: 0; }
    .gift-item-tit                 { font-size: 16px; }
    .gift-item-desc                { font-size: 13px; }
    .gift-point                    { margin-top: 15px; padding-left: 0; padding-right: 0; }
    .gift-point-text:after         { content: ''; display: table; clear: both; }
    .gift-point-go                 { position: static; margin-top: 10px; }
    .gift-point-label              { float: left; width: auto; }
    .gift-point-val                { float: right; font-size: 16px; }
    .gift-point-val .unit          { font-size: 14px; }
    .gift-point-people             { float: right; }
}

/* 포인트 이벤트 안내사항 */
.event-notice                      { display: table; margin-top: 186px; padding: 45px 0; width: 100%; border: 1px solid #d3d3d3; border-width: 1px 0; }
.event-notice-title                { display: table-cell; width: 28%; font-weight: 600; color: #808080; font-size: 15px; vertical-align: middle; text-align: center; }
.event-notice-list                 { display: table-cell; width: 72%; font-size: 13px; line-height: 1.6; }

/* 포인트 이벤트 안내사항 - 모바일 */
@media only screen and (max-width:767px) {
    .event-notice                  { display: block; margin-top: 80px; padding: 20px 15px; border-bottom: 0; }
    .event-notice-title            { display: block; width: 100%; text-align: left; }
    .event-notice-title br         { display: none; }
    .event-notice-list             { display: block; margin-top: 15px; width: 100%; line-height: 1.4; }
    .event-notice-list li          { margin-top: 0.5em; }
}

/* 리플릿 카타로그 */
.catalog-item                      { position: relative; padding: 79px 0 79px 640px; height: 740px; border: 3px solid #252525; border-width: 3px 0; color: #000; text-align: center; word-break: keep-all; word-wrap: break-word; }
.catalog-item-pic-wrap             { position: absolute; top: 79px; left: 0; }
.catalog-item-pic                  { position: relative; padding-top: 138%; width: 422px; }
.catalog-item-pic > img            { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }        
.catalog-item-title                { font-size: 47px; font-weight: 300; }
.catalog-item-period               { font-size: 29px; }
.catalog-item-period .label        { font-weight: 400; }
.catalog-item-period .val          { font-weight: 100; }
.catalog-item-desc                 { margin-top: 2.903em; font-size: 31px; line-height: 1.2; font-weight: 300; }
.catalog-item-go                   { margin-top: 1.111em; width: 100%; height: 3.639em; line-height: 3.639em; font-size: 36px; font-weight: 300; }
.catalog-item-go:before            { content: ''; display: inline-block; margin-right: 15px; width: 44px; height: 33px; background: url(../img/icon-book.png) no-repeat; background-size: cover; }
.catalog-item-benefit              { margin-top: 1.154em; font-size: 26px; font-weight: 300; }
.catalog-item-benefit .link        { color: #e30385; text-decoration: underline; font-weight: 500; }

/* 리플릿 카타로그 - 모바일 */
@media only screen and (max-width:767px) {
    .catalog-item                  { padding: 40px 10px; height: auto; border-width: 2px 0; }
    .catalog-item-pic-wrap         { position: static; margin: 0 auto; width: 80%; }
    .catalog-item-pic              { width: 100%; }
    .catalog-item-title            { margin-top: 1em; font-size: 24px; }
    .catalog-item-period           { font-size: 20px; }
    .catalog-item-period .label    { display: block; }
    .catalog-item-desc             { margin-top: 1.2em; font-size: 16px; }
    .catalog-item-go               { font-size: 18px; }
    .catalog-item-go:before        { margin-right: 10px; width: 22px; height: 17px; vertical-align: -2px; }
    .catalog-item-benefit          { font-size: 14px; }
}

/* 카타로그 bx-slider overwirte */
.catalog-content .bx-wrapper { position: relative; }
.catalog-content .bx-wrapper .bx-controls-direction a { width: 24px; height: 44px; background: url(../img/btn-arrow.png) no-repeat; top: 94%; }
.catalog-content .bx-wrapper .bx-controls-direction a.bx-next { right: 0; transform: rotate(180deg); }
.catalog-content .bx-wrapper .bx-pager { position: absolute; bottom: 24px; left: 50%; transform: translateX(-50%); }

@media only screen and (max-width:767px) {
    .catalog-content .bx-wrapper .bx-controls-direction a { top: 27%; }
    .catalog-content .bx-wrapper .bx-pager { bottom: 9px; }
}

/* 제품가이드 > 검색 */
.product-search                    { padding-top: 67px; border-top: 3px solid #252525; text-align: center; }
.product-search-field              { position: relative; display: inline-block; }
.product-search-input              { padding-left: 20px; padding-right: 50px; width: 361px; height: 60px; }
.product-search-btn                { position: absolute; top: 0; right: 0; width: 50px; height: 60px; }

.product-sort-wrap                 { display: table; margin-top: 26px; width: 100%; border: 1px solid #e7e7e7; }
.product-sort-group                { display: table-row; font-size: 24px; }
.product-sort-title                { display: table-cell; width: 13%; font-weight: 300; background-color: #000; color: #fff; vertical-align: middle; text-align: center; }
.product-sort-list-wrap            { display: table-cell; padding: 24px; width: 87%; }
.product-sort-list                 { position: relative; padding-left: 110px; }
.product-sort-list > li            { display: inline-block; margin: 12px 30px; color: #575757; }
.product-sort-list > li:first-child { position: absolute; top: 0; left: 0; }
.product-sort-list a               { font-weight: 300; }
.product-sort-list a:hover,
.product-sort-list .active a       { color: #e30385; border-bottom: 1px solid #e30385; }

/* 제품가이드 > 검색 - 모바일 */
@media only screen and (max-width:767px) {
    .product-search                { padding-top: 20px; }
    .product-search-field          { width: 100%; }
    .product-search-input          { width: 100%; }
    .product-sort-wrap             { margin-top: 20px; }
    .product-sort-group            { font-size: 14px; }
    .product-sort-title            { width: 20%; }
    .product-sort-list-wrap        { padding: 10px; width: 80%; }
    .product-sort-list             { padding-left: 0; }
    .product-sort-list > li        { margin: 5px; }
    .product-sort-list > li:first-child { position: static; }
}

.product-result-title              { padding: 1.8em 5px 0.76em; color: #4e4d4d; font-weight: 400; font-size: 25px; }
.product-result-title strong       { color: #252525; }
.product-result-wrap               { overflow: hidden; }
.product-result-list               { margin-left: -38px; margin-right: -37px; width: 1355px; }
.product-result-list:after         { content: ''; display: table; clear: both; }
.product-result-list li            { float: left; margin-bottom: 100px; margin-right: 37px; margin-left: 38px; width: 376px; }
.product-result-list li:nth-child(3n) { margin-left: 40px; }
.product-result-list + .paging     { margin-top: 0; }

.product-item                      { text-align: center; }
.product-item-title                { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 0.333em; font-size: 30px; color: #252525; font-weight: 300; }
.product-item-pic                  { position: relative; width: 100%; padding-top: 100%; }
.product-item-pic > img            { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.product-item-pic:after            { content: ''; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/btn-play.png) no-repeat 50% 50%; background-color: rgba(0,0,0,0.4); }
.product-item:hover .product-item-pic:after { display: block; }

@media only screen and (max-width:767px) {
    .product-result-title          { font-size: 18px; }
    .product-result-list           { margin-left: 0; margin-right: 0; width: auto; }
    .product-result-list li        { margin: 2%; margin-bottom: 3%; width: 46%; }
    .product-result-list li:nth-child(3n) { margin-left: 2%; }
    .product-item-title            { font-size: 16px; }
    .product-result-list + .paging { margin-top: 45px; }
    .product-item-pic:after        { display: block; background-size: 40px; }
}

.modal2                            { position: absolute; top: 160px; left: 50%; margin-left:-500px; z-index: 1000; }
.modal2-inner                      { position: relative; box-sizing: border-box; padding: 70px 130px; width: 1028px; border: 1px solid #dcdcdc; background-color: #fff; }
.modal2-close                      { position: absolute; top: 0; right: 0; padding: 22px; font-size: 0; }
.modal2-close > img                { vertical-align: top; }
.modal2-header                     { font-size: 30px; color: #000; text-align: center; line-height: 1.2; }
.modal2-header-title               { color: #000000; }
.modal2-inner-desc                 { font-weight: 300; }
.modal2-body                       { margin-top: 50px; }

.modal3                            { position: absolute; top: 160px; left: 50%; margin-left:-460px; z-index: 1000; }
.modal3-inner                      { position: relative; box-sizing: border-box; padding-left: 75px; padding-right: 75px; width: 920px; border: 1px solid #dcdcdc; background-color: #fff; }
.modal3-close                      { position: absolute; top: 14px; right: 10px; padding: 22px; font-size: 0; }
.modal3-close > img                { vertical-align: top; }
.modal3-header                     { padding-top: 24px; padding-bottom: 20px; border-bottom: 1px solid #000; font-size: 26px; color: #000; }

/* 제품가이드 > 상세 모달 */
.guide-modal-visual                { height: 397px; }
.guide-modal-box                   { margin-top: 70px; padding: 49px 0 43px; border: 1px solid #252525; border-width: 1px 0;  text-align: center; }
.guide-modal-desc                  { padding: 40px 125px; background-color: #f7f7f7; color: #252525; }
.guide-modal-desc .tit             { font-size: 21px; }
.guide-modal-desc .text            { margin-top: 1.389em; font-size: 18px; }
.guide-modal-more                  { margin-top: 1.84em; width: 425px; height: 3.680em; line-height: 3.680em; font-size: 25px; }

@media only screen and (max-width:767px) {
    .modal2                        { top: 74px; left: 0; margin-left: 10px; margin-right: 10px; }
    .modal2-inner                  { width: 100%; padding: 25px 20px 40px; }
    .modal2-header                 { margin-top: 10px; font-size: 20px; }
    .modal2-body                   { margin-top: 20px; }

    .modal3                        { top: 74px; left: 0; margin-left: 10px; margin-right: 10px; }
    .modal3-inner                  { width: 100%; padding-left: 15px; padding-right: 15px; }
    .modal3-header                 { padding-top: 15px; padding-bottom: 15px; font-size: 22px; }
    .modal3-header-title           { display: inline-block; }
    .modal3-close                  { top: 3px; right: 0; }
    
    /* 제품가이드 > 상세 모달 - 모바일 */
    .guide-modal-visual            { height: auto; }
    .guide-modal-box               { margin-top: 20px; padding: 20px 0; }
    .guide-modal-desc              { padding: 20px; }
    .guide-modal-desc .tit         { font-size: 16px; }
    .guide-modal-desc .text        { font-size: 14px; }
    .guide-modal-more              { margin-top: 10px; width: auto; font-size: 16px; }
}

/* 제품정보 > 레시피 > 상세 모달 */
.guide-modal-label                 { position: absolute; top: -1px; left: -1px; padding: 0.6em 1.45em; background-color: #000; color: #fff; font-weight: 600; font-size: 18px; }
.recipe-recommend                  { margin-bottom: 1.579em; font-size: 19px; font-weight: 500; color: #000; text-align: center; }
.guide-modal-visual.video          { position: relative; }
.guide-modal-visual.video:after    { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/btn-play.png) no-repeat 50% 50%; background-color: rgba(0,0,0,0.4); }

.recipe-feature                    { padding-top: 20px; text-align: center; color: #2f2f2f; }
.recipe-feature ul                 { display: inline-block; }
.recipe-feature li                 { display: inline-block; margin: 10px 15px; }
.recipe-feature-pic                { margin: 0 auto; width: 54px; height: 54px; margin-bottom: 10px; }
.recipe-feature-pic > img          { max-width: 100%; }

.recipe-modal-box                  { margin-top: 20px; padding: 45px 5px; border: 1px solid #252525; border-width: 1px 0; font-weight: 500; }
.recipe-modal-box:after            { content: ''; display: block; clear: both; }

.recipe-material,
.recipe-step                       { padding: 28px 30px; background-color: #f7f7f7; color: #585858; }
.recipe-material-tit,
.recipe-step-tit                   { margin-bottom: 0.81em; color: #252525; font-size: 21px; text-align: center; }

.recipe-material li                { position: relative; padding-left: 10px; }
.recipe-material li:after          { content: ''; position: absolute; top: 10px; left: 0; display: block; width: 3px; height: 3px; border-radius: 3px; background-color: #585858; }

.recipe-material                   { float: left; width: 227px; }
.recipe-step                       { float: right; width: 517px; }

.recipe-used-product               { padding: 70px 0 50px; border-bottom: 1px solid #252525; text-align: center; }
.recipe-used-product .tit          { margin-bottom: 40px; font-size: 21px; color: #252525; }
.recipe-used-product .list         { display: inline-block; }
.recipe-used-product .list li      { display: inline-block; margin: 10px 8px; }

.used-product                      { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;  font-size: 14px; color: #585858; font-weight: 500; }

/* 제품정보 > 레시피 > 상세 모달 - 모바일 */
@media only screen and (max-width:767px) {
    .guide-modal-label             { font-size: 12px; }
    .recipe-recommend              { font-size: 14px; }
    .recipe-recommend br           { display: none; }
    .recipe-material               { float: none; width: 100%; }
    .recipe-step                   { float: none; width: 100%; }
    .recipe-material,
    .recipe-step                   { padding: 20px; }
    .recipe-material-tit,
    .recipe-step-tit               { font-size: 16px; text-align: left; }
    .recipe-material-list,
    .recipe-step-list              { font-size: 14px; }
    .recipe-modal-box              { padding: 0; }
    .recipe-feature                { font-size: 14px; }
    .recipe-feature li             { margin: 8px; }
    .recipe-feature-pic            { width: 36px; height: 36px; }
    .recipe-used-product           { padding-top: 40px; padding-bottom: 0; border-bottom: 0; }
    .recipe-used-product .tit      { margin-bottom: 20px; font-size: 18px; }
    .recipe-used-product .list li  { float: left; margin: 2%; width: 46%; }
}

/* 고객센터 > 매장찾기 */
.search-store                      { float: left; padding: 60px 70px 73px; width: 48%; height: 464px; background-color: #f8f8f8; }
.search-store + .search-store      { float: right; }
.search-store-title                { color: #000; font-size: 26px; font-weight: 700; }
.select-location-wrap              { overflow: hidden; margin-top: 55px; padding-left: 17px; padding-right: 17px; background: url(../img/common/arrow-location.png) no-repeat 50% 50%; }
.select-location                   { overflow: auto; overflow-x: hidden; float: left; width: 160px; height: 250px; border: 1px solid #d3d3d3; background-color: #fff; }
.select-location + .select-location{ float: right; }
.select-location-list > li         { box-sizing: border-box; padding: 11px 20px; border: 3px solid #fff; color: #252525; font-size: 15px; font-weight: 600; cursor: pointer; }
.select-location-list > li.active,
.select-location-list > li:hover   { border-color: #1eb5da; }

.search-store-field                { position: relative; margin-top: 100px; border-bottom: 5px solid #000; }
.search-store-field .input         { height:60px; line-height:60px; padding-left: 0; padding-right: 45px; width:100%; font-size:24px; border:none; font-weight: 500; background-color: transparent; color:#000; }
.search-store-field .input::placeholder { font-size: 28px; font-weight: 700; color: #dcdcdc; }
.search-store-field .btn           { position:absolute; right:0; padding-left: 10px; padding-right: 4px; height: 60px; }

.store-schedule                    { margin-top: 65px; color: #000; }
.store-schedule dt                 { font-weight: 600; }
.store-schedule dd                 { font-size: 14px; }
.store-schedule .small             { font-size: 12px; }

.table-type03.line-bolder table thead th { border-width: 2px 0; }
.table-type03.line-bolder table tbody tr:last-child td { border-bottom-width: 2px; }

.result-store-wrap                 { margin-top: 140px; }
.result-store-more                 { color: #1eb5da; font-weight: 700; border-bottom: 1px solid #1eb5da; font-size: 14px; }
.result-store-table tr th:nth-child(1) { width: 14%; }
.result-store-table tr th:nth-child(2) { width: 14%; }
.result-store-table tr th:nth-child(3) { width: 14%; }
.result-store-table tr th:nth-child(4) { width: 30%; }
.result-store-table tr th:nth-child(5) { width: 14%; }
.result-store-table tr th:nth-child(6) { width: 14%; }

/* 고객센터 > 매장찾기 - 모바일 */
@media only screen and (max-width:767px) {
    .search-store                      { float: none; padding: 20px 15px; width: 100%; height: auto; }
    .search-store + .search-store      { margin-top: 20px; }
    .search-store-title                { font-size: 18px; }
    .select-location                   { width: 43%; }
    .select-location-wrap              { margin-top: 20px; padding-left: 0; padding-right: 0; }
    .select-location-list > li         { padding: 10px; font-size: 14px; }
    .search-store-field                { margin-top: 40px; }
    .search-store-field .input::placeholder { font-size: 22px; }
    .store-schedule                    { margin-top: 20px; }
    .result-store-wrap                 { margin-top: 60px; }
    .result-store-more                 { font-size: 12px; }
}

/* 고객센터 > 매장찾기 상세정보 팝업 */
.store-info-modal .modal3-header       { position: relative; padding-right: 50px; }
.store-info-modal .modal3-body         { padding: 20px 15px 50px; }
.store-info-share                      { position: absolute; top: 15px; right: 0; }
.store-info-manager                    { padding-left: 5px; font-size: 18px; color: #363636; font-weight: 300; }
.store-info-story                      { padding: 5px; }
.store-info-box                        { margin-top: 12px; }
.store-info-box:after                  { content: ''; display: table; clear: both; }
.store-info-pic                        { position: relative; float: left; width: 196px; height: 231px; border: 1px solid #dcdcdc; }
.store-info-pic > img                  { width: 100%; height: 100%; object-fit: cover; }
.store-info-stamp                      { position: absolute; bottom: -15px; right: -40px; }
.store-info-list                       { float: right; display: table; width: 470px; color: #252525; line-height: 2; }
.store-info-list dl                    { display: table-row; }
.store-info-list dt                    { display: table-cell; width: 18%; font-weight: 600; }
.store-info-list dd                    { display: table-cell; width: 82%; font-weight: 300; }
.store-info-map                        { margin-top: 27px; border: 1px solid #dcdcdc; }

/* 고객센터 > 매장찾기 상세정보 팝업 - 모바일 */
@media only screen and (max-width:767px) {
    .store-info-modal .modal3-header   { padding-right: 30px; padding-left: 40px; }
    .store-info-share                  { position: absolute; top: 12px; left: 0; }
    .store-info-share > img            { width: 40px; }
    .store-info-box                    { text-align: center; }
    .store-info-pic                    { float: none; display: inline-block; }
    .store-info-list                   { display: block; float: none; width: 100%; font-size: 14px; line-height: 1.6; text-align: left; }
    .store-info-list dl                { display: block; margin-top: 10px; }
    .store-info-list dt                { display: block; width: 100%; }
    .store-info-list dd                { display: block; width: 100%; }
}

/* 비회원 주문조회 */
.non-members-visual                    { padding: 200px 0; text-align: center; }
.non-members .order-history-top        { padding-top: 0; padding-bottom: 0; }
.non-members .conTop                   { padding-top: 0; }
.non-members .store-info-more          { margin-left: 30px; width: 116px; height: 36px; line-height: 36px; min-width: auto; }

@media only screen and (max-width:767px) {
    .non-members-visual                { display: none; }
    .non-members .order-history-top    { padding-top: 40px; padding-bottom: 20px; }
    .non-members-order-table tr td:nth-child(1) { display: none; }
    .non-members .orderTable table td  { font-size: 14px; }
    .non-members .orderTable .order-total > strong  { font-size: 14px; font-weight: 700; }
    .non-members .store-info-more      { margin-top: 10px; margin-left: 0; width: 100%; }   
    .studio-location                   { display: block; }
}

/* 브랜드 > 쿠킹 클래스 신청하기 */
.cooking-modal                         { display: none; width: 579px; background-color: #fff; border: 1px solid #dcdcdc; box-sizing: border-box; position: fixed; top: 85px; left: 50%; margin-left: -298px; z-index: 1000; }
.cooking-content .feFoSelect           { height: 49px; line-height: 47px; border: 1px solid #dcdcdc; border-radius: 0; /*background: #fff url(../img/common/arrow-select.png) no-repeat 100% -2px;*/ }
.cooking-content .bookingCC            { margin-bottom: 0; padding-top: 45px; border-top-width: 0; }
.cooking-content .bookingCC:first-child { padding-top: 30px; border-top-width: 1px; }

.cooking-myinfo                        { position: relative; }
.cooking-myinfo:before                 { content: ''; position: absolute; top: 50%; left: 50%; margin-top: -12px; width: 1px; height: 24px; background-color: #000; }
.cooking-myinfo:after                  { content: ''; display: table; clear: both; }
.cooking-myinfo .input                 { float: left; width: 47%; }
.cooking-myinfo .input + .input        { float: right; }
.cooking-myinfo .input::placeholder    { font-weight: 400; font-size: 16px; }

.cooking-select-store                  { margin-top: 16px; }
.cooking-select-store .feFoSelect      { width: 100%; }

.cooking-select-loca                   { position: relative; }
.cooking-select-loca:before            { content: ''; position: absolute; top: 50%; left: 50%; margin-top: -12px; width: 1px; height: 24px; background-color: #000; }
.cooking-select-loca:after             { content: ''; display: table; clear: both; }
.cooking-select-loca .feFoSelect       { float: left; width: 47%; }
.cooking-select-loca .feFoSelect + .feFoSelect { float: right; }

.cooking-search                        { margin-top: 16px; }
.cooking-search .input                 { padding-left: 10px; padding-right: 50px; width: 100%; background: url(../img/common/icon-search-thin.png) no-repeat right 10px top 11px; } 

.cooking-selected                      { overflow: hidden; margin-top: 23px; }
.cooking-selected-loca                 { float: left; width: 47%; height: 33px; line-height: 31px; border: 1px solid #000; font-size: 19px; color: #000; font-weight: 300; text-align: center; }
.cooking-loca-more                     { float: right; width: 47%; height: 33px; background-color: #000; color: #fff; font-size: 19px; font-weight: 300; }

.cooking-content .select-date          { margin-top: 45px; }
.cooking-request-agree                 { margin-top: 10px; text-align: center; }
.cooking-content .textBox::placeholder { font-weight: 400; font-size: 16px; }

/* 브랜드 > 쿠킹 클래스 신청하기 - 모바일 */
@media only screen and (max-width:767px) {
    .cooking-content .btnWrap [class*=button] + [class*=button] { margin-top: 0; margin-left: 8px; }
    .cooking-content .bookingCC:first-child { border: 0; padding-top: 0; }
    .cooking-search .input             { background-size: 18px; }
    .cooking-content .feFoSelect       { height: 40px; line-height: 38px; }
    .cooking-selected-loca             { font-size: 15px; }
    .cooking-loca-more                 { font-size: 15px; }
    .cooking-modal                     { box-sizing: border-box; width: 100%; top: 0; left: 0; margin-left: 0; }
    .cooking-content .select-dateTable { width: 100%; }
    .cooking-content .other-questions .textBox { width: 100%; }
}

/*  브랜드 > 쿠킹클래스 예약 내역 */
.cooking-history-wrap                  { margin-top: 100px; }
.cooking-history-more                  { min-width: auto; width: 137px; height: 31px; line-height: 31px; font-weight: 400; font-size: 15px; }
.cooking-history-table th,
.cooking-history-table td                 { word-break: keep-all; word-wrap: break-word; }
.cooking-history-table tr th:nth-child(1) { width: 15%; }
.cooking-history-table tr th:nth-child(2) { width: 35%; }
.cooking-history-table tr th:nth-child(3) { width: 20%; }
.cooking-history-table tr th:nth-child(4) { width: 20%; }
.cooking-history-table tr th:nth-child(5) { width: 10%; }

/* 브랜드 > 쿠킹클래스 예약 내역 - 모바일 */
@media only screen and (max-width:767px) {
    .cooking-history-wrap               { margin-top: 40px; }
    .cooking-history-more               { padding: 5px; width: auto; height: auto; line-height: 1.2; font-size: 12px; font-weight: 600; }
    .cooking-history-table tr th:nth-child(1) { width: 18%; }
    .cooking-history-table tr th:nth-child(2) { width: 26%; }
    .cooking-history-table tr th:nth-child(3) { width: 20%; }
    .cooking-history-table tr th:nth-child(4) { width: 18%; }
    .cooking-history-table tr th:nth-child(5) { width: 18%; }
}

/* 브랜드 > 타파웨어 브랜즈 > 제목, 메뉴 */
.brand-title                           { margin-top: 145px; padding-bottom: 62px; border-bottom: 3px solid #000; font-size: 30px; color: #000; font-weight: 400; }
.brand-nav-list                        { margin-top: 75px; overflow: hidden; }
.brand-nav-list li                     { float: left; }
.brand-nav-list li + li                { margin-left: 73px; }        
.brand-nav-item                        { position: relative; display: block; padding: 40px; width: 265px; height: 264px; border: 1px solid #000; color: #000; font-size: 24px; font-weight: 600; }
.brand-nav-item:after                  { content: ''; position: absolute; bottom: 41px; right: 35px; display: block; width: 11px; height: 21px; background: url(../img/common/arrow-brand.sprite.png) no-repeat -10px -41px; }

.brand-nav-list .active .brand-nav-item,
.brand-nav-item:hover                  { background-color: #000; color: #fff; }
.brand-nav-list .active .brand-nav-item:after,
.brand-nav-item:hover:after            { background-position: -10px -10px; }

@media only screen and (max-width:767px) {
    .brand-title                       { margin-top: 2em; padding-bottom: 0; border-bottom: 0; font-size: 22px; }
    .brand-nav-list                    { margin-top: 40px; }
    .brand-nav-list li                 { float: none; }
    .brand-nav-list li + li            { margin-left: 0; }
    .brand-nav-item                    { padding: 15px 20px; width: 100%; height: auto; font-size: 16px; font-weight: 400; border-top-width: 0; }
    .brand-nav-list li:first-child .brand-nav-item { border-top-width: 1px; }
    .brand-nav-item:after              { bottom: 50%; right: 15px; margin-bottom: -10px; }
    .brand-nav-item br                 { display: none; }
}

/* 브랜드 > 타파웨어 브랜즈 > 서브메뉴 */
.brand-snb                             { padding-top: 32px; padding-bottom: 24px; border-bottom: 1px solid #808080; }
.brand-snb:after                       { content: ''; display: table; clear: both; }
.brand-snb-title                       { float: left; color: #585858; color: #000; font-size: 18px; }
.brand-snb-list                        { float: right; }
.brand-snb-list li                     { float: left; }
.brand-snb-list li + li                { margin-left: 22px; }
.brand-snb-item                        { padding-left: 8px; padding-right: 8px; color: #000; font-size: 14px; font-weight: 600; }
.brand-snb-item:hover,
.brand-snb-list .active .brand-snb-item{ color: #1eb5da; }

.white-theme.brand-snb                 { border-color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.3); }
.white-theme .brand-snb-title          { color: #fff; }
.white-theme .brand-snb-item           { color: #fff; }
.white-theme .brand-snb-item:hover     { color: #1eb5da; }

@media only screen and (max-width:767px) {
    .brand-snb                         { padding-top: 0; padding-bottom: 5px; }
    .brand-snb-title                   { float: none; }
    .brand-snb-list                    { float: none; margin-top: 8px; }
    .brand-snb-list li                 { float: none; display: inline-block; }
    .brand-snb-list li + li            { margin-left: 0; }
    .brand-snb-item                    { padding-left: 0; padding-right: 0; }
    .brand-snb-list li:not(:first-child) .brand-snb-item:before { content: '/'; margin-left: 5px; margin-right: 5px; color: #000; }
    .white-theme.brand-snb             { border-color: #808080; text-shadow: none; }
    .white-theme .brand-snb-title      { color: #585858; }
    .white-theme .brand-snb-item       { color: #000; }

}

/* 브랜드 > 타파웨어 브랜즈 > 비전 */
.brand-intro-content                   { padding-bottom: 0; }
.tupper-intro                          { margin-top: 161px; padding-bottom: 200px; }
.tupper-intro-vision                   { background: #f2f2f2 url(../img/bg-brand1.jpg) no-repeat 50% 0; }

.tupper-intro-1                        { height: 1290px; text-align: right; color: #000; word-break: keep-all; word-wrap: break-word; }
.tupper-intro-1 .title                 { margin-top: 162px; font-size: 30px; font-weight: 700; line-height: 1.3; }
.tupper-intro-1 .desc                  { position: relative; margin-top: 210px; padding-top: 46px; font-size: 17px; font-weight: 500; line-height: 2.2; }
.tupper-intro-1 .desc:after            { content: ''; position: absolute; top: 0; right: 0; display: block; width: 84px; height: 3px; background-color: #000; }
.tupper-intro-1 .highlight             { font-size: 27px; font-weight: 500; line-height: 2; }

@media only screen and (max-width:767px) {
    .tupper-intro                      { margin-top: 40px; padding-bottom: 10px; background: none; background-size: cover; }
    .tupper-intro-1                    { padding: 20px 15px 60px; height: auto; background-color: #8c7871; color: #fff; }
    .tupper-intro-1 .title             { margin-top: 100px; font-size: 24px; }
    .tupper-intro-1 .desc              { margin-top: 50px; font-size: 14px; line-height: 1.6; }
    .tupper-intro-1 .desc:after        { background-color: #fff; }
    .tupper-intro-1 .desc br           { display: none; }
    .tupper-intro-1 .highlight         { font-size: 16px; }
}

.brand-slider-wrapper                  { position: relative; margin: 0 auto; width: 1024px; }
.brand-slider-wrapper .bx-controls     { z-index: 1; position: relative; }
.brand-slider-wrapper .bx-wrapper .bx-pager { position: absolute; top: -50px; left: 50%; transform: translateX(-50%); }

.tupper-intro-slider                   { position: relative; box-sizing: border-box; padding: 107px 328px 0 75px; width: 1024px; height: 692px; background-color: #fff; color: #000; }
.tupper-intro-slider .title            { position: relative; padding-top: 34px; color: #1eb5da; font-size: 20px; line-height: 2; font-weight: 500; }
.tupper-intro-slider .title:after      { content: ''; position: absolute; top: 0; left: 0; display: block; width: 84px; height: 3px; background-color: #000; }
.tupper-intro-slider .title strong     { display: block; font-weight: 700; }
.tupper-intro-slider .desc             { margin-top: 40px; font-size: 18px; font-weight: 500; line-height: 2.1; }

.tupper-intro-slider:after             { content: ''; position: absolute; top: 0; right: 0; display: block; width: 328px; height: 691px; background: url(../img/bg-brand-slide1.jpg) no-repeat; }
.tupper-intro-slider2:after            { background-image: url(../img/bg-brand-slide2.jpg); }
.tupper-intro-slider3:after            { background-image: url(../img/bg-brand-slide3.jpg); }
.tupper-intro-slider4:after            { background-image: url(../img/bg-brand-slide4.jpg); }

.brand-slider-ctrl .prev,
.brand-slider-ctrl .next               { position: absolute; top: 290px;  }
.brand-slider-ctrl .bx-prev,
.brand-slider-ctrl .bx-next            { display: block; width: 55px; height: 105px; background: url(../img/common/arrow-large.png) no-repeat; text-indent: -9999px; }
.brand-slider-ctrl .prev               { left: -112px; }
.brand-slider-ctrl .next               { right: -112px; transform: rotate(180deg); }

/* 브랜드 > 타파웨어 브랜즈 > 비전 - 모바일 */
@media only screen and (max-width:767px) {
    .brand-slider-wrapper              { width: 100%; }
    .brand-slider-ctrl                 { display: none; }
    .tupper-intro-slider               { width: 100%; height: auto; padding: 40px 40px 90px; word-break: keep-all; word-wrap: break-word; }
    .tupper-intro-slider:after         { width: 100%; height: 100%; background-size: cover; opacity: 0.3; }
    .tupper-intro-slider .title        { z-index: 1; padding-top: 25px; font-size: 16px; color: #039fc5; line-height: 1.8; }
    .tupper-intro-slider .title:after  { width: 42px; height: 2px; }
    .tupper-intro-slider .desc         { z-index: 1; position: relative; margin-top: 20px; font-size: 14px; line-height: 1.6; }
    .tupper-intro-slider .desc br      { display: none; }    
}

/* 브랜드 > 타파웨어 브랜즈 > 글로벌 타파웨어 */
.tupper-intro-global                   { background: #f2f2f2; color: #000; }
.tupper-global .title                  { margin-top: 160px; font-size: 30px; font-weight: 700; text-align: center; }
.tupper-global .desc                   { margin-top: 35px; font-size: 19px; font-weight: 300; line-height: 1.6; text-align: center; }

.global-info                           { margin-top: 90px; }
.global-info:after                     { content: ''; display: table; clear: both; }

.country-list                          { position: relative; float: left; width: 876px; height: 507px; background: url(../img/bg-global.png) no-repeat; }
.country-list button                   { position: absolute; font-size: 18px; font-weight: 600; color: #808080; }
.country-list button:hover,
.country-list button.active            { color: #1eb5da; }

.country-list .north-america           { top: 150px; left: 105px; }
.country-list .europe                  { top: 130px; left: 430px; }
.country-list .asia                    { top: 225px; left: 654px; }
.country-list .africa                  { top: 286px; left: 438px; }
.country-list .south-america           { top: 372px; left: 180px; }

.city-wrap                             { float: right; margin-top: 40px; width: 280px; border-top: 3px solid #000; }
.city-title                            { text-indent: -99999px; font-size: 0; }
.city-list                             { overflow: hidden; margin-top: 25px; font-size: 13px; } 
.city-list li                          { float: left; padding: 10px 5px; width: 50%; }

.city-group                            { display: none }
.city-group[data-id="asia"]            { display: block; }

/* 브랜드 > 타파웨어 브랜즈 > 글로벌 타파웨어 - 모바일 */
@media only screen and (max-width:767px) {
    .tupper-intro-global               { background: none; word-break: keep-all; word-wrap: break-word; }
    .tupper-global                     { background: #f2f2f2 url(../img/bg-global.png) no-repeat 50% 0; }
    .tupper-global .title              { margin-top: 60px; font-size: 22px; }
    .tupper-global .desc               { padding-left: 20px; padding-right: 20px; font-size: 16px; }
    .tupper-global .desc br            { display: none; }
    
    .country-list                      { display: none; background: none; }
    .city-wrap                         { margin-top: 0; padding-bottom: 60px; float: none; width: auto; border-top-width: 0; }
    .city-group                        { display: block; padding-left: 20px; padding-right: 20px; }
    .city-group + .city-group          { margin-top: 40px; }
    .city-title                        { padding-bottom: 5px; border-bottom: 1px solid #000; text-indent: 0; font-size: 16px; }
    .city-list                         { margin-top: 10px; }
    .city-list li                      { padding-top: 5px; padding-bottom: 5px; }
}

/* 브랜드 > 타파웨어 브랜즈 > 역사 */
.brand-history-slider .tupper-intro-slider .title        { padding-top: 28px; line-height: 2; }
.brand-history-slider .tupper-intro-slider .title strong { font-size: 36px; line-height: 1.2; }
.brand-history-slider .tupper-intro-slider .desc         { margin-top: 70px; font-size: 17px; }

.brand-history-item1.tupper-intro-slider:after { background-image: url(../img/bg-history-slider1.jpg); }
.brand-history-item2.tupper-intro-slider:after { background-image: url(../img/bg-history-slider2.jpg); }
.brand-history-item3.tupper-intro-slider:after { background-image: url(../img/bg-history-slider3.jpg); }
.brand-history-item4.tupper-intro-slider:after { background-image: url(../img/bg-history-slider4.jpg); }
.brand-history-item5.tupper-intro-slider:after { background-image: url(../img/bg-history-slider5.jpg); }
.brand-history-item6.tupper-intro-slider:after { background-image: url(../img/bg-history-slider6.jpg); }
.brand-history-item7.tupper-intro-slider:after { background-image: url(../img/bg-history-slider7.jpg); }
.brand-history-item7.tupper-intro-slider .title strong { font-size: 31px; font-weight: 500; }
.brand-history-item7.tupper-intro-slider .desc { margin-top: 10px; }

.tupper-intro-history                  { background: #e9e9e9 url(../img/bg-history.png) no-repeat 0 160px; word-break: keep-all; word-wrap: break-word; }
.tupper-history                        { margin-bottom: 100px; padding-bottom: 350px; border-bottom: 1px solid #fff; }
.tupper-history .title                 { margin-top: 169px; font-size: 30px; font-weight: 700; color: #000; text-align: right; line-height: 1.35; }
.tupper-history .desc                  { position: relative; margin-top: 297px; padding-top: 20px; font-size: 17px; font-weight: 500; color: #000; text-align: right; line-height: 2.35; }
.tupper-history .desc:after            { content: ''; position: absolute; top: 0; right: 0; display: block; width: 84px; height: 3px; background-color: #000; }
.tupper-history .highlight             { display: block; margin-bottom: 35px; color: #1eb5da; font-size: 20px; }

/* 브랜드 > 타파웨어 브랜즈 > 역사 - 모바일 */
@media only screen and (max-width:767px) {
    .tupper-intro-history              { background-color: transparent; background-size: 600px; background-position-y: 180px; }
    .tupper-history                    { margin-bottom: 0; padding: 20px 15px 60px; height: auto; border-bottom-width: 0; color: #fff; }
    .tupper-history .title             { margin-top: 100px; font-size: 24px; }
    .tupper-history .desc              { margin-top: 50px; font-size: 14px; line-height: 1.6; }
    .tupper-history .desc br           { display: none; }
    .tupper-history .highlight         { font-size: 16px; color: #0b7d9a; }

    .brand-history-slider .tupper-intro-slider .title        { z-index: 1; padding-top: 25px; font-size: 16px; color: #039fc5; line-height: 1.8; }
    .brand-history-slider .tupper-intro-slider .title strong { font-size: 24px; }
    .brand-history-item7.tupper-intro-slider .title strong   { font-size: 22px; }
    .brand-history-slider .tupper-intro-slider .title:after  { width: 42px; height: 2px; }
    .brand-history-slider .tupper-intro-slider .desc         { z-index: 1; position: relative; margin-top: 20px; font-size: 14px; line-height: 1.6; }
    .brand-history-slider .tupper-intro-slider .desc br      { display: none; }
}

/* 브랜드 > 타파웨어 브랜즈 > 사회공헌 & 환경보호 활동 */
.tupper-intro-social                   { background: #f2f2f2 url(../img/bg-social.jpg) no-repeat 50% 0; word-break: keep-all; word-wrap: break-word; }
.tupper-social                         { height: 776px; }
.tupper-social-2                       { padding-bottom: 125px; border-bottom: 1px solid #808080; }
.tupper-social .title                  { margin-top: 200px; font-size: 40px; color: #111a0e; line-height: 1.1; font-weight: 700; text-align: center; }

.tupper-social-item                    { padding: 49px 107px 80px; width: 1024px; height: 1308px; background-color: #fff; color: #111a0e; }
.tupper-social-item .title             { font-size: 35px; text-align: center; }
.tupper-social-item .desc              { margin-top: 30px; font-size: 17px; font-weight: 500; text-align: center;  line-height: 2.1; }
.tupper-social-item .img               { margin-top: 50px; }
.tupper-social-item .title2            { position: relative; margin-top: 91px; padding-top: 68px; color: #1eb5da; font-size: 20px; line-height: 2; }
.tupper-social-item .title2:after      { content: ''; position: absolute; top: 0; left: 0; display: block; width: 84px; height: 3px; background-color: #000; }
.tupper-social-item .list              { font-size: 17px; color: #000; }
.tupper-social-item .list li           { position: relative; margin-top: 11px; padding-left: 12px; }
.tupper-social-item .list li:first-child{ margin-top: 40px; }
.tupper-social-item .list li:after     { content: '-'; position: absolute; top: 2px; left: 0; line-height: 1; }
.tupper-social-item .list .small       { display: block; color: #252525; font-size: 15px; }
.tupper-social-2 .brand-slider-ctrl .prev, 
.tupper-social-2 .brand-slider-ctrl .next               { top: 600px; }

/* 브랜드 > 타파웨어 브랜즈 > 사회공헌 & 환경보호 활동 - 모바일 */
@media only screen and (max-width:767px) {
    .tupper-intro-social               { background: none; }
    .tupper-social                     { padding: 90px 20px 180px; height: auto; background: url(../img/bg-social.jpg) no-repeat 50% 0; background-size: 700px; }
    .tupper-social-2                   { padding-bottom: 0; border-bottom-width: 0; }
    .tupper-social .title              { margin-top: 0; font-size: 24px; }
    .tupper-social-item                { width: 100%; height: auto; padding: 50px 20px 90px; }
    .tupper-social-item .title         { font-size: 20px; }
    .tupper-social-item .desc          { margin-top: 20px; font-size: 14px; line-height: 1.6; }
    .tupper-social-item .desc br       { display: none; }
    .tupper-social-item .img           { margin-top: 30px; }
    .tupper-social-item .title2        { margin-top: 50px; padding-top: 20px; font-size: 18px; }
    .tupper-social-item .title2:after  { width: 42px; height: 2px; }
    .tupper-social-item .list          { font-size: 14px; }
    .tupper-social-item .list li       { margin-top: 5px; }
    .tupper-social-item .list li:first-child { margin-top: 20px; }
    .tupper-social-item .list .small   { font-size: 14px; color: #666; }
}

/* 브랜드 > 타파웨어 브랜즈 코리아 > 타파웨어 주요 제품 */
.tupper-korea-main                     { background: #f2f2f2 url(../img/brand/bg-korea.jpg) no-repeat 50% 0; word-break: keep-all; word-wrap: break-word; }
.tupper-korea-main-1                   { height: 776px; }
.tupper-korea-main-1 .title            { margin-top: 169px; font-size: 30px; font-weight: 500; text-align: center; color: #fff; text-shadow: 1px 1px 2px rgba(0,0,0,0.3); }
.tupper-korea-main-1 .big              { display: block; font-size: 36px; font-weight: 700; }

.tupper-korea-item                     { position: relative; padding: 0 107px 89px; width: 1024px; height: 1308px; background-color: #fff; }
.tupper-korea-item .title              { height: 146px; line-height: 146px; text-align: center; }
.tupper-korea-item .title img          { display: inline-block; }
.tupper-korea-item .title2             { position: relative; margin-top: 90px; padding-top: 85px; color: #1eb5da; font-size: 20px; font-weight: 600; line-height: 2; }
.tupper-korea-item .title2:after       { content: ''; position: absolute; top: 0; left: 0; display: block; width: 84px; height: 3px; background-color: #000; }
.tupper-korea-item .desc               { margin-top: 40px; color: #000; font-size: 17px; line-height: 2.35; }
.tupper-korea-item .button             { position: absolute; bottom: 89px; left: 107px; width: 266px; height: 54px; line-height: 54px; font-size: 17px; font-weight: 400; }

.tupper-korea-main-2 .brand-slider-ctrl .prev, 
.tupper-korea-main-2 .brand-slider-ctrl .next{ top: 600px; }
.tupper-korea-main-2 .bx-controls            { display: none; }

/* 브랜드 > 타파웨어 브랜즈 코리아 > 타파웨어 주요 제품 - 모바일 */
@media only screen and (max-width:767px) {
    .tupper-korea-main                       { background: none; }
    .tupper-korea-main-1                     { padding: 90px 20px 180px; height: auto; background: url(../img/brand/bg-korea.jpg) no-repeat 50% 0; background-size: 700px; }
    .tupper-korea-main-1 .title              { margin-top: 0; font-size: 22px; }
    .tupper-korea-main-1 .big                { font-size: 24px; }

    .tupper-korea-item                  { padding: 80px 20px 90px; width: 100%; height: auto; }
    .tupper-korea-item .title           { height: auto; line-height: 1; }
    .tupper-korea-item .title img       { max-width: 80%; }
    .tupper-korea-item .title2          { margin-top: 50px; padding-top: 20px; font-size: 18px; line-height: 1.6; }
    .tupper-korea-item .title2:after    { width: 42px; height: 2px; }
    .tupper-korea-item .img             { margin-top: 40px; }
    .tupper-korea-item .desc            { margin-top: 20px; font-size: 14px; line-height: 1.6; }
    .tupper-korea-item .desc br         { display: none; }
    .tupper-korea-item .button          { position: static; margin-top: 40px; font-size: 14px; }
    .tupper-korea-main-2 .bx-controls   { display: block; }
}

/* 브랜드 > 타파웨어 브랜즈 코리아 > 타파웨어 브랜즈 코리아 소개 */
.tupper-korea-intro                     { position: relative; background: url(../img/brand/bg-korea-intro.jpg) repeat-x 50% 0; word-break: keep-all; word-wrap: break-word; }
.tupper-korea-intro.tupper-intro        { padding-bottom: 0; }
.tupper-korea-intro-1                   { height: 509px; text-align: center; }
.tupper-korea-intro-1 .title            { margin-top: 150px; font-size: 30px; color: #fff; font-weight: 400; }
.tupper-korea-intro-1 .title .big       { font-size: 36px; font-weight: 700; }

.tupper-korea-intro-2                   { position: relative; margin-bottom: 161px; padding: 100px 130px 45px; height: 1990px; border: 1px solid #dedede; background-color: #f8f8f8; }
.tupper-korea-history                   { display: inline-block; }
.tupper-korea-history > li              { overflow: hidden; margin-top: 25px; }
.tupper-korea-history .year             { float: left; width: 71px; color: #000; font-size: 24px; font-weight: 700; text-align: left; line-height: 1.3; }
.tupper-korea-history .list             { float: left; width: 485px; color: #585858; font-size: 17px; line-height: 1.8; font-weight: 500; text-align: left; letter-spacing: -1px; }
.tupper-korea-history .list > li        { position: relative; padding-left: 12px; }
.tupper-korea-history .list > li:after  { content: '-'; position: absolute; top: 4px; left:0; line-height: 1; }

.korea-history1                         { text-align: right; }
.korea-history2                         { margin-top: 110px; }
.korea-history3                         { margin-top: 40px; text-align: right; }
.korea-history1 .tupper-korea-history .list { width: 458px; }
.korea-history3 .tupper-korea-history .list { width: 445px; }

.bg-graph                               { position: absolute; top: 80px; right: 0; width: 386px; height: 670px; background: url(../img/brand/bg-korea-graph.png) no-repeat; }
.bg-red-cover                           { position: absolute; top: -20px; left: -180px; width: 791px; height: 734px; background: url(../img/brand/bg-korea-red.png) no-repeat; }
.bg-navi-cover                          { position: absolute; top: 559px; right: -270px; width: 844px; height: 778px; background: url(../img/brand/bg-korea-navi.png) no-repeat; }
.bg-cooking-utensils                    { position: absolute; top: 1412px; left: -310px; width: 913px; height: 464px; background: url(../img/brand/bg-korea-cooking.png) no-repeat; }
.bg-raspberry                           { position: absolute; bottom: -100px; right: -257px; width: 457px; height: 714px; background: url(../img/brand/bg-korea-raspberry.png) no-repeat; }

@media only screen and (max-width:1280px) {
    .bg-graph                           { display: none; }
}
@media only screen and (max-width:767px) {
    .bg-red-cover,
    .bg-navi-cover,
    .bg-cooking-utensils,
    .bg-raspberry                       { display: none; }    
    .tupper-korea-intro                 { background: none; }
    .tupper-korea-intro-1               { padding: 80px 20px; height: auto; background: url(../img/brand/bg-korea-intro.jpg) repeat-x 50% 0; }
    .tupper-korea-intro-1 .title        { margin-top: 0; font-size: 22px; }
    .tupper-korea-intro-1 .title .big   { font-size: 24px; }

    .tupper-korea-intro-2               { margin-top: 10px; margin-bottom: 0; padding: 15px 20px 20px; height: auto; }
    .tupper-korea-history               { display: block; }
    .tupper-korea-history .year         { float: none; margin-bottom: 5px; font-size: 18px; }
    .tupper-korea-history .list         { float: none; width: auto; font-size: 15px; line-height: 1.4; }
    .tupper-korea-history > li          { margin-top: 12px; }
    .korea-history1 .tupper-korea-history .list { width: auto; }
    .korea-history3 .tupper-korea-history .list { width: auto; }

    .korea-history1                     { text-align: left; }
    .korea-history2                     { margin-top: 0; }
    .korea-history3                     { margin-top: 0; text-align: left; }
}

.tupper-korea-intro-3                   { padding-bottom: 80px; border-bottom: 1px solid #252525; text-align: center; }
.tupper-korea-intro-3 .title            { margin-top: 130px; padding-top: 160px; color: #000; font-size: 36px; font-weight: 700; background: url(../img/brand/bg-factory.png) no-repeat 50% 0; line-height: 1.2; }
.tupper-korea-intro-3 .highlight        { color: #e30385; font-size: 45px; }
.tupper-korea-intro-3 .desc             { margin-top: 40px; color: #252525; font-size: 17px; font-weight: 500; line-height: 2.35; }

.tupper-korea-intro-3 .location         { margin-top: 120px; }
.tupper-korea-intro-3 .location dt      { color: #1eb5da; font-size: 20px; font-weight: 700; line-height: 2; }
.tupper-korea-intro-3 .location dd      { color: #252525; font-size: 17px; font-weight: 500; line-height: 2.35; }

.tupper-korea-intro-4                   { background: #ebf3f8 url(../img/brand/bg-cooking.jpg) no-repeat 50% 0; text-align: center; }
.tupper-korea-intro-4 .inner            { padding-bottom: 185px; }
.tupper-korea-intro-4 .title            { margin-top: 210px; margin-bottom: 210px; font-size: 48px; color: #e30385; }
.tupper-korea-intro-4 .desc             { margin-top: 42px; color: #252525; font-size: 20px; font-weight: 500; line-height: 2; }
.tupper-korea-intro-4 .highlight        { color: #e30385; }
.tupper-korea-intro-4 .button           { margin-top: 160px; width: 494px; height: 84px; border: 0; line-height: 84px; background-color: #e30385; font-size: 30px; font-weight: 500; }

/* 브랜드 > 타파웨어 브랜즈 코리아 > 타파웨어 브랜즈 코리아 소개 - 모바일 */
@media only screen and (max-width:767px) {
    .tupper-korea-intro-3 br            { display: none; }
    .tupper-korea-intro-3 .title        { margin-top: 60px; padding-top: 120px; padding-left: 40px; padding-right: 40px; background-size: 100px; font-size: 22px; }
    .tupper-korea-intro-3 .highlight    { font-size: 24px; }
    .tupper-korea-intro-3 .desc         { padding-left: 20px; padding-right: 20px; font-size: 15px; line-height: 1.8; }
    .tupper-korea-intro-3 .location     { margin-top: 40px; }
    .tupper-korea-intro-3 .location dt  { font-size: 16px; line-height: 1.6; }
    .tupper-korea-intro-3 .location dd  { font-size: 16px; line-height: 1.6; }

    .tupper-korea-intro-4               { background-size: 1000px; }
    .tupper-korea-intro-4 .inner        { padding: 0 15px 40px; }
    .tupper-korea-intro-4 br            { display: none; }
    .tupper-korea-intro-4 .title        { margin-top: 60px; margin-bottom: 40px; font-size: 24px; }
    .tupper-korea-intro-4 .desc         { margin-top: 20px; font-size: 15px; line-height: 1.8; }
    .tupper-korea-intro-4 .button       { margin-top: 40px; width: 100%; height: 50px; line-height: 50px; font-size: 20px; }
}

/* 브랜드 > 타파웨어 쿠킹 스튜디오 > 쿠킹클래스 */
.cooking-class                          { background: url(../img/brand/bg-cooking-class.jpg) no-repeat 50% 0; }
.cooking-class-1                        { padding-top: 600px; height: 1392px; color: #000; text-align: center; }
.cooking-class-1 .title                 { position: relative; padding-bottom: 20px; font-size: 48px; font-weight: 700; line-height: 1.4; }
.cooking-class-1 .title:after           { content: ''; position: absolute; bottom: 0; left: 50%;  display: block; margin-left: -42px; width: 84px; height: 3px; background-color: #000; }
.cooking-class-1 .small                 { display: block; font-size: 24px; font-weight: 700; }
.cooking-class-1 .highlight             { margin-top: 40px; color: #1eb5da; font-size: 28px; font-weight: 700; }
.cooking-class-1 .desc                  { margin-top: 40px; font-size: 26px; font-weight: 300; line-height: 1.85; }
.cooking-class-1 .desc strong           { display: block; font-weight: 500; }

@media only screen and (max-width:767px) {
    .cooking-class                      { background: none; }
    .cooking-class-1                    { padding-top: 100px; padding-bottom: 60px; height: auto; background: url(../img/brand/bg-cooking-class.jpg) no-repeat 50% 0; background-size: 900px; }
    .cooking-class-1 .title             { font-size: 24px; }
    .cooking-class-1 .title:after       { margin-left: -21px; width: 42px; height: 2px; }
    .cooking-class-1 .small             { font-size: 20px; }
    .cooking-class-1 .highlight         { margin-top: 10px; margin-bottom: 40px; font-size: 22px; }
    .cooking-class-1 .desc              { margin-top: 20px; font-size: 15px; line-height: 1.6; }
}

.cooking-slider-wrap                    { position: relative; margin-top: 363px; margin-bottom: 348px; padding-left: 65px; padding-right: 65px; }
.cooking-slider-item                    { position: relative; padding: 60px 640px 16px 0; height: 457px; color: #252525; font-weight: 500; }
.cooking-slider-item .title             { font-size: 30px; font-weight: 500; }
.cooking-slider-item .desc              { margin-top: 40px; font-size: 18px; line-height: 1.45; font-weight: 500; }
.cooking-slider-item .img               { position: absolute; top: 0; right: 0; }
.cooking-class-request .button          { position: absolute; left: 100px; bottom: 16px; width: 365px; height: 59px; border: 0; background-color: #e30385; line-height: 59px; font-size: 22px; }
.cooking-class-request .button:before   { content: ''; display: inline-block; margin-right: 10px; width: 34px; height: 33px; background: url(../img/brand/icon-hat.png) no-repeat; vertical-align: -4px; }

.cooking-slider-pager                   { position: absolute; top: -39px; left: 65px; width: 436px; text-align: center; }
.cooking-slider-pager:after             { content: ''; display: table; clear: both; }
.cooking-slider-pager .btn              { float: left; padding-bottom: 15px; width: 25%; border-bottom: 4px solid #d3d3d3; }
.cooking-slider-pager .text             { color: #1eb5da; font-size: 14px; font-weight: 600; visibility: hidden; }
.cooking-slider-pager .btn.active       { border-color: #000; }
.cooking-slider-pager .active .text     { visibility: visible; }

.cooking-slider-ctrl .prev,
.cooking-slider-ctrl .next              { position: absolute; top: 315px; }
.cooking-slider-ctrl .bx-prev,
.cooking-slider-ctrl .bx-next           { display: block; width: 31px; height: 40px; background: url(../img/common/arrow-cooking.png) no-repeat 10px 10px; text-indent: -99999px; }
.cooking-slider-ctrl .prev              { transform: rotate(180deg); }
.cooking-slider-ctrl .next              { left: 470px; }

@media only screen and (max-width:767px) {
    .cooking-slider-wrap                { margin-top: 100px; margin-bottom: 60px; padding-left: 0; padding-right: 0; }
    .cooking-slider-item                { padding: 20px 0; height: auto; }
    .cooking-slider-item .title         { margin-top: 20px; font-size: 18px; }
    .cooking-slider-item .desc          { margin-top: 10px; font-size: 14px; }
    .cooking-slider-item .img           { position: static; }
    .cooking-slider-pager               { width: 100%; left: 0; }
    .cooking-slider-ctrl                { display: none; }
    .cooking-class-request .button      { position: static; margin-top: 10px; width: auto; height: 50px; line-height: 50px; font-size: 18px; }
    .cooking-class-request .button:before { width: 28px; background-size: contain; vertical-align: -10px; }
}

.cooking-class-next                     { padding-top: 137px; border-top: 1px solid #585858; color: #000; text-align: center; }
.cooking-class-next .title              { font-size: 36px; }
.cooking-class-next .desc               { margin-top: 40px; font-size: 39px; }
.cooking-class-next .month              { font-weight: 600; }
.cooking-class-next .small              { display: block; font-size: 35px; }

.cooking-next-recipe                    { display: inline-block; margin-top: 100px; }
.cooking-next-recipe > li               { display: inline-block; margin-bottom: 100px; margin: 0 38px; width: 376px; }

.cooking-class-notice                   { margin-top: 300px; padding: 65px 0 75px; background-color: #f7f7f7; }
.cooking-class-notice .title            { height: 36px; margin-left: 30px; padding-left: 48px; font-size: 26px; color: #000; font-weight: 600; background: url(../img/brand/bg-notice.png) no-repeat 0 0; }
.cooking-class-notice .list             { margin-top: 20px; margin-left: 80px; }
.cooking-class-notice .list > li        { position: relative; padding-left: 15px; font-size: 25px; font-weight: 300; }
.cooking-class-notice .list > li:before { content: ''; position: absolute; top: 15px; left: 0; display: block; width: 5px; height: 5px; background-color: #8e8e8e; border-radius: 50%; }
.cooking-class-notice .find-store       { padding-left: 30px; padding-right: 30px; background-color: #cdcdcd; line-height: 31px; border-radius: 31px; font-weight: 600; }

@media only screen and (max-width:767px) {
    .cooking-class-next                 { padding-top: 60px; }
    .cooking-class-next .title          { font-size: 20px; }
    .cooking-class-next .desc           { margin-top: 20px; font-size: 22px; }
    .cooking-class-next .small          { font-size: 18px; }
    .cooking-next-recipe                { display: block; margin-top: 40px; }
    .cooking-next-recipe > li           { float: left; margin: 2%; width: 46%; }

    .cooking-class-notice               { margin-top: 60px; padding: 20px; }
    .cooking-class-notice .title        { height: auto; margin-left: 0; padding-left: 0; font-size: 18px; background: none; }

    .cooking-class-notice .list         { margin-left: 0; }
    .cooking-class-notice .list > li    { padding-left: 8px; font-size: 14px; }
    .cooking-class-notice .list > li:before { top: 9px; width: 3px; height: 3px; }
    .cooking-class-notice .find-store   { padding-left: 10px; padding-right: 10px; }
}

.cooking-takeout                        { background: url(../img/brand/bg-takeout.jpg) no-repeat 50% 0; word-break: keep-all; word-wrap: break-word; }
.cooking-takeout-1                      { height: 1402px; padding-left: 255px; color: #000; }
.cooking-takeout-1 .title               { margin-top: 750px; font-size: 57px; font-weight: 500; line-height: 1.1; }
.cooking-takeout-1 .title .small        { display: block; font-size: 40px; }
.cooking-takeout-1 .title .highlight    { color: #e30385; font-weight: 700; }

.cooking-takeout-1 .list                { margin-top: 100px; font-size: 33px; font-weight: 300; line-height: 2.2; }
.cooking-takeout-1 .list .highlight     { color: #e30385; }
.cooking-takeout-1 .list > li           { padding-left: 79px; }
.cooking-takeout-1 .item1               { background: url(../img/brand/icon-takeout1.png) no-repeat 0 50%; }
.cooking-takeout-1 .item2               { background: url(../img/brand/icon-takeout2.png) no-repeat 0 50%; }
.cooking-takeout-1 .item3               { background: url(../img/brand/icon-takeout3.png) no-repeat 0 50%; }
.cooking-takeout-1 .item4               { background: url(../img/brand/icon-takeout4.png) no-repeat 0 50%; }

@media only screen and (max-width:767px) {
    .cooking-takeout                    { background: none; }
    .cooking-takeout-1                  { position: relative; height: auto; padding: 210px 20px 60px; background: url(../img/brand/bg-takeout.jpg) no-repeat 50% 0; background-size: 900px; }
    .cooking-takeout-1:before           { content: ''; z-index: 1; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: #fff; opacity: .5; }
    .cooking-takeout-1 .title           { z-index: 2; position: relative; margin-top: 0; font-size: 24px; }
    .cooking-takeout-1 .title .small    { font-size: 20px; }
    .cooking-takeout-1 .list            { z-index: 2; position: relative; margin-top: 20px; font-size: 18px; line-height: 1.2; }
    .cooking-takeout-1 .list > li       { margin-top: 10px; padding-left: 40px; background-size: 20px; }
}

.cooking-takeout-2                      { position: relative; height: 1618px; }
.cooking-takeout-2:after                { content: ''; position: absolute; top: 50%; left: 0; display: block; width: 100%; border-top: 1px solid #dcdcdc; }
.cooking-takeout-2 .inner               { height: 100%; }
.takeout-step-list                      { height: 100%; overflow: hidden; color: #000; }
.takeout-step-list > li                 { z-index: 1; position: relative; float: left; width: 25%; height: 100%; text-align: center; }
.takeout-step                           { position: absolute; width: 100%; }
.takeout-step .text1                    { padding-bottom: 85px; font-size: 26px; line-height: 1.3; }
.takeout-step .step                     { display: block; font-weight: 500; }
.takeout-step .highlight                { font-weight: 700; }
.takeout-step .text2                    { margin-top: 10px; font-size: 18px; font-weight: 300; line-height: 1.2; }
.takeout-step .tip                      { display: block; color: #e30385; font-weight: 600; }

.takeout-step1                          { top: 343px; }
.takeout-step2                          { top: 50%; margin-top: -50px; }
.takeout-step3                          { top: 343px; }
.takeout-step4                          { top: 50%; margin-top: -50px; }

.takeout-step1:after,
.takeout-step3:after                    { content: ''; top: 355px; display: inline-block; margin-top: 15px; width: 102px; height: 226px; background: url(../img/brand/icon-takeout-step.png) no-repeat; transform: rotate(180deg); }
.takeout-step2:before,
.takeout-step4:before                   { content: ''; top: 50%; display: inline-block; margin-bottom: 15px; width: 102px; height: 226px; background: url(../img/brand/icon-takeout-step.png) no-repeat; }

.takeout-step1 .text1                   { background: url(../img/brand/icon-takeout-step1.png) no-repeat 50% 100%; }
.takeout-step2 .text1                   { background: url(../img/brand/icon-takeout-step2.png) no-repeat 50% 100%; }
.takeout-step3 .text1                   { background: url(../img/brand/icon-takeout-step3.png) no-repeat 50% 100%; }
.takeout-step4 .text1                   { background: url(../img/brand/icon-takeout-step4.png) no-repeat 50% 100%; }

.cooking-takeout-3                      { text-align: center; }
.cooking-takeout-3 .title               { color: #000; font-size: 51px; font-weight: 300; }
.cooking-takeout-3 .video-wrap          { display: inline-block; margin-top: 90px; width: 1115px; height: 628px; }

@media only screen and (max-width:767px) {
    .cooking-takeout-2                  { height: auto; }
    .cooking-takeout-2:after            { display: none; }
    .takeout-step-list                  { padding-top: 20px; padding-bottom: 80px; }
    .takeout-step-list > li             { float: none; margin-top: 60px; width: 100%; }
    .takeout-step                       { position: static; }
    .takeout-step .text1                { font-size: 20px; }
    .takeout-step .text2                { font-size: 16px; }
    
    .takeout-step2,
    .takeout-step4                      { margin-top: 0; }
    .takeout-step1:after,
    .takeout-step2:before,
    .takeout-step3:after,
    .takeout-step4:before               { display: none; }

    .cooking-takeout-3 .title           { font-size: 18px; }
    .cooking-takeout-3 .video-wrap      { margin-top: 20px; width: 100%; height: auto; }
}