/* mainContent */
.main.content {
  width: 100%;
  padding: 120px 0 0;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
.bx-wrapper .bx-pager {
  text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  z-index: 9999;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  outline: 0;
  text-indent: -9999px;
}
.mainBannerVisual {
  position: relative;
  width: 1920px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}
.mainBannerVisual .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
}
.mainBannerVisual .bx-wrapper .bx-pager.bx-default-pager a {
  display: inline-block;
  vertical-align: middle;
  width: 51px;
  height: 3px;
  background: #ffffff;
  text-indent: -9999px;
}
.mainBannerVisual .bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 51px;
  height: 3px;
  background: #252525;
}
.mainBannerVisual a:hover img {
  width: 105%;
  transition: .3s;
}
.mainVideo {
  position: relative;
  max-width: 1720px;
  margin: 0 auto;
}
.mainVideo .mainSlide {
  position: relative;
}
.mainVideo .mainSlide .feSlItem {
  width: 100%;
  height: 640px;
  text-align: center;
}
.mainVideo .mainSlide .feSlItem video {
  max-width: none;
}
.mainVideo .mainSlide .feSlPaging {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 1;
  width: 1300px;
  margin-left: -640px;
  text-align: center;
}
.mainVideo .mainSlide .feSlPaging li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  line-height: 12px;
}
.mainVideo .mainSlide .feSlPaging li.current a {
  background-color: #12b8ba;
  opacity: 1;
}
.mainVideo .mainSlide .feSlPaging a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}
.mainVideo .mainSlide .feSlPaging .btnAuto,
.mainVideo .mainSlide .feSlPaging .btnStop {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  width: 10px;
  height: 12px;
  background-image: url(/asset/img/common/spr_button_slide.png);
  background-repeat: no-repeat;
  background-position: -64px 0;
}
.mainVideo .mainSlide .feSlPaging .btnAuto {
  width: 10px;
  height: 12px;
  background-position: -76px 0;
}
.mainVideo .mainSlide .feSlNavi {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 100%;
  margin-top: -40px;
  text-align: center;
}
.mainVideo .mainSlide .feSlNavi .btnPrev,
.mainVideo .mainSlide .feSlNavi .btnNext {
  visibility: hidden;
  /* display: none; */
}
.mainVideo .movControl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainVideo .movControl .movBtn {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  /* display: none; */
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainVideo .movControl .movBtn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background-image: url(/asset/img/common/spr_button_slide.png);
  background-repeat: no-repeat;
  background-position: -82px -206px;
}
.mainVideo .movControl .movBtn.movStop:before {
  background-position: 0 -206px;
}
.mainVideo .menuWrap {
  background-color: #12b8ba;
}
.mainVideo .menuWrap ul {
  width: 1300px;
  margin: 0 auto;
}
.mainVideo .menuWrap ul:before, .mainVideo .menuWrap ul:after {
  content: '';
  display: table;
}
.mainVideo .menuWrap ul:after {
  clear: both;
}
.mainVideo .menuWrap li {
  float: left;
  position: relative;
}
.mainVideo .menuWrap li:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  width: 1px;
  height: 30px;
  background: #71d4d6;
}
.mainVideo .menuWrap li:first-child:before {
  display: none;
}
.mainVideo .menuWrap a {
  display: block;
  width: 320px;
  height: 80px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 80px;
}
.mainVideo .menuWrap a:before {
  content: '';
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.mainVideo .menuWrap a.icon01:before {
  background: url(/asset/img/main/spr_icon_main.png) no-repeat 0 0;
}
.mainVideo .menuWrap a.icon02:before {
  width: 48px;
  background: url(/asset/img/main/spr_icon_main.png) no-repeat -42px 0;
}
.mainVideo .menuWrap a.icon03:before {
  background: url(/asset/img/main/spr_icon_main.png) no-repeat -92px 0;
}
.mainVideo .menuWrap a.icon04:before {
  background: url(/asset/img/main/spr_icon_main.png) no-repeat -134px 0;
}

/* .mainConHead */
.mainConHead {
  margin-bottom: 54px;
  text-align: center;
}
.mainConHead .title {
  color: #000;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 34px;
  font-weight: 500;
}
.mainConHead .text {
  margin-top: 7px;
  color: #444;
  font-size: 18px;
}

/* mainBox */
.mainBox {
  padding: 60px 0;
}
.mainBox .row:first-child .box {
  height: 360px;
  border-top: 2px solid #3086c9;
}
.mainBox .row:first-child .box .title:after {
  background-color: #3086c9;
}
.mainBox .row + .row {
  margin-top: 25px;
}
.mainBox .box {
  float: left;
  position: relative;
  width: 410px;
  height: 310px;
  margin-left: 25px;
  padding: 24px 60px 0;
  border: 1px solid #ddd;
  border-top: 2px solid #12b8ba;
  text-align: center;
}
.mainBox .box:first-child {
  margin-left: 0;
}
.mainBox .box input[type=text] {
  height: 40px;
}
.mainBox .title {
  color: #000;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.mainBox .title:after {
  content: '';
  display: block;
  width: 15px;
  height: 1px;
  margin: 8px auto;
  background-color: #12b8ba;
}
.mainBox .title[class*=icon]:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 8px;
  background: url(/asset/img/main/spr_icon_main.png) no-repeat;
}
.mainBox .title.icon01:before {
  background-position: 0 -42px;
}
.mainBox .title.icon02:before {
  background-position: -82px -42px;
}
.mainBox .title.icon03:before {
  background-position: -164px -42px;
}
.mainBox .title.icon04:before {
  background-position: -246px -42px;
}
.mainBox .title.icon05:before {
  background-position: -328px -42px;
}
.mainBox .title.icon06:before {
  background-position: -410px -42px;
}
.mainBox .text {
  margin-bottom: 25px;
  color: #444;
}
.mainBox .num {
  color: #000;
  font-family: 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 200px;
  margin: -12px auto 0;
  text-align: center;
  letter-spacing: -1.1px;
  line-height: 1.55;
}
.mainBox .num span {
  margin: 0 3px;
}
.mainBox .num em {
  color: #000;
  font-family: 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-right: 9px;
}
.mainBox .form {
  position: relative;
  padding-right: 90px;
}
.mainBox .form .row {
  width: 198px;
}
.mainBox .form .row + .row {
  margin-top: 10px;
}
.mainBox .form .button {
  color: #fff;
  font-family: 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 84px;
  height: 90px;
  padding: 0;
  line-height: 90px;
}
.mainBox .btnWrap {
  margin-top: 18px;
}
.mainBox .btnWrap .row + .row {
  margin-top: 10px;
}
.mainBox .btnWrap [class*=button] {
  min-width: 140px;
  padding: 0;
}

/* mainTreat */
.mainTreat {
  padding: 50px 0 60px;
  background-color: #23507b;
}
.mainTreat .mainConHead {
  margin-bottom: 37px;
}
.mainTreat .mainConHead .title {
  color: #fff;
}
.mainTreat .mainConHead .text {
  color: #fff;
}
.mainTreat .form {
  position: relative;
  width: 870px;
  margin: 0 auto 40px;
}
.mainTreat .form .search {
  position: relative;
  padding-right: 70px;
  border-radius: 3px;
  background-color: #fff;
}
.mainTreat .form .search input {
  width: 100%;
  height: 60px;
  padding: 0 19px;
  border: 0;
  color: #666;
  font-size: 18px;
  line-height: 60px;
}
.mainTreat .form .search button {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 60px;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  background: url(/asset/img/common/spr_button.png) no-repeat 0 0;
}
.mainTreat .form .autoComplete {
  display: none;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 940px;
  margin-top: -2px;
  padding: 23px 30px 40px;
  border-top: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
}
.mainTreat .form .autoComplete .category + .category:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin: 40px 0;
  background: url(/asset/img/main/bg_schedule_modal.png) repeat-x;
}
.mainTreat .form .autoComplete .category li {
  overflow: hidden;
  margin-top: 24px;
}
.mainTreat .form .autoComplete .category li img {
  float: left;
}
.mainTreat .form .autoComplete .category li .text {
  float: right;
  width: 690px;
}
.mainTreat .form .autoComplete .category li em {
  color: #222;
  font-size: 18px;
  font-weight: 500;
}
.mainTreat .form .autoComplete .category li p {
  overflow: hidden;
  max-height: 72px;
  margin-top: 11px;
}
.mainTreat .form .autoComplete .category li .button {
  margin-top: 20px;
  padding: 0 28px;
}
.mainTreat .form .autoComplete .category .docTreatHead {
  padding: 0;
  border-top: none;
  border-bottom: none;
}
.mainTreat .form .autoComplete .category .docTreatHead p {
  text-align: left;
}
.mainTreat .form .autoComplete .category .docTreatHead .remark {
  right: 0;
}
.mainTreat .form .autoComplete .category .docTreatInfo {
  border: none;
}
.mainTreat .form .autoComplete .category .docTreatInfo + .docTreatInfo {
  border-top: 1px solid #ddd;
}
.mainTreat .form dl {
  margin-top: 6px;
}
.mainTreat .form dt,
.mainTreat .form dd {
  display: inline-block;
  vertical-align: top;
}
.mainTreat .form dt {
  color: #fff;
  font-family: 'Noto Sans KR Bold', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  margin-right: 20px;
}
.mainTreat .form dd {
  max-width: 735px;
}
.mainTreat .form dd .tag {
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  margin: 10px 0 0 10px;
  padding: 0 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.mainTreat .box {
  float: left;
  width: 301px;
  height: 290px;
  margin-left: 25px;
  border-radius: 3px;
  color: #aaa;
  text-align: center;
  background-color: #12b8ba;
}
.mainTreat .box:first-child {
  margin-left: 0;
}
.mainTreat .box.bg {
  background-color: #3086c9;
}
.mainTreat .box .title {
  color: #fff;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.mainTreat .box .title[class*=icon]:before {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  margin: 40px auto 22px;
  background: url(/asset/img/main/spr_icon_main.png) no-repeat;
}
.mainTreat .box .title.icon01:before {
  background-position: 0 -124px;
}
.mainTreat .box .title.icon02:before {
  background-position: -92px -124px;
}
.mainTreat .box .title.icon03:before {
  background-position: -184px -124px;
}
.mainTreat .box .title.icon04:before {
  background-position: -276px -124px;
}
.mainTreat .box .text {
  margin-top: 10px;
  color: #fff;
  line-height: 1.5;
}

/* mainNews */
.mainNews {
  height: 748px;
  padding: 49px 0 94px;
}

/* mainVisual */
.mainVisual {
  position: relative;
}
.mainVisual .feSlItem {
  width: 100%;
  height: 420px;
}
.mainVisual .feSlItem > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.mainVisual .feSlNavi {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  margin: -24px 0 0 -640px;
}
.mainVisual .feSlNavi .btnStop,
.mainVisual .feSlNavi .btnAuto {
  display: none !important;
}
.mainVisual .feSlNavi .btnPrev,
.mainVisual .feSlNavi .btnNext {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;
  background: url(/asset/img/common/spr_button_slide.png) no-repeat;
}
.mainVisual .feSlNavi .btnPrev {
  left: 0;
  background-position: 0 -32px;
}
.mainVisual .feSlNavi .btnNext {
  right: 0;
  background-position: -50px -32px;
}
.mainVisual .feSlPaging {
  position: absolute;
  bottom: 63px;
  left: 50%;
  z-index: 1;
  width: 1300px;
  margin-left: -640px;
  text-align: center;
}
.mainVisual .feSlPaging li {
  display: inline-block;
  margin: 0 5px;
}
.mainVisual .feSlPaging li.current a {
  background-color: #12b8ba;
  opacity: 1;
}
.mainVisual .feSlPaging a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}
.mainVisual .feSlPaging .btnAuto,
.mainVisual .feSlPaging .btnStop {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-top: -3px;
  background-image: url(/asset/img/common/spr_button_slide.png);
  background-repeat: no-repeat;
  background-position: -64px 0;
}
.mainVisual .feSlPaging .btnAuto {
  width: 10px;
  height: 12px;
  background-position: -76px 0;
}

/* mainHealth */
.mainHealth {
  padding: 53px 0 60px;
  background-color: #eee;
}
.mainHealth .box {
  float: right;
  width: 778px;
  padding: 28px 30px 44px;
  border: 1px solid #ddd;
  border-top: 2px solid #12b8ba;
  background-color: #fff;
}
.mainHealth .box:first-child {
  float: left;
  width: 476px;
}
.mainHealth .box .title {
  color: #000;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.mainHealth .info {
  position: relative;
  padding: 0 30px;
}
.mainHealth .info:before, .mainHealth .info:after {
  content: '';
  display: table;
}
.mainHealth .info:after {
  clear: both;
}
.mainHealth .info a {
  color: #666;
  font-family: 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
  overflow: hidden;
  height: 190px;
  line-height: 1.47;
}
.mainHealth .info img {
  float: left;
  margin: 0 20px 20px 0;
}
.mainHealth .info strong {
  color: #000;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.mainHealth .info strong span {
  color: #666;
}
.mainHealth .info .feSlItem {
  width: 354px;
  height: 190px;
}
.mainHealth .videoWrap {
  position: relative;
  padding: 0 40px;
}
.mainHealth .videoWrap .feSlItem {
  width: 640px;
  height: 190px;
  padding-right: 20px;
}
.mainHealth .videoWrap .feSlItem:before, .mainHealth .videoWrap .feSlItem:after {
  content: '';
  display: table;
}
.mainHealth .videoWrap .feSlItem:after {
  clear: both;
}
.mainHealth .user {
  float: left;
  width: 205px;
  text-align: center;
}
.mainHealth .user img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.mainHealth .user strong {
  color: #222;
  font-family: 'Noto Sans KR Medium', 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  display: block;
}
.mainHealth .user p {
  color: #888;
  font-size: 14px;
}
.mainHealth .user p + strong {
  margin-top: 8px;
}
.mainHealth .video {
  float: right;
}
.mainHealth .video a {
  display: block;
  position: relative;
}
.mainHealth .video a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 51px;
  height: 51px;
  margin: -25px 0 0 -25px;
  background: url(/asset/img/common/spr_button.png) no-repeat 0 -144px;
}
.mainHealth .feSlPaging {
  position: absolute;
  top: -50px;
  right: 0;
}
.mainHealth .feSlPaging li {
  display: inline-block;
  margin-left: 6px;
}
.mainHealth .feSlPaging li a {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ddd;
}
.mainHealth .feSlPaging li.current a {
  background-color: #12b8ba;
}
.mainHealth .feSlNavi {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -15px;
}
.mainHealth .feSlNavi .btnAuto,
.mainHealth .feSlNavi .btnStop {
  display: none !important;
}
.mainHealth .feSlNavi .btnPrev,
.mainHealth .feSlNavi .btnNext {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background: url(/asset/img/common/spr_button_slide.png) no-repeat;
}
.mainHealth .feSlNavi .btnPrev {
  left: -10px;
  background-position: 0 0;
}
.mainHealth .feSlNavi .btnNext {
  right: -10px;
  background-position: -32px 0;
}

/*# sourceMappingURL=main.css.map */
