.mainVisualSlick					{ width:100%; height:700px; display:block; position:relative; }
.mainVisualSlick .txt				{ max-width:1130px; margin:0 auto; padding:236px 0 0 150px; text-align:left; }
.mainVisualSlick .txt strong				{ display:block; font-size:48px; color:#252525; font-weight:normal; padding:0 0 16px; }
.mainVisualSlick .txt a						{ font-size:14px; color:#e30385; font-weight:900; margin:0 0 0 5px; border-bottom:1px solid #e30385; position:relative; }
.mainVisualSlick .txt a span				{ font-size:12px; font-weight:900; }

.mainVisualSlick .slick-list					{ width:100%; overflow:hidden; z-index:4; position:relative; }
.mainVisualSlick .slick-slide				{ float:left; width:100%; height:700px; text-align:center; position:relative; background-position:50% 0; background-repeat:no-repeat; }
.mainVisualSlick .slick-dots				{ display:inline-block; position:absolute; bottom:37px; left:0; z-index:5; height:3px; width:100%; text-align:center; }
.mainVisualSlick .slick-dots li				{ display:inline-block; padding:0 10px; }
.mainVisualSlick .slick-dots li button			{ width:50px; height:3px; background:#fff; font-size:0; line-height:0; overflow:hidden; text-indent:-999px; }
.mainVisualSlick .slick-dots li.slick-active button		{ background:#252525; }

.ccr								{ position:absolute; top:740px; left:50%; z-index:49; margin-left:500px; }

.mainMenuList				{ width:100%; max-width:1280px; margin:0 auto; overflow:hidden; padding:170px 0 0; }
.mainMenuList ul			{ width:calc(100% + 20px); margin-left:-10px; }
.mainMenuList li			{ float:left; width:25%; padding:0 10px; box-sizing:border-box; }
.mainMenuList li .tit		{ font-size:20px; color:#252525; padding:0 0 15px; }
.mainMenuList li a		{ display:block; }
.mainMenuList li a img	{ width:100%; }

.videoArea					{ padding:218px 0 116px; }

.recipeProduct				{ width:100%; max-width:1280px; display:block; position:relative; margin:0 auto; padding:0 0 195px; }
.recipeProduct .tit							{ text-align:center; font-size:30px; color:#252525; padding:0 0 50px; }
.recipeProductSlick						{ width:calc(100% - 80px); position:relative; padding:0 40px; }
.recipeProduct .slick-list				{ width:100%; overflow:hidden; z-index:4; position:relative; }
.recipeProduct .slick-slide				{ float:left; width:25%; height:350px; text-align:center; position:relative; }
.recipeProduct .slick-slide a span	{ display:block; text-align:center; }

.recipeProduct .slick-arrow			{ position:absolute; top:50%; width:30px; height:56px; margin:-28px 0 0; overflow:hidden; text-indent:-99999px; cursor:pointer; display:inline-block; }
.recipeProduct .slick-prev				{ left:0; background:url(../img/main/recipeProArrLeft.png) 0 50% no-repeat; }
.recipeProduct .slick-next				{ right:0; background:url(../img/main/recipeProArrRight.png) 100% 50% no-repeat; }

.recipeProduct .slick-dots				{ display:inline-block; position:absolute; bottom:10px; left:0; z-index:5; height:8px; width:100%; text-align:center; }
.recipeProduct .slick-dots li				{ display:inline-block; padding:0 10px; }
.recipeProduct .slick-dots li button			{ width:8px; height:8px; background:#d3d3d3; font-size:0; line-height:0; overflow:hidden; text-indent:-999px; border-radius:4px; }
.recipeProduct .slick-dots li.slick-active button		{ background:#000; }


.mainFootVisual							{ width:100%; height:1409px; background:url(../img/main/mainFootVisual.png) 50% 0 no-repeat; text-align:center; }
.mainFootVisual .tit						{ padding:153px 0 0; font-size:54px; color:#000; font-weight:900; letter-spacing:-5px }
.mainFootVisual .txt1					{ padding:50px 0 0; font-size:22px; color:#252525; }
.mainFootVisual .txt2					{ padding:5px 0 0; font-size:26px; color:#252525; }
.mainFootVisual a							{ font-size:20px; color:#e30385; font-weight:900; margin:40px 0 0; border-bottom:1px solid #e30385; position:relative; padding:0 10px 6px; display:inline-block; }
.mainFootVisual a span				{ font-size:18px; font-weight:900; }






@media only screen and (max-width: 767px){
	.content		{ padding: 64px 0 50px; }

	.mainVisualSlick					{ height:157px; }
	.mainVisualSlick .txt				{ padding:30px 0 0 30px; }
	.mainVisualSlick .txt strong				{ font-size:24px; padding:0 0 6px; }
	.mainVisualSlick .txt a						{ font-size:12px; }
	.mainVisualSlick .txt a span				{ font-size:11px; }

	.mainVisualSlick .slick-slide				{ background-size:cover; height:157px; }
	.mainVisualSlick .slick-dots				{ bottom:22px; height:2px; }
	.mainVisualSlick .slick-dots li				{ padding:0 5px; }
	.mainVisualSlick .slick-dots li button			{ width:24px; height:2px; }

	.ccr								{ display:none; }

	.mainMenuList				{ padding:35px 0 0; }
	.mainMenuList ul			{ width:100%; margin:0; }
	.mainMenuList li			{ padding:0 3px; }
	.mainMenuList li .tit		{ font-size:11px; padding:0 0 5px; letter-spacing:-1px; }

	.videoArea					{ padding:45px 0 20px; }

	.recipeProduct				{ padding:0 0 35px; }
	.recipeProduct .tit							{ font-size:16px; padding:0 0 20px; }
	.recipeProductSlick						{ width:100%; padding:0 15px 20px; }
	.recipeProduct .slick-slide				{ height:auto; }
	.recipeProduct .slick-slide a span	{ font-size:11px; }
	.recipeProduct .slick-arrow			{ width:7.5px; height:14px; margin:-7px 0 0; z-index:49 }
	.recipeProduct .slick-prev				{ left:0; background:url(../img/main/recipeProArrLeft.png) 0 50% no-repeat / cover; }
	.recipeProduct .slick-next				{ right:0; background:url(../img/main/recipeProArrRight.png) 100% 50% no-repeat / cover; }

	.recipeProduct .slick-dots				{ bottom:5px; height:4px; }
	.recipeProduct .slick-dots li				{ padding:0 4px; }
	.recipeProduct .slick-dots li button			{ width:4px; height:4px; border-radius:4px; }

	.mainFootVisual							{ height:auto; background:url(../img/main/mainFootVisual_m.png) 50% 0 no-repeat / cover; padding:0 0 85%; }
	.mainFootVisual .tit						{ padding:10% 0 0; font-size:30px; letter-spacing:-2px }
	.mainFootVisual .txt1					{ padding:5% 0 0; font-size:11px; }
	.mainFootVisual .txt2					{ padding:1% 0 0; font-size:14px; }
	.mainFootVisual a							{ font-size:14px; margin:5% 0 0; }

}