/* seatrch */

.srarch_wrap {
  width: 100%;
  min-height:600px;
}
.srarch_it {
  width: 35%;
  margin:0 auto;
  padding:10% 0 1% 0; 
}
.sc_inner{
  position:relative;
}
.srarch_it input.it{
   height:60px;
   line-height:60px;
   width:85%;
   font-size:24px;
   border:none;
   padding:0 0 2% 0;
   font-weight:700;
   color:#000
}
.srarch_it input::placeholder{
  font-size: 24px;
}
.srarch_it a.btn{
   position:absolute;
   right:0;
}
.srarch_it a.btn.sc{
   bottom:25%;
}
.srarch_it a.del{
   position:absolute;
   right:0;
   bottom:40%;
}
.sc_inner:after{
	content:'';
	height:6px;
	background:#000;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
.search_word{
	padding-top:3%;
}
.search_word span{
	font-size:14px;
	color:#000
}
.search_word a{
	font-size:14px;
	color:#808080;
	display:inline-block;
	margin:0 1%;
}
.srarch_wrap .listWrap{
	border-top:none !important;
	margin-top:0;
}
.search_result{
	text-align:center;
}
.search_result p{
	padding:7% 0 0;
	font-size:20px;
	color:#000;
}
.search_result p.info{
	padding:1% 0 0;
	font-size:16px;
	color:#808080
}
.search_top{
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	text-align:center;
	padding:50px 0;
	margin: 7% 0 0;
}  
.search_top a{
	display:inline-block;
	margin:0 2%;
}
.search_top a.on{
	color:#000;
	font-weight:700
}
.more_btn{
	text-align:center;
	margin-top:6%;
}
.more_btn a{
	display:inline-block;
	background:#f6f7f9;
	padding:2% 0;
	width:100%;
}
.more_btn a strong{
	position:relative;
	display:inline-block;
	padding-right:20px;
}
.more_btn a strong:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 5px;
  margin-top: -2.5px;
  background: url(../img/common/bg_select.png) no-repeat 0 0;
}
.add_search .tit{
	position:relative;
	font-size:18px;
	color:#000;
}
.add_search .tit .close{
	position:absolute;;
	right:0;
}
.add_search .srarch_it{
	width:100%;
}
.add_search .srarch_it input.it{
	font-size:18px;
}
.add_search .srarch_it input::placeholder{
  font-size: 18px;
}
.add_search .btn.sc img{
	width:33px;
	height:33px;
}
.post_it{
	display:inline-block;
	width:100%;
	padding-top:20px;
}
.post_it .num{
	display:inline-block;
	float:left;
	font-size:22px;
	color:#000;
}

.post_it .sel_box{
	float:right;
}
.add_search .post_list{
	margin-top:20px;
	height:350px;
	overflow:auto
}
.add_search .post_list li{
	border:1px solid #f0f0f0;
	padding:25px;
}
.add_search .post_list li+li{	
	margin:15px 0 0 ;
}
.add_search .post_list li .post{
	font-weight:700;
	color:#000;
	font-size:18px;
	padding-bottom:5px;
}
.add_search .post_list li p+p{
	padding-top:15px;
}
.add_search .post_list li p strong{
	display:inline-block;
	color:#000;
	width:55px
}
.pc_hidden{
	display:none
}

/* 주문결제  */
.payment_top { background:#f7f7f7;text-align:center;font-size:20px;;color:#000;font-weight:700; padding:4% 0;}
.oder_finish .oder_top{	text-align:center;}

.oder_finish .oder_top p				{ font-size:20px;color:#000;line-height:150%;}
.oder_finish .oder_top					{ padding-top:5%;}
.oder_finish .oder_top p:before			{ display:block;content:'';background:url(/tupperware/asset/img/icon_cart.jpg) 0 0 no-repeat; width:102px;height:72px;margin:0 auto;}
.oder_finish .oder_top p span			{ font-size:25px;	color:#e30385;	display:block;	padding-top:1%;}
.oder_finish .tit						{ color:#000;font-size:30px;padding-top:60px;}
.oder_finish .tit:after					{ display:block;width:155px;height:4px;background:#000;content:'';margin-top:30px;}
.oder_finish .oder_info_top				{ display:inline-block;width:100%;padding-top:35px;}
.oder_finish .oder_info_top dt			{ float:left;border-radius:20px;background:#e30385;padding:10px 15px;font-size:16px;color:#fff;font-weight:700;}
.oder_finish .oder_info_top dd			{ float:left;font-size:16px;color:#000;padding:10px 60px 0 20px;}
.oder_finish .oder_info_top dd span		{ color:#eee}
.oder_finish .info_tb ul				{ display:inline-block;width:100%;padding-top:30px;}
.oder_finish .info_tb ul li				{ display:inline-block;float:left;width:33%;text-align:center;border-top:4px solid #555555}
.oder_finish .info_tb ul li .s_tit		{ font-size:14px;font-weight:700;color:#000;padding:20px 0;border-bottom:1px solid #555555}
.oder_finish .info_tb ul li .td			{ padding:50px 0;font-weight:bold;font-size:26px;color:#000;border-bottom:1px solid #555555;position:relative;}
.oder_finish .info_tb ul li .td .won	{ font-weight:400;font-size:20px;}
.oder_finish .info_tb ul li .td.pluse:after { content:'+'; position:absolute;right:0}
.oder_finish .info_tb ul li .td.result:after { content:'='; position:absolute;right:0}

.oder_finish .info_tb_table						{ margin-top:30px; }
.oder_finish .info_tb_table table				{ width:100%;border-top:3px solid #000;}
.oder_finish .info_tb_table table th,
.oder_finish .info_tb_table table td			{ border-bottom:1px solid #555555 }
.oder_finish .info_tb_table table th			{ font-size:14px;font-weight:700;color:#000;padding:20px 0; }
.oder_finish .info_tb_table table td			{ padding:50px 0;font-weight:bold;font-size:26px;color:#000;position:relative; }
.oder_finish .info_tb_table table td .won	{ font-weight:400;font-size:20px;}
.oder_finish .info_tb_table table .equalSign			{ width:5%; }
.oder_finish .info_tb_table table .pink		{ background:#fff0f9; }
.oder_finish .info_tb_table table .pink td:nth-child(1),
.oder_finish .info_tb_table table .pink td:nth-child(2),
.oder_finish .info_tb_table table .pink td:nth-child(6)				{ color:#e30385; }
.oder_finish .info_tb_table table .pink td:nth-child(2) span,
.oder_finish .info_tb_table table .pink td:nth-child(6) span		{ color:#000; }
.oder_finish .info_tb_table.info_tb_table2 table .division		{ width:14%; }
.oder_finish .info_tb_table.info_tb_table2 table td			{ padding:20px 0; }

.oder_finish .info_tb_table.info_tb_table3							{ margin-bottom:20px; }
.oder_finish .info_tb_table.info_tb_table3 td						{ font-size:18px; padding:30px 0; }
.oder_finish .info_tb_table.info_tb_table3 td.tbPay				{ padding:10px 0 15px; }
.oder_finish .info_tb_table.info_tb_table3 td p					{ padding:0 20px; display:inline-block; }
.oder_finish .info_tb_table.info_tb_table3 td p input			{ width:18px; height:18px; }
.oder_finish .info_tb_table.info_tb_table3 td p .feFoRadio	{ width:18px; height:18px; background-size:18px; margin-top:1px; }
.oder_finish .info_tb_table.info_tb_table3 td p label			{ font-size:18px; cursor:pointer; }

.deliverTab								{ height:73px; width:100%; overflow:hidden; margin-top:30px; }
.deliverTab li								{ float:left; }
.deliverTab li a							{ width:186px; height:73px; text-align:center; line-height:73px; display:inline-block; font-size:16px; color:#d3d3d3; }
.deliverTab li a.on						{ background:#000; color:#fff; }


.deliver_info								 { margin-top:30px}
.deliverTab1			{ margin-top:0; }
.deliverTab2			{ display:none; }
.deliver_info table							 { width:100%;border-bottom:1px solid #000}
.deliver_info table th,
.deliver_info table td						 { font-size:20px;height:120px;vertical-align:middle;border-top:1px solid #000;font-weight:bold}
.deliver_info table th						 { color:#000;font-size:20px;background:#eee}
.deliver_info table td						 { font-size:20px;padding-left:30px;}
.deliver_info table td .pt10				{ padding:10px 0 0; }
.deliver_info table td .feFoSelect		{ height:59px; line-height:59px; border-radius:0; }
.deliver_info table td input				{ height:59px; line-height:59px; border:1px solid #000; width:326px; padding:0 10px; font-size:15px; color:#c0c0c0; font-weight:bold; letter-spacing:-2px; }
.deliver_info table td input.di_it		{ width:248px; padding:0 44px; font-weight:bold; color:#000; text-align:right; letter-spacing:0; font-size:26px; }
.deliver_info.deliver_info2 table td						 { font-size:20px;padding-left:30px; color:#000; }
.deliver_info.deliver_info2 table td span							{  }
.deliver_info.deliver_info2 table td span strong				{ color:#e30385; font-weight:normal; }

.oder_finish .btnWrap [class*=button]		 { border:none;height:60px;line-height:60px;}
.goods_info									 { display:inline-block;width:100%;border-bottom:1px solid #000;}
.goods_info	 dl								 { float:left;padding-top:45px;}
.goods_info	.group							 { float:left;display:inline-block;width:30%;position:relative;}
.goods_info	.group .gp_tit					 { position:absolute;top:0;text-align:center;left:35%;top:5px;font-size:21px;font-weight:bold;}
.goods_info	.group.fir						 { width:40%;border-top:1px solid #fff;}
.goods_info	.group dl.line dt,
.goods_info	.group dl.line dd				 { border-left:1px solid #000;}
.goods_info	.group dl.line02 dt,
.goods_info	.group dl.line02 dd				 { border-right:1px solid #000;}
.goods_info	.group.gray						 { background:#f6f6f6;border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0}
.goods_info	.group.gray	.gp_tit				 { color:#000}
.goods_info	.group.pink						 { background:#fff0f9;border:1px solid #e30385}
.goods_info	.group.pink	.gp_tit				 { color:#e30385}
.goods_info	.group	dl						 { width:50%;}
.goods_info	dl.goods_img					 { width:70%;}
.goods_info	dl.num							 { width:30%;}
.goods_info	dl dt .g_tit				     { border-top:1px solid #000;padding:20px 0;text-align:center;color:#000}
.goods_info	dl dd							 { border-top:1px solid #000;width:100%;padding:90px 0 0;height:200px;text-align:center;color:#000}
.goods_info	dl dd + dd						 { border-top:1px solid #000;}
.goods_info	dl.goods_img dd				     { padding:0;font-size:20px;font-weight:bold;}
.goods_info	dl dd .img_box					 { display:table;float:left;height:100%;}
.goods_info	dl dd .goods_cell				 { display:table-cell;padding:0px 20px;height: 150px; vertical-align: middle;text-align:center;}
.goods_info	dl dd strong					 { font-weight:bold;color:#000;font-size:24px}
.goods_info	dl dd .dc						 { display:block}
.goods_info .order-prod-name				 { color:#000;font-weight:bold;text-align:left;}
.goods_info .order-prod-name span			 { display:block;}


.takeOut									{ padding:60px 0 0; text-align:center; font-size:25px; }
.takeOut strong						{ color:#e30385; display:block; font-weight:normal; }
.takeOut span							{ color:#000; display:block; }
.takeOut .takeOutSel				{ text-align:center; padding:50px 0 70px; }
.takeOut .takeOutSel .feFoSelect		{ height:59px; line-height:59px; border-radius:0; }
.oder_finish .takeOut .btnWrap					{ margin-top:0; }
.oder_finish .takeOut .btnWrap button		{ width:363px; height:83px; line-height:83px; font-size:36px; font-weight:bold; letter-spacing:-5px; }

.takeOut_order												{ width:1028px; margin-left:-514px; padding:120px 0 68px; text-align:center; }
.takeOut_order .txt1										{ font-size:30px; color:#000; padding:0 0 22px; font-weight:bold; }
.takeOut_order .txt2										{ font-size:36px; color:#e30385; padding:0 0 40px; }
.takeOut_order .txt3										{ font-size:20px; color:#000; padding:0 0 40px; }
.takeOut_order .button-size04						{ width:232px; border:0; }
.takeOut_order .closeBtn.popClsBtn				{ top:20px; right:20px; }

.order-history-top .tab .takeOutInfo							{ position:absolute; top:50%; left:50%; display:inline-block; width:auto; width:136px; height:24px; line-height:24px; background:#e30385; color:#fff; border-radius:10px; margin:14px 0 0 -68px; z-index:1; }
.order-history-top .tab .takeOutInfoCon						{ position:absolute; top:50%; left:50%; width:235px; background:#e30385; color:#fff; margin:14px 0 0 -68px; z-index:2; padding:5px 14px 16px; display:none; }
.order-history-top .tab .takeOutInfoCon strong			{ display:block; font-size:16px; padding:0 0 16px; }
.order-history-top .tab .takeOutInfoCon span				{ display:block; font-size:14px; }
.order-history-top .tab .takeOutInfoCon a					{ width:auto; height:auto; line-height:100%; position:absolute; top:8px; right:14px; }



.col_p										 { color:#e30385 !important; }
@media only screen and (max-width: 767px) {

	.srarch_wrap {
	  width: 100%;c
	  min-height:300px;
	}
	.srarch_it input.it{
	   margin-bottom:5%
	}
	.srarch_it input.it.word{
	   margin-bottom:2%
	}
	.srarch_it input.it{
	   height:40px;
	   line-height:40px;
	   font-size:14px;
	   width:90%;
	}
	.srarch_it input::placeholder{
	  font-size: 14px;
	}
	.srarch_it {
	  width:60%;
	  margin:0 auto;
	  padding:10% 0 0 0; 
	  position:relative;
	}
	.srarch_it a{
	   bottom:15%;
	}
	.srarch_it .btn img{
		width:33px;
		height:33px;
	}
	.srarch_it .btn.del img{
		width:auto;
		height:auto;
	}
	.srarch_it a.del{
	   bottom:35%;
	}
	.search_result p{
		font-size:16px;
	}
	.search_result p.info{
		font-size:13px;
		line-height:160%;
		padding:2% 0 0;
	}
	.add_search{
		height:530px;
	}
	.add_search .post_list li p{
		font-size:15px;
	}
	.pc_hidden{
		display:block
	}






	/* 주문결제  */
	.payment_top { background:#f7f7f7;text-align:center;font-size:20px;;color:#000;font-weight:700; padding:4% 0;}
	.oder_finish .oder_top{	text-align:center;}

	.oder_finish .oder_top p				{ font-size:11px;color:#000;line-height:150%;}
	.oder_finish .oder_top					{ padding-top:5%;}
	.oder_finish .oder_top p:before			{ display:block;content:'';background:url(/tupperware/asset/img/icon_cart.jpg) 0 0 no-repeat; width:102px;height:72px;margin:0 auto;}
	.oder_finish .oder_top p span			{ font-size:18px;	color:#e30385;	display:block;	padding:2% 0;}
	.oder_finish .tit						{ color:#000;font-size:15px;padding-top:35px;}
	.oder_finish .tit:after					{ display:block;width:80px;height:4px;background:#000;content:'';margin-top:15px;}
	.oder_finish .oder_info_top				{ display:inline-block;width:100%;padding-top:35px;}
	.oder_finish .oder_info_top dt			{ float:left;border-radius:20px;background:#e30385;padding:3px 10px;font-size:11px;color:#fff;font-weight:700; width:30%; height:21px; margin:0 0 6px; }
	.oder_finish .oder_info_top dd			{ float:left;font-size:11px;color:#000;padding:3px 20px 0 20px;width:70%; height:21px; margin:0 0 6px; }
	.oder_finish .oder_info_top dd span		{ color:#eee}

	.oder_finish .info_tb_table						{ margin-top:30px; }
	.oder_finish .info_tb_table table				{ width:100%;border-top:3px solid #000;}
	.oder_finish .info_tb_table table th,
	.oder_finish .info_tb_table table td			{ border-bottom:1px solid #555555 }
	.oder_finish .info_tb_table table th			{ font-size:12px;font-weight:700;color:#000;padding:10px 0; }
	.oder_finish .info_tb_table table td			{ padding:20px 0;font-weight:bold;font-size:14px;color:#000;position:relative; }
	.oder_finish .info_tb_table table td .won	{ font-weight:400;font-size:12px;}
	.oder_finish .info_tb_table table .equalSign			{ width:5%; }
	.oder_finish .info_tb_table.info_tb_table2 table .division		{ width:12%; }
	.oder_finish .info_tb_table.info_tb_table2 table td			{ padding:10px 0; font-size:12px; }

	.oder_finish .info_tb_table.info_tb_table3							{ margin-bottom:10px; }
	.oder_finish .info_tb_table.info_tb_table3 td						{ font-size:12px; padding:20px 0; }
	.oder_finish .info_tb_table.info_tb_table3 td.tbPay				{ padding:6px 0 9px; }
	.oder_finish .info_tb_table.info_tb_table3 td p					{ padding:0 8px; display:inline-block; }
	.oder_finish .info_tb_table.info_tb_table3 td p input			{ width:12px; height:12px; }
	.oder_finish .info_tb_table.info_tb_table3 td p .feFoRadio	{ width:12px; height:12px; background-size:12px; margin-top:1px; }
	.oder_finish .info_tb_table.info_tb_table3 td p label			{ font-size:12px; cursor:pointer; }

	.deliverTab								{ height:30px; width:100%; overflow:hidden; margin-top:30px; }
	.deliverTab li								{ float:left; }
	.deliverTab li a							{ width:90px; height:30px; text-align:center; line-height:30px; display:inline-block; font-size:12px; color:#d3d3d3; }
	.deliverTab li a.on						{ background:#000; color:#fff; }

	.deliver_info								 { margin-top:30px}
	.deliverTab1			{ margin-top:0; }
	.deliverTab2			{ display:none; }
	.deliver_info table							 { width:100%;border-bottom:1px solid #000}
	.deliver_info table th,
	.deliver_info table td						{ height:auto;vertical-align:middle;border-top:1px solid #000;font-weight:bold; padding:10px 0;}
	.deliver_info table th						{ color:#000;font-size:12px;background:#eee; width:30%;}
	.deliver_info table td						{ font-size:12px;padding-left:20px;}
	.deliver_info table td .pt10				{ padding:10px 0 0; }
	.deliver_info table td .feFoSelect		{ height:40px; line-height:40px; border-radius:0; font-size:12px; margin:5px 0; }
	.deliver_info table td input				{ height:40px; line-height:40px; border:1px solid #000; width:100%; padding:0 10px; font-size:12px; color:#c0c0c0; font-weight:bold; letter-spacing:-2px; }
	.deliver_info table td input.di_it		{ width:70%; padding:0 10px; font-weight:bold; color:#000; text-align:right; letter-spacing:0; font-size:14px; }
	.deliver_info.deliver_info2 table td						 { font-size:12px;padding-left:20px; color:#000; }
	.deliver_info.deliver_info2 table td span							{ display:block; }
	.deliver_info.deliver_info2 table td span strong				{ color:#e30385; font-weight:normal; }
	.deliver_info.deliver_info2 table td button						{ margin-top:5px; }

	.orderBottom					{ margin-bottom:40px !important; }

	.order-history-top .tab .takeOutInfo							{ position:absolute; top:50%; left:50%; display:inline-block; width:auto; width:100px; height:18px; line-height:18px; background:#e30385; color:#fff; border-radius:10px; margin:10px 0 0 -50px; z-index:1; font-size:11px; }
	.order-history-top .tab .takeOutInfoCon						{ left:auto; right:0; margin:10px 0 0 -50px; }

	.oder_finish .btnWrap [class*=button]		 { border:none;height:60px;line-height:60px;}
	.goods_info									 { display:inline-block;width:100%;border-bottom:1px solid #000;}
	.goods_info	 dl								 { float:left;padding-top:28px;}
	.goods_info	.group							 { float:left;display:inline-block;width:30%;position:relative;}
	.goods_info	.group .gp_tit					 { position:absolute;top:0;text-align:center;left:35%;top:5px;font-size:12px;font-weight:bold;}
	.goods_info	.group.fir						 { width:30%;border-top:1px solid #fff;}
	.goods_info	.group dl.line dt,
	.goods_info	.group dl.line dd				 { border-left:1px solid #000;}
	.goods_info	.group dl.line02 dt,
	.goods_info	.group dl.line02 dd				 { border-right:1px solid #000;}
	.goods_info	.group.gray						 { background:#f6f6f6;border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0}
	.goods_info	.group.gray	.gp_tit				 { color:#000}
	.goods_info	.group.pink						 { background:#fff0f9;border:1px solid #e30385;width:40%;}
	.goods_info	.group.pink	.gp_tit				 { color:#e30385}
	.goods_info	.group.pink .col_p				{ display:inline-block; }
	.goods_info	.group	dl						 { width:50%;}
	.goods_info	dl.goods_img					 { width:70%;}
	.goods_info	dl.num							 { width:30%;}
	.goods_info	dl dt .g_tit				     { border-top:1px solid #000;padding:20px 0;text-align:center;color:#000; font-size:11px;  }
	.goods_info	dl dd							 { border-top:1px solid #000;width:100%;padding:20px 0;text-align:center;color:#000;font-size:12px; height:75px;}
	.goods_info	dl dd + dd						 { border-top:1px solid #000;}
	.goods_info	dl.goods_img dd				     { padding:0;font-size:20px;font-weight:bold;}
	.goods_info	dl dd .img_box					 { display:inline-block;float:left;}
	.goods_info	dl dd .img_box:nth-child(1)		{ display:none; }
	.goods_info	dl dd .goods_cell				 { display:table-cell;padding:15px 0 0 8px;height:100%; vertical-align: middle;text-align:center; }
	.goods_info	dl dd strong					 { font-weight:bold;color:#000;font-size:12px}
	.goods_info	dl dd .dc						 { display:block;font-size:11px;}
	.goods_info .order-prod-name				 { color:#000;font-weight:bold;text-align:left;font-size:11px; }
	.goods_info .order-prod-name span			 { display:block;}


	.col_p										 { color:#e30385 !important; display:block; font-size:10px; }

	.takeOut									{ padding:30px 0 0; text-align:center; font-size:16px; line-height:24px; }
	.takeOut strong						{ color:#e30385; display:block; font-weight:normal; }
	.takeOut span							{ color:#000; display:block; }
	.takeOut .takeOutSel				{ text-align:center; padding:30px 0 40px; height:110px; overflow:hidden; }
	.takeOut .takeOutSel .feFoSelect		{ height:40px; line-height:40px; border-radius:0; width:32%; float:left; font-size:12px; padding:0 30px 0 6px; }
	.takeOut .takeOutSel .feFoSelect + .feFoSelect			{ margin-left:2%; }
	.oder_finish .takeOut .btnWrap					{ margin-top:0; }
	.oder_finish .takeOut .btnWrap button		{ width:100%; height:42px; line-height:42px; font-size:18px; font-weight:bold; letter-spacing:-1px; }

	.takeOut_order												{ width:calc(100% - 20px); margin:0 10px; left:0; padding:60px 0 34px; text-align:center; }
	.takeOut_order .txt1										{ font-size:14px; color:#000; padding:0 0 11px; font-weight:bold; }
	.takeOut_order .txt2										{ font-size:16px; color:#e30385; padding:0 0 20px; }
	.takeOut_order .txt3										{ font-size:11px; color:#000; padding:0 0 20px; }
	.takeOut_order .button-size04						{ width:45%; border:0; min-width:45%; margin:0 5px !important; }
	.takeOut_order .closeBtn.popClsBtn				{ top:20px; right:20px; }
}




