/* seller */

.seller-header {
  width: 100%;
  min-width: 360px;
  height: 64px;
  background-color:#000;
}
.seller-header .logo {
  padding:20px 0 0 0;
  text-align: center;
}
.seller-content {
  padding:64px 0 100px 0;
}
.seller-content .title {
  margin:20px 0 44px 0;
  text-align: center;
  font-size: 43px;
  font-weight: 400;
  color:#000;
}
.notification {
  height: 115px;
  margin-bottom: 160px;
  padding:13px 0;
  text-align: center;
  background-color: #eee;
  box-sizing: border-box;
  font-size: 30px;
  color:#000;
}
.notification span {
  display: block;
  font-size: 25px;
}
.notification span em {
  display: inline-block;
  margin-left: 7px;
  padding-left: 20px;
  position: relative;
}
.notification span em:before {
  display: block;
  content: '';
  width:11px;
  height:23px;
  position:absolute;
  top:8px;
  left:0;
  background:url(../img/common/img_clamp01.gif) no-repeat 0 0;
}
.loginWrap {
  width: 393px;
  margin:0 auto;
}
.loginWrap ul li {
  margin-bottom: 15px;
  position: relative;
}
.loginWrap ul li .input-sizeFull {
  height: 68px;
  text-align: center;
  font-size: 25px;
}
.loginWrap ul li .button {
  min-width: 100%;
  height: 70px;
  line-height: 68px;
  font-size: 33px;
}
.sellerWrap .line01 {
  border-bottom: 2px solid #000;
}
.sellerWrap .notification {
  margin-bottom: 13px;
}
.sellerWrap .tab-type01 li a {
  font-size: 25px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .seller-content {
    padding:32px 10px 50px;
  }
  .seller-content .title {
    margin:10px 0 22px 0;
    font-size: 22px;
  }
  .sellerWrap .tab-type01 li a {
    font-size: 16px;
  }
  .notification {
    height: 72px;
    margin-bottom: 40px;
    font-size: 15px;
  }
  .notification span {
     font-size: 18px;
  }
  .notification span em:before {
    height: 17px;
    top:5px;
    background-size: contain;
  }
  .loginWrap {
    width: 100%;
  }
  .loginWrap ul li .input-sizeFull {
    height: 34px;
    font-size: 14px;
  }
  .loginWrap ul li .button {
    height: 35px;
    line-height: 33px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .notification span em:before {
    top:0;
  }
}
.takeoutOrder {
  margin-top: 34px;
}
.takeoutOrder .title {
  margin:45px 0 5px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #000;
  letter-spacing: -1px;
}
.takeoutOrder .subText {
  margin-bottom: 55px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.takeoutOrder .subText span {
  display: inline-block;
  margin-right: 35px;
  padding-right: 35px;
  position: relative;
}
.takeoutOrder .subText span:after {
  display: block;
  content: '';
  width: 1px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top:9px;
  right: 0;
}
.takeoutOrder .table-type03 table thead th,
.takeoutOrder .table-type03 table tbody td {
  font-size: 22px;
}
.takeoutOrder .table-type03 table thead th {
   font-weight: 500;
}
.takeoutOrder .table-type03 .button {
  height: 40px;
  line-height: 38px;
  font-size: 21px;
  font-weight: 500;
}
.takeoutOrder .table-type05 {
  margin-bottom: 25px;
}
.takeoutOrder .table-type05 table th {
  font-size: 20px;
}
.takeoutOrder .table-type05 table .prod-name {
  font-size: 20px;
}
.takeoutOrder .table-type05 table .prod-name strong {
  display: block;
}
.takeoutOrder .table-type05 table .order-total .discount {
  display: block;
  font-size: 17px;
}
.takeoutOrder .count {
  display: inline-block;
  position: relative;
  margin:0 10px 0 35px;
}
.takeoutOrder .count a {
  display: block;
  width: 13px;
  height: 7px;
  position: absolute;
  left:12px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.takeoutOrder .count .up-count {
  top:-11px;
  background-image: url(../img/common/img_upCount.png);
}
.takeoutOrder .count .down-count {
  bottom:-13px;
  background-image: url(../img/common/img_downCount.png);
}
.takeoutOrder .count .ipt-count-chk {
  width: 38px;
  height: 36px;
  line-height: 36px;
  padding:0;
  border:1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  font-size:26px;
  color:#000;
  text-align: center;
}
.takeoutOrder .button-num {
  min-width: 79px;
  height: 25px;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
}
.takeoutOrder .btnWrap01 {
  position: relative;
}
.takeoutOrder .btnWrap01 [class*=button] {
  min-width: 320px;
  height: 106px;
  line-height: 104px;
  border:0;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: -1px;
}
.takeoutOrder .btnWrap01 .button {
  margin-left: 63px;
}
.takeoutOrder .btnWrap01 .button-finalOrder {
  padding: 0 16px 0 18px;
  text-align: left;
}
.takeoutOrder .btnWrap01 .button-finalOrder > span {
  display: inline-block;
  margin-top: -5px;
  vertical-align: top;
}
.takeoutOrder .btnWrap01 .toolTip {
  display:none;
  width: 243px;
  height: 93px;
  padding:35px 13px 15px;
  background-color: #333;
  opacity: 0.8;
  box-sizing: border-box;
  position: absolute;
  top:-63px;
  left:407px;
  font-size: 16px;
  font-weight: 300;
  color:#fff;
}
.takeoutOrder .btnWrap01 .toolTip a {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  top:7px;
  right:14px;
}
@media only screen and (max-width: 767px) {
  .takeoutOrder .title {
    margin:15px 0 5px 0;
    font-size: 25px;
  }
  .takeoutOrder .subText {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .takeoutOrder .subText span {
    margin-right: 15px;
    padding-right: 15px;
  }
  .takeoutOrder .subText span:after {
    height: 17px;
     top:7px;
  }

  .takeoutOrder .table-type03 table thead th,
  .takeoutOrder .table-type03 table tbody td {
    font-size: 14px;
  }
  .takeoutOrder .table-type03 .button {
    min-width: 90px;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
  }
  .takeoutOrder .table-type05 table th {
    padding:14px 0;
    font-size: 14px;
  }
  .table-type05 table td {
    padding:22px 0 21px;
  }
  .table-type05 table td,
  .takeoutOrder .table-type05 table .prod-name {
    font-size: 13px;
  }
  .takeoutOrder .table-type05 table .order-total .discount {
    font-size: 12px;
  }
  .takeoutOrder .button-num {
    display: block;
    min-width: 70px;
    margin:20px auto 0;
    font-size: 14px;
  }
  .takeoutOrder .count {
    margin:0 10px 0 15px;
  }
  .takeoutOrder .count a {
    left:8px;
  }
  .takeoutOrder .count .ipt-count-chk {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }
  .takeoutOrder .btnWrap01 [class*=button] {
    min-width: 100%;
    height: 56px;
    line-height: 54px;
    font-size: 22px;
  }
  .takeoutOrder .btnWrap01 .button {
    margin:10px 0 0 0;
  }
  .takeoutOrder .btnWrap01 .button-finalOrder {
    text-align: center;
  }
  .takeoutOrder .btnWrap01 .toolTip {
    left:0;
  }
}
@media only screen and (max-width: 360px) {
  .takeoutOrder .subText span:after {
    top:3px;
  }
}
.seller-modal .layerCont {
  padding:45px 63px 45px;
}
.seller-modal .layerCont.scroll {
  height: 675px;
  overflow-y: auto;
}
.seller-modal h3 {
  text-align: left;
  font-size: 24px;
  color:#000;
}
.seller-modal .popClsBtn {
  position: absolute;
  top:48px;
  right: 70px;
  cursor:pointer;
}
.searchWrap {
  width: 440px;
  margin-bottom: 40px;
  position: relative;
}
.searchWrap input.popSearchInp {
  width: 100%;
  height: 41px;
  padding: 0 40px 0 10px;
  border:0;
  border-bottom: 4px solid #000;
  font-size: 18px;
  font-weight: 700;
  color:#000;
}
.searchWrap button {
  position: absolute;
  top:0;
  right: 0;
  width: 31px;
  height: 31px;
  background:url(../img/common/icon_search01.png) no-repeat 0 0;
  cursor: pointer;
}
.otherProd li {
  margin-bottom: 15px;
  padding:8px 0 8px 15px;
  border:1px solid #d3d3d3;
  font-size: 22px;
  color:#808080;
}
.otherProd li span {
  display: inline-block;
  vertical-align: middle;
  margin:0 18px 0 10px;
}
.otherProd li .button-choice {
  min-width: 94px;
  height: 39px;
  line-height:37px;
  font-size: 22px;
  font-weight: 400;
}
.cancelList {
  margin-bottom: 53px;
  padding-left: 54px
}
.cancelList li {
  margin-bottom: 15px;
}
.cancelList li .feFoRadio {
  width: 23px;
  height: 23px;
  background-image: url(../img/common/img_radioOff01.png);
}
.cancelList li .feFoRadio.checked {
  background-image: url(../img/common/img_radioOn01.png);
}
.cancelList .labelTxt {
  font-size: 20px;
  color:#000;
}
.cancelList .input {
  width: 250px;
  height: 38px;
  margin-left: 10px;
}
.seller-modal03 h3 {
  padding:40px 0 0 70px;
}
.seller-modal03 h4 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color:#000;
}
.seller-modal03 .btnWrap .button {
  min-width: 124px;
  height: 45px;
  line-height: 43px;
  font-size: 21px;
}
.bookingCC {
  margin-bottom: 60px;
  padding-top:30px;
  border-top:1px solid #c9c9c9;
}
.customer-infor {
  position: relative;
}
.customer-infor .input {
  width: 206px;
  height: 49px;
   margin: 0 10px 0 0;
  padding:0 8px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  color:#000;
}
.customer-infor .input-phone {
  margin: 0 0 0 10px;
  padding: 0 87px 0 10px;
  position: relative;
}
.customer-infor .button {
  min-width: 74px;
  height: 30px;
  line-height: 28px;
  position: absolute;
  top:9px;
  right: 13px;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
}
.select-date {
  margin-bottom: 45px;
}
.select-dateTable {
  width: 353px;
  margin:0 auto;
  position: relative;
}
.select-dateTable table {
  border:1px solid #e6e6e6;
}
.select-dateTable table th {
  border-bottom: 1px solid #eee;
  background-color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color:#000;
}
.select-dateTable table th.borderL {
  border-left:1px solid #000;
}
.select-dateTable table td {
  padding:9px 0 8px;
  font-size: 17px;
  font-weight: 300;
  color:#000;
  position: relative;
}
.select-dateTable table td.borderL {
   border-left:1px solid #000;
}
.select-dateTable .input-date {
  width: 168px;
  height: 32px;
  padding:0 10px 0 45px;
  border:0;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color:#000;
}
.select-dateTable .input-date::placeholder {
    font-size: 17px;
    font-weight: 300;
}
.select-dateTable .ui-datepicker-trigger {
  position: absolute;
  top:8px;
  left:10px;
}
.other-questions .textBox {
  width: 446px;
  height: 118px;
  padding:10px 5px;
  font-size: 16px;
  font-weight: 300;
  color:#000;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .seller-modal h3 {
    padding: 20px 40px 20px 20px;
    font-size: 16px;
  }
  .seller-modal .layerCont {
    padding:15px 20px;
  }
  .seller-modal .layerCont.scroll {
    height: 505px;
  }
  .seller-modal .popClsBtn {
    top:21px;
    right: 20px;
  }
  .searchWrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .otherProd li {
    font-size: 12px;
  }
  .otherProd li .button-choice {
    min-width: 70px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
  }
  .cancelList .labelTxt {
    font-size: 12px;
  }
  .cancelList .input {
    width: 160px;
    height: 25px;
  }
  .seller-modal03 h4 {
    font-size: 14px;
  }
  .seller-modal03 .btnWrap .button {
    min-width: 105px;
    height: 35px;
    line-height: 33px;
    font-size: 13px;
  }
  .customer-infor .input {
    width: 140px;
    font-size: 13px;
  }
  .customer-infor .input-phone {
    padding: 0 52px 0 10px;
  }
  .customer-infor .button {
    min-width: 45px;
    right: 6px;
    font-size: 13px;
  }
  .select-dateTable {
    width: 310px;
    margin:0;
  }
  .select-dateTable table th,
  .select-dateTable table td {
    font-size: 13px;
  }
  .select-dateTable .input-date {
    width: 126px;
    font-size: 13px;
  }
  .select-dateTable .input-date::placeholder {
    font-size: 13px;
  }
  .other-questions .textBox {
    width: 319px;
    height: 95px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 360px) {
  .customer-infor .input {
    width: 135px;
    font-size: 12px;
  }
}
