@charset 'UTF-8';
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 100;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Thin.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Thin.woff) format('woff'),
	url(/asset/font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Light.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Light.woff) format('woff'),
	url(/asset/font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Regular.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Regular.woff) format('woff'),
	url(/asset/font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 500;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Medium.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Medium.woff) format('woff'),
	url(/asset/font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 700;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Bold.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Bold.woff) format('woff'),
	url(/asset/font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 900;
	font-style: normal;
	src: url(/asset/font/NotoSansKR-Black.woff2) format('woff2'),
	url(/asset/font/NotoSansKR-Black.woff) format('woff'),
	url(/asset/font/NotoSansKR-Black.otf) format('opentype');
}