@charset 'UTF-8';
@font-face {
	font-family: 'Noto Sans KR Thin';
	font-weight: 100;
	font-style: normal;
	src: url(../../font/NotoSansKR-Thin.eot);
}
@font-face {
	font-family: 'Noto Sans KR Light';
	font-weight: 300;
	font-style: normal;
	src: url(../../font/NotoSansKR-Light.eot);
}
@font-face {
	font-family: 'Noto Sans KR Regular';
	font-weight: 400;
	font-style: normal;
	src: url(../../font/NotoSansKR-Regular.eot);
}
@font-face {
	font-family: 'Noto Sans KR Medium';
	font-weight: 500;
	font-style: normal;
	src: url(../../font/NotoSansKR-Medium.eot);
}
@font-face {
	font-family: 'Noto Sans KR Bold';
	font-weight: 700;
	font-style: normal;
	src: url(../../font/NotoSansKR-Bold.eot);
}
@font-face {
	font-family: 'Noto Sans KR Black';
	font-weight: 900;
	font-style: normal;
	src: url(../../font/NotoSansKR-Black.eot);
}